## Importando os Dados:

In [2]:
from google.colab import drive

drive.mount('/Banco_de_Dados')

Mounted at /Banco_de_Dados

In [3]:
#Importações
import pandas as pd

# Analise de Dados:
Agora que ja temos um versão mais reduzida do nosso banco de dados podemos começar a fazer nossa exploração:

## Raça x Nota

### Inicializar

In [4]:
#Selecionado as Colunas que vamos utilizar:
colunas = ['NU_INSCRICAO','TP_COR_RACA','TP_PRESENCA_CN','TP_PRESENCA_CH','TP_PRESENCA_LC','TP_PRESENCA_MT','NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC','NU_NOTA_MT','NU_NOTA_REDACAO']

dp_Enem2017 = pd.read_csv("/Banco_de_Dados/MyDrive/Iniciação Cientifica/Banco_de_Dados/microdados_enem_2017/DADOS/MICRODADOS_ENEM_2017.csv",sep=";",encoding="ISO-8859-1",usecols=colunas)
dp_Enem2018 = pd.read_csv("/Banco_de_Dados/MyDrive/Iniciação Cientifica/Banco_de_Dados/microdados_enem_2018/DADOS/MICRODADOS_ENEM_2018.csv",sep=";",encoding="ISO-8859-1",usecols=colunas)
dp_Enem2019 = pd.read_csv("/Banco_de_Dados/MyDrive/Iniciação Cientifica/Banco_de_Dados/microdados_enem_2019/DADOS/MICRODADOS_ENEM_2019.csv",sep=";",encoding="ISO-8859-1",usecols=colunas)

In [5]:
#Memoria do Banco de Dados de 2017
dp_Enem2017.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6731341 entries, 0 to 6731340
Data columns (total 11 columns):
 #   Column           Dtype
---  ------           -----
 0   NU_INSCRICAO     int64
 1   TP_COR_RACA      int64
 2   TP_PRESENCA_CN   float64
 3   TP_PRESENCA_CH   float64
 4   TP_PRESENCA_LC   float64
 5   TP_PRESENCA_MT   float64
 6   NU_NOTA_CN       float64
 7   NU_NOTA_CH       float64
 8   NU_NOTA_LC       float64
 9   NU_NOTA_MT       float64
 10  NU_NOTA_REDACAO  float64
dtypes: float64(9), int64(2)
memory usage: 564.9 MB

In [6]:
#Memoria do Banco de Dados de 2018
dp_Enem2018.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5513747 entries, 0 to 5513746
Data columns (total 11 columns):
 #   Column           Dtype
---  ------           -----
 0   NU_INSCRICAO     int64
 1   TP_COR_RACA      int64
 2   TP_PRESENCA_CN   float64
 3   TP_PRESENCA_CH   float64
 4   TP_PRESENCA_LC   float64
 5   TP_PRESENCA_MT   float64
 6   NU_NOTA_CN       float64
 7   NU_NOTA_CH       float64
 8   NU_NOTA_LC       float64
 9   NU_NOTA_MT       float64
 10  NU_NOTA_REDACAO  float64
dtypes: float64(9), int64(2)
memory usage: 462.7 MB

In [7]:
#Memoria do Banco de Dados de 2019
dp_Enem2019.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5095270 entries, 0 to 5095269
Data columns (total 11 columns):
 #   Column           Dtype
---  ------           -----
 0   NU_INSCRICAO     int64
 1   TP_COR_RACA      int64
 2   TP_PRESENCA_CN   int64
 3   TP_PRESENCA_CH   int64
 4   TP_PRESENCA_LC   int64
 5   TP_PRESENCA_MT   int64
 6   NU_NOTA_CN       float64
 7   NU_NOTA_CH       float64
 8   NU_NOTA_LC       float64
 9   NU_NOTA_MT       float64
 10  NU_NOTA_REDACAO  float64
dtypes: float64(5), int64(6)
memory usage: 427.6 MB

In [8]:
#Dicionario para converter os Numeros em Texto
dictraca = {
  0	: "Não declarado",
  1	: "Branca",
  2	: "Preta",
  3	: "Parda",
  4	: "Amarela",
  5	: "Indígena" 
}

#Filtros Genericos
notas = ['NU_NOTA_MT','NU_NOTA_CH','NU_NOTA_LC','NU_NOTA_CN','NU_NOTA_REDACAO']
presenca = ['TP_PRESENCA_CN','TP_PRESENCA_CH','TP_PRESENCA_LC','TP_PRESENCA_MT']

###Analise 2017

In [39]:
filtro_ausente    = ((dp_Enem2017['TP_PRESENCA_CN'] == 0) | (dp_Enem2017['TP_PRESENCA_CH'] == 0) | (dp_Enem2017['TP_PRESENCA_LC'] == 0) | (dp_Enem2017['TP_PRESENCA_MT'] == 0))
filtro_presente   = ((dp_Enem2017['TP_PRESENCA_CN'] == 1) & (dp_Enem2017['TP_PRESENCA_CH'] == 1) & (dp_Enem2017['TP_PRESENCA_LC'] == 1) & (dp_Enem2017['TP_PRESENCA_MT'] == 1))
filtro_eliminado  = ((dp_Enem2017['TP_PRESENCA_CN'] == 2) | (dp_Enem2017['TP_PRESENCA_CH'] == 2) | (dp_Enem2017['TP_PRESENCA_LC'] == 2) | (dp_Enem2017['TP_PRESENCA_MT'] == 2))

In [40]:
# Dividindo o Banco de Dadoo:
selecao_linhas = ['NU_INSCRICAO']
ausentes    = dp_Enem2017.loc[filtro_ausente,selecao_linhas]

eliminados  = dp_Enem2017.loc[filtro_eliminado,selecao_linhas]

presentes   = dp_Enem2017.loc[filtro_presente,selecao_linhas]

au = ausentes.count()
el = eliminados.count()
pr = presentes.count()

total = au + el + pr

print("Ausentes " + str(au))
print("Eliminados " + str(el))
print("Presentes " + str(pr))

Ausentes NU_INSCRICAO    2303092
dtype: int64
Eliminados NU_INSCRICAO    3275
dtype: int64
Presentes NU_INSCRICAO    4426755
dtype: int64

In [44]:
percent = total 
percent

NU_INSCRICAO    6733122
dtype: int64

In [ ]:
# Dividindo o Banco de Dadoo:
selecao_linhas = ['NU_INSCRICAO','TP_COR_RACA']
ausentes    = dp_Enem2017.loc[filtro_ausente,selecao_linhas]
ausentes['COR/RACA'] = [dictraca[valor] for valor in ausentes['TP_COR_RACA']] # <- Criando uma coluna nova para ajudar na identificação de alguns valores

eliminados  = dp_Enem2017.loc[filtro_eliminado,selecao_linhas]
eliminados['COR/RACA'] = [dictraca[valor] for valor in eliminados['TP_COR_RACA']]

selecao_linhas = ['NU_INSCRICAO','TP_COR_RACA'] + notas
presentes   = dp_Enem2017.loc[filtro_presente,selecao_linhas]
presentes['COR/RACA'] = [dictraca[valor] for valor in presentes['TP_COR_RACA']]

In [ ]:
#Fazendo a Contagem do Numero de Ausentes
filtro = ['COR/RACA','NU_INSCRICAO',]
ausentes.filter(filtro).groupby('COR/RACA').count().sort_values(by=['NU_INSCRICAO'],ascending=False)

               NU_INSCRICAO
COR/RACA
Parda               1114536
Branca               735669
Preta                336940
Amarela               53014
Não declarado         44957
Indígena              17976

In [ ]:
#Contegam de Pessoas Eliminadas
filtro = ['COR/RACA','NU_INSCRICAO']
eliminados.filter(filtro).groupby('COR/RACA').count().sort_values(by=['NU_INSCRICAO'],ascending=False)

               NU_INSCRICAO
COR/RACA
Parda                  1562
Branca                 1156
Preta                   403
Não declarado            67
Amarela                  64
Indígena                 23

In [ ]:
# Media das Notas de Cada Prova
filtro = ['COR/RACA'] + notas
presentes.filter(filtro).groupby('COR/RACA').mean().sort_values(by=['NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC','NU_NOTA_MT'],ascending=False)

               NU_NOTA_MT  NU_NOTA_CH  NU_NOTA_LC  NU_NOTA_CN  NU_NOTA_REDACAO
COR/RACA
Branca         546.330610  540.724333  528.889004  527.789742       558.444776
Não declarado  539.258073  541.342142  526.354129  527.432624       541.002775
Amarela        521.652065  519.222111  510.758919  511.247202       530.123749
Parda          503.015649  509.111526  501.439131  500.529702       513.018898
Preta          495.092065  509.595080  502.299384  498.624714       506.208305
Indígena       480.145389  489.108715  481.447477  485.706894       460.838142

In [ ]:
#Valores Maximos para Cada Prova
presentes.filter(filtro).groupby('COR/RACA').max().sort_values(by=['NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC','NU_NOTA_MT'],ascending=False)

               NU_NOTA_MT  NU_NOTA_CH  NU_NOTA_LC  NU_NOTA_CN  NU_NOTA_REDACAO
COR/RACA
Branca              993.9       868.3       788.8       885.6           1000.0
Parda               993.9       845.9       774.3       853.0           1000.0
Amarela             987.0       819.1       756.3       852.1           1000.0
Não declarado       993.9       854.3       779.3       839.3           1000.0
Preta               988.8       845.2       746.9       809.0           1000.0
Indígena            912.6       771.2       690.9       764.4            980.0

In [ ]:
#Valor Minimo da Prova de MT
selecao_linhas = ['NU_INSCRICAO','TP_COR_RACA','COR/RACA'] + notas
minimos = presentes.loc[(presentes['NU_NOTA_MT'] != 0),selecao_linhas]
filtro = ['COR/RACA','NU_NOTA_MT'] 
minimos.filter(filtro).groupby('COR/RACA').min().sort_values(by=['NU_NOTA_MT'],ascending=False)

               NU_NOTA_MT
COR/RACA
Indígena            341.0
Amarela             328.1
Não declarado       313.8
Parda               311.6
Preta               310.9
Branca              310.4

In [ ]:
#Valor Minimo da Prova de LC
minimos = presentes.loc[(presentes['NU_NOTA_LC'] != 0),selecao_linhas]
filtro = ['COR/RACA','NU_NOTA_LC'] 
minimos.filter(filtro).groupby('COR/RACA').min().sort_values(by=['NU_NOTA_LC'],ascending=False)

               NU_NOTA_LC
COR/RACA
Amarela             299.6
Branca              299.6
Indígena            299.6
Não declarado       299.6
Parda               299.6
Preta               299.6

In [ ]:
#Valor Minimo da Prova de CN
minimos = presentes.loc[(presentes['NU_NOTA_CN'] != 0),selecao_linhas]
filtro = ['COR/RACA','NU_NOTA_CN'] 
minimos.filter(filtro).groupby('COR/RACA').min().sort_values(by=['NU_NOTA_CN'],ascending=False)

               NU_NOTA_CN
COR/RACA
Indígena            307.7
Não declarado       307.3
Amarela             306.1
Parda               298.3
Branca              298.2
Preta               298.0

In [ ]:
##Valor Minimo da Prova de CH
minimos = presentes.loc[(presentes['NU_NOTA_CH'] != 0),selecao_linhas]
filtro = ['COR/RACA','NU_NOTA_CH'] 
minimos.filter(filtro).groupby('COR/RACA').min().sort_values(by=['NU_NOTA_CH'],ascending=False)

               NU_NOTA_CH
COR/RACA
Indígena            334.7
Não declarado       322.4
Amarela             317.2
Preta               315.9
Parda               315.6
Branca              310.7

In [ ]:
#Criando a Tabela de Soluções
df_resultado = pd.DataFrame({'Raca/Cor': ["Não declarado","Branca","Preta","Parda","Amarela","Indígena"]})
df_resultado.head()

#Adicionando Ausentes
novo = ausentes.groupby('TP_COR_RACA').count().sort_values(by=['TP_COR_RACA'],ascending=True)
df_resultado['Ausentes'] = novo.loc[:,'NU_INSCRICAO']

#Adicionando Presentes
novo =  presentes.groupby('TP_COR_RACA').count().sort_values(by=['TP_COR_RACA'],ascending=True)
df_resultado['Presentes'] = novo.loc[:,'NU_INSCRICAO']

#Adicionando Media dos Candidatos
filtro = ['TP_COR_RACA'] + notas
novo = presentes.filter(filtro).groupby('TP_COR_RACA').mean().sort_values(by=['TP_COR_RACA'])
df_resultado['Med_CN'] = novo.loc[:,'NU_NOTA_CN']      # Ciencias Naturais
df_resultado['Med_CH'] = novo.loc[:,'NU_NOTA_CH']      # Ciencias Humanas
df_resultado['Med_LC'] = novo.loc[:,'NU_NOTA_LC']      # Linguagens 
df_resultado['Med_MT'] = novo.loc[:,'NU_NOTA_MT']      # Matematica
df_resultado['Med_RD'] = novo.loc[:,'NU_NOTA_REDACAO'] # Redação

#Adicionando as Notas Mais Altas
novo = presentes.filter(filtro).groupby('TP_COR_RACA').max().sort_values(by=['TP_COR_RACA'],ascending=True)
df_resultado['Max_CN'] = novo.loc[:,'NU_NOTA_CN']      # Ciencias Naturais
df_resultado['Max_CH'] = novo.loc[:,'NU_NOTA_CH']      # Ciencias Humanas
df_resultado['Max_LC'] = novo.loc[:,'NU_NOTA_LC']      # Linguagens
df_resultado['Max_MT'] = novo.loc[:,'NU_NOTA_MT']      # Matematica
df_resultado['Max_RD'] = novo.loc[:,'NU_NOTA_REDACAO'] # Redação

#Adicionando as Menores Notas não nulas
minimos = presentes.loc[(presentes['NU_NOTA_CN'] != 0),selecao_linhas] # Ciencias Naturais
novo = minimos.groupby('TP_COR_RACA').min().sort_values(by=['TP_COR_RACA'],ascending=True)
df_resultado['Min_CN'] = novo.loc[:, 'NU_NOTA_CN']

minimos = presentes.loc[(presentes['NU_NOTA_CH'] != 0),selecao_linhas] # Ciencias Humanas
novo = minimos.groupby('TP_COR_RACA').min().sort_values(by=['TP_COR_RACA'],ascending=True)
df_resultado['Min_CH'] = novo.loc[:, 'NU_NOTA_CH']

minimos = presentes.loc[(presentes['NU_NOTA_LC'] != 0),selecao_linhas] # Linguagem
novo = minimos.groupby('TP_COR_RACA').min().sort_values(by=['TP_COR_RACA'],ascending=True)
df_resultado['Min_LC'] = novo.loc[:,'NU_NOTA_LC']

minimos = presentes.loc[(presentes['NU_NOTA_MT'] != 0),selecao_linhas] # Matematica
novo = minimos.groupby('TP_COR_RACA').min().sort_values(by=['TP_COR_RACA'],ascending=True)
df_resultado['Min_MT'] = novo.loc[:,'NU_NOTA_MT'] 

minimos = presentes.loc[(presentes['NU_NOTA_REDACAO'] != 0),selecao_linhas] # Redação
novo = minimos.groupby('TP_COR_RACA').min().sort_values(by=['TP_COR_RACA'],ascending=True)
df_resultado['Min_RD'] = novo.loc[:,'NU_NOTA_REDACAO']

In [ ]:
#Resultado Final
df_resultado.head(6)

,Raca/Cor,Ausentes,Presentes,Med_CN,Med_CH,Med_LC,Med_MT,Med_RD,Max_CN,Max_CH,Max_LC,Max_MT,Max_RD,Min_CN,Min_CH,Min_LC,Min_MT,Min_RD
0,Não declarado,44957,82511,527.432624,541.342142,526.354129,539.258073,541.002775,839.3,854.3,779.3,993.9,1000.0,307.3,322.4,299.6,313.8,40.0
1,Branca,735669,1619098,527.789742,540.724333,528.889004,546.330610,558.444776,885.6,868.3,788.8,993.9,1000.0,298.2,310.7,299.6,310.4,40.0
2,Preta,336940,557769,498.624714,509.595080,502.299384,495.092065,506.208305,809.0,845.2,746.9,988.8,1000.0,298.0,315.9,299.6,310.9,40.0
3,Parda,1114536,2039254,500.529702,509.111526,501.439131,503.015649,513.018898,853.0,845.9,774.3,993.9,1000.0,298.3,315.6,299.6,311.6,40.0
4,Amarela,53014,102304,511.247202,519.222111,510.758919,521.652065,530.123749,852.1,819.1,756.3,987.0,1000.0,306.1,317.2,299.6,328.1,40.0
5,Indígena,17976,25819,485.706894,489.108715,481.447477,480.145389,460.838142,764.4,771.2,690.9,912.6,980.0,307.7,334.7,299.6,341.0,40.0

In [ ]:
df_raca_resultado2017 = df_resultado
df_raca_resultado2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Raca/Cor   6 non-null      object
 1   Ausentes   6 non-null      int64
 2   Presentes  6 non-null      int64
 3   Med_CN     6 non-null      float64
 4   Med_CH     6 non-null      float64
 5   Med_LC     6 non-null      float64
 6   Med_MT     6 non-null      float64
 7   Med_RD     6 non-null      float64
 8   Max_CN     6 non-null      float64
 9   Max_CH     6 non-null      float64
 10  Max_LC     6 non-null      float64
 11  Max_MT     6 non-null      float64
 12  Max_RD     6 non-null      float64
 13  Min_CN     6 non-null      float64
 14  Min_CH     6 non-null      float64
 15  Min_LC     6 non-null      float64
 16  Min_MT     6 non-null      float64
 17  Min_RD     6 non-null      float64
dtypes: float64(15), int64(2), object(1)
memory usage: 992.0+ bytes

###Analise 2018

In [32]:
filtro_ausente    = ((dp_Enem2018['TP_PRESENCA_CN'] == 0) | (dp_Enem2018['TP_PRESENCA_CH'] == 0) | (dp_Enem2018['TP_PRESENCA_LC'] == 0) | (dp_Enem2018['TP_PRESENCA_MT'] == 0))
filtro_presente   = ((dp_Enem2018['TP_PRESENCA_CN'] == 1) & (dp_Enem2018['TP_PRESENCA_CH'] == 1) & (dp_Enem2018['TP_PRESENCA_LC'] == 1) & (dp_Enem2018['TP_PRESENCA_MT'] == 1))
filtro_eliminado  = ((dp_Enem2018['TP_PRESENCA_CN'] == 2) | (dp_Enem2018['TP_PRESENCA_CH'] == 2) | (dp_Enem2018['TP_PRESENCA_LC'] == 2) | (dp_Enem2018['TP_PRESENCA_MT'] == 2))

In [33]:
# Dividindo o Banco de Dadoo:
selecao_linhas = ['NU_INSCRICAO']
ausentes    = dp_Enem2018.loc[filtro_ausente,selecao_linhas]

eliminados  = dp_Enem2018.loc[filtro_eliminado,selecao_linhas]

presentes   = dp_Enem2018.loc[filtro_presente,selecao_linhas]

au = ausentes.count()
el = eliminados.count()
pr = presentes.count()

total = au + el + pr

print("Ausentes " + str(au))
print("Eliminados " + str(el))
print("Presentes " + str(pr))

Ausentes NU_INSCRICAO    1619005
dtype: int64
Eliminados NU_INSCRICAO    2584
dtype: int64
Presentes NU_INSCRICAO    3893743
dtype: int64

In [37]:
percent = au / total * 100
percent

NU_INSCRICAO    5515332
dtype: int64

In [ ]:
selecao_linhas = ['NU_INSCRICAO','TP_COR_RACA']
ausentes    = dp_Enem2018.loc[filtro_ausente,selecao_linhas]
ausentes['COR/RACA'] = [dictraca[valor] for valor in ausentes['TP_COR_RACA']]

eliminados  = dp_Enem2018.loc[filtro_eliminado,selecao_linhas]
eliminados['COR/RACA'] = [dictraca[valor] for valor in eliminados['TP_COR_RACA']]

selecao_linhas = ['NU_INSCRICAO','TP_COR_RACA'] + notas
presentes   = dp_Enem2018.loc[filtro_presente,selecao_linhas]
presentes['COR/RACA'] = [dictraca[valor] for valor in presentes['TP_COR_RACA']]

In [ ]:
filtro = ['COR/RACA','NU_INSCRICAO',]
ausentes.filter(filtro).groupby('COR/RACA').count().sort_values(by=['NU_INSCRICAO'],ascending=False)

               NU_INSCRICAO
COR/RACA
Parda                773173
Branca               540466
Preta                221187
Não declarado         36431
Amarela               36083
Indígena              11665

In [ ]:
filtro = ['COR/RACA','NU_INSCRICAO']
eliminados.filter(filtro).groupby('COR/RACA').count().sort_values(by=['NU_INSCRICAO'],ascending=False)

               NU_INSCRICAO
COR/RACA
Parda                  1142
Branca                  977
Preta                   332
Amarela                  64
Não declarado            54
Indígena                 15

In [ ]:
filtro = ['COR/RACA'] + notas
presentes.filter(filtro).groupby('COR/RACA').mean().sort_values(by=['NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC','NU_NOTA_MT'],ascending=False)

               NU_NOTA_MT  NU_NOTA_CH  NU_NOTA_LC  NU_NOTA_CN  NU_NOTA_REDACAO
COR/RACA
Branca         562.303293  589.656279  547.598282  512.493919       552.253289
Não declarado  551.368946  583.407703  540.860193  506.130792       528.389273
Amarela        539.639352  568.438967  527.291979  496.388324       515.657570
Parda          519.984369  558.862876  516.294208  482.311925       495.069818
Preta          511.082194  558.685321  516.504167  478.889744       486.929237
Indígena       496.959365  536.098430  494.329208  465.717097       442.319320

In [ ]:
presentes.filter(filtro).groupby('COR/RACA').max().sort_values(by=['NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC','NU_NOTA_MT'],ascending=False)

               NU_NOTA_MT  NU_NOTA_CH  NU_NOTA_LC  NU_NOTA_CN  NU_NOTA_REDACAO
COR/RACA
Parda               996.1       850.4       816.9       869.6           1000.0
Branca              996.1       850.4       803.8       869.6           1000.0
Amarela             996.1       850.4       779.8       869.6            980.0
Não declarado       996.1       828.1       802.9       869.6            980.0
Preta               988.9       821.0       775.9       838.3           1000.0
Indígena            993.0       787.8       738.7       749.2            980.0

In [ ]:
selecao_linhas = ['NU_INSCRICAO','TP_COR_RACA','COR/RACA'] + notas
minimos = presentes.loc[(presentes['NU_NOTA_MT'] != 0),selecao_linhas]
filtro = ['COR/RACA','NU_NOTA_MT'] 
minimos.filter(filtro).groupby('COR/RACA').min().sort_values(by=['NU_NOTA_MT'],ascending=False)

               NU_NOTA_MT
COR/RACA
Indígena            369.4
Não declarado       368.1
Preta               365.0
Amarela             361.6
Branca              360.3
Parda               360.0

In [ ]:
minimos = presentes.loc[(presentes['NU_NOTA_LC'] != 0),selecao_linhas]
filtro = ['COR/RACA','NU_NOTA_LC'] 
minimos.filter(filtro).groupby('COR/RACA').min().sort_values(by=['NU_NOTA_LC'],ascending=False)

               NU_NOTA_LC
COR/RACA
Amarela             318.8
Branca              318.8
Indígena            318.8
Não declarado       318.8
Preta               315.6
Parda               314.1

In [ ]:
minimos = presentes.loc[(presentes['NU_NOTA_CN'] != 0),selecao_linhas]
filtro = ['COR/RACA','NU_NOTA_CN'] 
minimos.filter(filtro).groupby('COR/RACA').min().sort_values(by=['NU_NOTA_CN'],ascending=False)

               NU_NOTA_CN
COR/RACA
Amarela             362.5
Branca              362.5
Indígena            362.5
Não declarado       362.5
Parda               362.5
Preta               362.5

In [ ]:
minimos = presentes.loc[(presentes['NU_NOTA_CH'] != 0),selecao_linhas]
filtro = ['COR/RACA','NU_NOTA_CH'] 
minimos.filter(filtro).groupby('COR/RACA').min().sort_values(by=['NU_NOTA_CH'],ascending=False)

               NU_NOTA_CH
COR/RACA
Indígena            394.5
Não declarado       394.5
Preta               330.7
Amarela             328.1
Branca              304.2
Parda               302.2

In [ ]:
#Criando a Tabela de Soluções
df_resultado = pd.DataFrame({'Raca/Cor': ["Não declarado","Branca","Preta","Parda","Amarela","Indígena"]})
df_resultado.head()

#Adicionando Ausentes
novo = ausentes.groupby('TP_COR_RACA').count().sort_values(by=['TP_COR_RACA'],ascending=True)
df_resultado['Ausentes'] = novo.loc[:,'NU_INSCRICAO']

#Adicionando Presentes
novo =  presentes.groupby('TP_COR_RACA').count().sort_values(by=['TP_COR_RACA'],ascending=True)
df_resultado['Presentes'] = novo.loc[:,'NU_INSCRICAO']

#Adicionando Media dos Candidatos
filtro = ['TP_COR_RACA'] + notas
novo = presentes.filter(filtro).groupby('TP_COR_RACA').mean().sort_values(by=['TP_COR_RACA'])
df_resultado['Med_CN'] = novo.loc[:,'NU_NOTA_CN']      # Ciencias Naturais
df_resultado['Med_CH'] = novo.loc[:,'NU_NOTA_CH']      # Ciencias Humanas
df_resultado['Med_LC'] = novo.loc[:,'NU_NOTA_LC']      # Linguagens 
df_resultado['Med_MT'] = novo.loc[:,'NU_NOTA_MT']      # Matematica
df_resultado['Med_RD'] = novo.loc[:,'NU_NOTA_REDACAO'] # Redação

#Adicionando as Notas Mais Altas
novo = presentes.filter(filtro).groupby('TP_COR_RACA').max().sort_values(by=['TP_COR_RACA'],ascending=True)
df_resultado['Max_CN'] = novo.loc[:,'NU_NOTA_CN']      # Ciencias Naturais
df_resultado['Max_CH'] = novo.loc[:,'NU_NOTA_CH']      # Ciencias Humanas
df_resultado['Max_LC'] = novo.loc[:,'NU_NOTA_LC']      # Linguagens
df_resultado['Max_MT'] = novo.loc[:,'NU_NOTA_MT']      # Matematica
df_resultado['Max_RD'] = novo.loc[:,'NU_NOTA_REDACAO'] # Redação

#Adicionando as Menores Notas não nulas
minimos = presentes.loc[(presentes['NU_NOTA_CN'] != 0),selecao_linhas] # Ciencias Naturais
novo = minimos.groupby('TP_COR_RACA').min().sort_values(by=['TP_COR_RACA'],ascending=True)
df_resultado['Min_CN'] = novo.loc[:, 'NU_NOTA_CN']

minimos = presentes.loc[(presentes['NU_NOTA_CH'] != 0),selecao_linhas] # Ciencias Humanas
novo = minimos.groupby('TP_COR_RACA').min().sort_values(by=['TP_COR_RACA'],ascending=True)
df_resultado['Min_CH'] = novo.loc[:, 'NU_NOTA_CH']

minimos = presentes.loc[(presentes['NU_NOTA_LC'] != 0),selecao_linhas] # Linguagem
novo = minimos.groupby('TP_COR_RACA').min().sort_values(by=['TP_COR_RACA'],ascending=True)
df_resultado['Min_LC'] = novo.loc[:,'NU_NOTA_LC']

minimos = presentes.loc[(presentes['NU_NOTA_MT'] != 0),selecao_linhas] # Matematica
novo = minimos.groupby('TP_COR_RACA').min().sort_values(by=['TP_COR_RACA'],ascending=True)
df_resultado['Min_MT'] = novo.loc[:,'NU_NOTA_MT'] 

minimos = presentes.loc[(presentes['NU_NOTA_REDACAO'] != 0),selecao_linhas] # Matematica
novo = minimos.groupby('TP_COR_RACA').min().sort_values(by=['TP_COR_RACA'],ascending=True)
df_resultado['Min_RD'] = novo.loc[:,'NU_NOTA_REDACAO']

In [ ]:
#Resultado Final
df_resultado.head(6)

,Raca/Cor,Ausentes,Presentes,Med_CN,Med_CH,Med_LC,Med_MT,Med_RD,Max_CN,Max_CH,Max_LC,Max_MT,Max_RD,Min_CN,Min_CH,Min_LC,Min_MT,Min_RD
0,Não declarado,36431,77971,506.130792,583.407703,540.860193,551.368946,528.389273,869.6,828.1,802.9,996.1,980.0,362.5,394.5,318.8,368.1,40.0
1,Branca,540466,1440818,512.493919,589.656279,547.598282,562.303293,552.253289,869.6,850.4,803.8,996.1,1000.0,362.5,304.2,318.8,360.3,40.0
2,Preta,221187,477383,478.889744,558.685321,516.504167,511.082194,486.929237,838.3,821.0,775.9,988.9,1000.0,362.5,330.7,315.6,365.0,40.0
3,Parda,773173,1787707,482.311925,558.862876,516.294208,519.984369,495.069818,869.6,850.4,816.9,996.1,1000.0,362.5,302.2,314.1,360.0,40.0
4,Amarela,36083,87504,496.388324,568.438967,527.291979,539.639352,515.657570,869.6,850.4,779.8,996.1,980.0,362.5,328.1,318.8,361.6,40.0
5,Indígena,11665,22360,465.717097,536.098430,494.329208,496.959365,442.319320,749.2,787.8,738.7,993.0,980.0,362.5,394.5,318.8,369.4,40.0

In [ ]:
df_raca_resultado2018 = df_resultado
df_raca_resultado2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Raca/Cor   6 non-null      object
 1   Ausentes   6 non-null      int64
 2   Presentes  6 non-null      int64
 3   Med_CN     6 non-null      float64
 4   Med_CH     6 non-null      float64
 5   Med_LC     6 non-null      float64
 6   Med_MT     6 non-null      float64
 7   Med_RD     6 non-null      float64
 8   Max_CN     6 non-null      float64
 9   Max_CH     6 non-null      float64
 10  Max_LC     6 non-null      float64
 11  Max_MT     6 non-null      float64
 12  Max_RD     6 non-null      float64
 13  Min_CN     6 non-null      float64
 14  Min_CH     6 non-null      float64
 15  Min_LC     6 non-null      float64
 16  Min_MT     6 non-null      float64
 17  Min_RD     6 non-null      float64
dtypes: float64(15), int64(2), object(1)
memory usage: 992.0+ bytes

###Analise 2019

In [21]:
filtro_ausente    = ((dp_Enem2019['TP_PRESENCA_CN'] == 0) | (dp_Enem2019['TP_PRESENCA_CH'] == 0) | (dp_Enem2019['TP_PRESENCA_LC'] == 0) | (dp_Enem2019['TP_PRESENCA_MT'] == 0))
filtro_presente   = ((dp_Enem2019['TP_PRESENCA_CN'] == 1) & (dp_Enem2019['TP_PRESENCA_CH'] == 1) & (dp_Enem2019['TP_PRESENCA_LC'] == 1) & (dp_Enem2019['TP_PRESENCA_MT'] == 1))
filtro_eliminado  = ((dp_Enem2019['TP_PRESENCA_CN'] == 2) | (dp_Enem2019['TP_PRESENCA_CH'] == 2) | (dp_Enem2019['TP_PRESENCA_LC'] == 2) | (dp_Enem2019['TP_PRESENCA_MT'] == 2))

In [26]:
# Dividindo o Banco de Dadoo:
selecao_linhas = ['NU_INSCRICAO']
ausentes    = dp_Enem2019.loc[filtro_ausente,selecao_linhas]

eliminados  = dp_Enem2019.loc[filtro_eliminado,selecao_linhas]

presentes   = dp_Enem2019.loc[filtro_presente,selecao_linhas]

au = ausentes.count()
el = eliminados.count()
pr = presentes.count()

total = au + el + pr

print("Ausentes " + str(au))
print("Eliminados " + str(el))
print("Presentes " + str(pr))

Ausentes NU_INSCRICAO    1390968
dtype: int64
Eliminados NU_INSCRICAO    5980
dtype: int64
Presentes NU_INSCRICAO    3702008
dtype: int64

NU_INSCRICAO    72.603254
dtype: float64

In [ ]:
selecao_linhas = ['NU_INSCRICAO','TP_COR_RACA']
ausentes    = dp_Enem2019.loc[filtro_ausente,selecao_linhas]
ausentes['COR/RACA'] = [dictraca[valor] for valor in ausentes['TP_COR_RACA']]

eliminados  = dp_Enem2019.loc[filtro_eliminado,selecao_linhas]
eliminados['COR/RACA'] = [dictraca[valor] for valor in eliminados['TP_COR_RACA']]

selecao_linhas = ['NU_INSCRICAO','TP_COR_RACA'] + notas
presentes   = dp_Enem2019.loc[filtro_presente,selecao_linhas]
presentes['COR/RACA'] = [dictraca[valor] for valor in presentes['TP_COR_RACA']]

In [ ]:
filtro = ['COR/RACA','NU_INSCRICAO',]
ausentes.filter(filtro).groupby('COR/RACA').count().sort_values(by=['NU_INSCRICAO'],ascending=False)

               NU_INSCRICAO
COR/RACA
Parda                668832
Branca               456051
Preta                194799
Amarela               31357
Não declarado         29706
Indígena              10223

In [ ]:
filtro = ['COR/RACA','NU_INSCRICAO']
eliminados.filter(filtro).groupby('COR/RACA').count().sort_values(by=['NU_INSCRICAO'],ascending=False)

               NU_INSCRICAO
COR/RACA
Parda                  2763
Branca                 2113
Preta                   781
Amarela                 151
Não declarado           141
Indígena                 31

In [ ]:
filtro = ['COR/RACA'] + notas
presentes.filter(filtro).groupby('COR/RACA').mean().sort_values(by=['NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC','NU_NOTA_MT'],ascending=False)

               NU_NOTA_MT  NU_NOTA_CH  NU_NOTA_LC  NU_NOTA_CN  NU_NOTA_REDACAO
COR/RACA
Branca         556.033125  532.114560  540.313060  499.356627       615.727092
Não declarado  533.208767  518.643056  527.393251  486.750044       576.641656
Amarela        525.601454  505.150075  520.361655  477.392672       576.818595
Parda          504.422063  496.166209  511.277990  465.014848       559.689971
Preta          493.848973  495.094983  510.836431  461.098138       550.604978
Indígena       475.771904  470.863198  487.460470  444.201714       499.717511

In [ ]:
presentes.filter(filtro).groupby('COR/RACA').max().sort_values(by=['NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC','NU_NOTA_MT'],ascending=False)

               NU_NOTA_MT  NU_NOTA_CH  NU_NOTA_LC  NU_NOTA_CN  NU_NOTA_REDACAO
COR/RACA
Parda               985.0       822.7       801.7       860.9           1000.0
Branca              985.5       835.1       801.7       853.5           1000.0
Não declarado       985.0       809.4       755.3       816.7           1000.0
Amarela             985.5       798.3       801.7       815.3           1000.0
Preta               973.4       802.2       741.4       812.6           1000.0
Indígena            885.6       723.2       695.9       745.4            980.0

In [ ]:
selecao_linhas = ['NU_INSCRICAO','TP_COR_RACA','COR/RACA'] + notas
minimos = presentes.loc[(presentes['NU_NOTA_MT'] != 0),selecao_linhas]
filtro = ['COR/RACA','NU_NOTA_MT'] 
minimos.filter(filtro).groupby('COR/RACA').min().sort_values(by=['NU_NOTA_MT'],ascending=False)

               NU_NOTA_MT
COR/RACA
Amarela             359.0
Branca              359.0
Indígena            359.0
Não declarado       359.0
Parda               359.0
Preta               359.0

In [ ]:
minimos = presentes.loc[(presentes['NU_NOTA_LC'] != 0),selecao_linhas]
filtro = ['COR/RACA','NU_NOTA_LC'] 
minimos.filter(filtro).groupby('COR/RACA').min().sort_values(by=['NU_NOTA_LC'],ascending=False)

               NU_NOTA_LC
COR/RACA
Não declarado       323.0
Indígena            322.4
Amarela             322.3
Branca              322.0
Parda               322.0
Preta               322.0

In [ ]:
minimos = presentes.loc[(presentes['NU_NOTA_CN'] != 0),selecao_linhas]
filtro = ['COR/RACA','NU_NOTA_CN'] 
minimos.filter(filtro).groupby('COR/RACA').min().sort_values(by=['NU_NOTA_CN'],ascending=False)

               NU_NOTA_CN
COR/RACA
Amarela             327.9
Branca              327.9
Indígena            327.9
Não declarado       327.9
Parda               327.9
Preta               327.9

In [ ]:
minimos = presentes.loc[(presentes['NU_NOTA_CH'] != 0),selecao_linhas]
filtro = ['COR/RACA','NU_NOTA_CH'] 
minimos.filter(filtro).groupby('COR/RACA').min().sort_values(by=['NU_NOTA_CH'],ascending=False)

               NU_NOTA_CH
COR/RACA
Amarela             315.9
Branca              315.9
Indígena            315.9
Não declarado       315.9
Parda               315.9
Preta               315.9

In [ ]:
#Criando a Tabela de Soluções
df_resultado = pd.DataFrame({'Raca/Cor': ["Não declarado","Branca","Preta","Parda","Amarela","Indígena"]})
df_resultado.head()

#Adicionando Ausentes
novo = ausentes.groupby('TP_COR_RACA').count().sort_values(by=['TP_COR_RACA'],ascending=True)
df_resultado['Ausentes'] = novo.loc[:,'NU_INSCRICAO']

#Adicionando Presentes
novo =  presentes.groupby('TP_COR_RACA').count().sort_values(by=['TP_COR_RACA'],ascending=True)
df_resultado['Presentes'] = novo.loc[:,'NU_INSCRICAO']

#Adicionando Media dos Candidatos
filtro = ['TP_COR_RACA'] + notas
novo = presentes.filter(filtro).groupby('TP_COR_RACA').mean().sort_values(by=['TP_COR_RACA'])
df_resultado['Med_CN'] = novo.loc[:,'NU_NOTA_CN']      # Ciencias Naturais
df_resultado['Med_CH'] = novo.loc[:,'NU_NOTA_CH']      # Ciencias Humanas
df_resultado['Med_LC'] = novo.loc[:,'NU_NOTA_LC']      # Linguagens 
df_resultado['Med_MT'] = novo.loc[:,'NU_NOTA_MT']      # Matematica
df_resultado['Med_RD'] = novo.loc[:,'NU_NOTA_REDACAO'] # Redação

#Adicionando as Notas Mais Altas
novo = presentes.filter(filtro).groupby('TP_COR_RACA').max().sort_values(by=['TP_COR_RACA'],ascending=True)
df_resultado['Max_CN'] = novo.loc[:,'NU_NOTA_CN']      # Ciencias Naturais
df_resultado['Max_CH'] = novo.loc[:,'NU_NOTA_CH']      # Ciencias Humanas
df_resultado['Max_LC'] = novo.loc[:,'NU_NOTA_LC']      # Linguagens
df_resultado['Max_MT'] = novo.loc[:,'NU_NOTA_MT']      # Matematica
df_resultado['Max_RD'] = novo.loc[:,'NU_NOTA_REDACAO'] # Redação

#Adicionando as Menores Notas não nulas
minimos = presentes.loc[(presentes['NU_NOTA_CN'] != 0),selecao_linhas] # Ciencias Naturais
novo = minimos.groupby('TP_COR_RACA').min().sort_values(by=['TP_COR_RACA'],ascending=True)
df_resultado['Min_CN'] = novo.loc[:, 'NU_NOTA_CN']

minimos = presentes.loc[(presentes['NU_NOTA_CH'] != 0),selecao_linhas] # Ciencias Humanas
novo = minimos.groupby('TP_COR_RACA').min().sort_values(by=['TP_COR_RACA'],ascending=True)
df_resultado['Min_CH'] = novo.loc[:, 'NU_NOTA_CH']

minimos = presentes.loc[(presentes['NU_NOTA_LC'] != 0),selecao_linhas] # Linguagem
novo = minimos.groupby('TP_COR_RACA').min().sort_values(by=['TP_COR_RACA'],ascending=True)
df_resultado['Min_LC'] = novo.loc[:,'NU_NOTA_LC']

minimos = presentes.loc[(presentes['NU_NOTA_MT'] != 0),selecao_linhas] # Matematica
novo = minimos.groupby('TP_COR_RACA').min().sort_values(by=['TP_COR_RACA'],ascending=True)
df_resultado['Min_MT'] = novo.loc[:,'NU_NOTA_MT'] 

minimos = presentes.loc[(presentes['NU_NOTA_REDACAO'] != 0),selecao_linhas] # Matematica
novo = minimos.groupby('TP_COR_RACA').min().sort_values(by=['TP_COR_RACA'],ascending=True)
df_resultado['Min_RD'] = novo.loc[:,'NU_NOTA_REDACAO']

In [ ]:
#Resultado Final
df_resultado.head(6)

,Raca/Cor,Ausentes,Presentes,Med_CN,Med_CH,Med_LC,Med_MT,Med_RD,Max_CN,Max_CH,Max_LC,Max_MT,Max_RD,Min_CN,Min_CH,Min_LC,Min_MT,Min_RD
0,Não declarado,29706,73435,486.750044,518.643056,527.393251,533.208767,576.641656,816.7,809.4,755.3,985.0,1000.0,327.9,315.9,323.0,359.0,40.0
1,Branca,456051,1374909,499.356627,532.114560,540.313060,556.033125,615.727092,853.5,835.1,801.7,985.5,1000.0,327.9,315.9,322.0,359.0,40.0
2,Preta,194799,453224,461.098138,495.094983,510.836431,493.848973,550.604978,812.6,802.2,741.4,973.4,1000.0,327.9,315.9,322.0,359.0,40.0
3,Parda,668832,1694162,465.014848,496.166209,511.277990,504.422063,559.689971,860.9,822.7,801.7,985.0,1000.0,327.9,315.9,322.0,359.0,40.0
4,Amarela,31357,84755,477.392672,505.150075,520.361655,525.601454,576.818595,815.3,798.3,801.7,985.5,1000.0,327.9,315.9,322.3,359.0,60.0
5,Indígena,10223,21523,444.201714,470.863198,487.460470,475.771904,499.717511,745.4,723.2,695.9,885.6,980.0,327.9,315.9,322.4,359.0,40.0

In [ ]:
df_raca_resultado2019 = df_resultado
df_raca_resultado2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Raca/Cor   6 non-null      object
 1   Ausentes   6 non-null      int64
 2   Presentes  6 non-null      int64
 3   Med_CN     6 non-null      float64
 4   Med_CH     6 non-null      float64
 5   Med_LC     6 non-null      float64
 6   Med_MT     6 non-null      float64
 7   Med_RD     6 non-null      float64
 8   Max_CN     6 non-null      float64
 9   Max_CH     6 non-null      float64
 10  Max_LC     6 non-null      float64
 11  Max_MT     6 non-null      float64
 12  Max_RD     6 non-null      float64
 13  Min_CN     6 non-null      float64
 14  Min_CH     6 non-null      float64
 15  Min_LC     6 non-null      float64
 16  Min_MT     6 non-null      float64
 17  Min_RD     6 non-null      float64
dtypes: float64(15), int64(2), object(1)
memory usage: 992.0+ bytes

### Resultados e Graficos

## Renda Familiar

### Inicializar

In [ ]:
#Selecionado as Colunas que vamos utilizar:
colunas = ['NU_INSCRICAO','Q006','TP_PRESENCA_CN','TP_PRESENCA_CH','TP_PRESENCA_LC','TP_PRESENCA_MT','NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC','NU_NOTA_MT','NU_NOTA_REDACAO',]

dp_Enem2017 = pd.read_csv("/Banco_de_Dados/MyDrive/Iniciação Cientifica/Banco_de_Dados/microdados_enem_2017/DADOS/MICRODADOS_ENEM_2017.csv",sep=";",encoding="ISO-8859-1",usecols=colunas)
dp_Enem2018 = pd.read_csv("/Banco_de_Dados/MyDrive/Iniciação Cientifica/Banco_de_Dados/microdados_enem_2018/DADOS/MICRODADOS_ENEM_2018.csv",sep=";",encoding="ISO-8859-1",usecols=colunas)
dp_Enem2019 = pd.read_csv("/Banco_de_Dados/MyDrive/Iniciação Cientifica/Banco_de_Dados/microdados_enem_2019/DADOS/MICRODADOS_ENEM_2019.csv",sep=";",encoding="ISO-8859-1",usecols=colunas)

In [ ]:
#Memoria do Banco de Dados de 2017
dp_Enem2017.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6731341 entries, 0 to 6731340
Data columns (total 11 columns):
 #   Column           Dtype
---  ------           -----
 0   NU_INSCRICAO     int64
 1   TP_PRESENCA_CN   float64
 2   TP_PRESENCA_CH   float64
 3   TP_PRESENCA_LC   float64
 4   TP_PRESENCA_MT   float64
 5   NU_NOTA_CN       float64
 6   NU_NOTA_CH       float64
 7   NU_NOTA_LC       float64
 8   NU_NOTA_MT       float64
 9   NU_NOTA_REDACAO  float64
 10  Q006             object
dtypes: float64(9), int64(1), object(1)
memory usage: 885.9 MB

In [ ]:
#Memoria do Banco de Dados de 2018
dp_Enem2018.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5513747 entries, 0 to 5513746
Data columns (total 11 columns):
 #   Column           Dtype
---  ------           -----
 0   NU_INSCRICAO     int64
 1   TP_PRESENCA_CN   float64
 2   TP_PRESENCA_CH   float64
 3   TP_PRESENCA_LC   float64
 4   TP_PRESENCA_MT   float64
 5   NU_NOTA_CN       float64
 6   NU_NOTA_CH       float64
 7   NU_NOTA_LC       float64
 8   NU_NOTA_MT       float64
 9   NU_NOTA_REDACAO  float64
 10  Q006             object
dtypes: float64(9), int64(1), object(1)
memory usage: 725.6 MB

In [ ]:
#Memoria do Banco de Dados de 2019
dp_Enem2019.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5095270 entries, 0 to 5095269
Data columns (total 11 columns):
 #   Column           Dtype
---  ------           -----
 0   NU_INSCRICAO     int64
 1   TP_PRESENCA_CN   int64
 2   TP_PRESENCA_CH   int64
 3   TP_PRESENCA_LC   int64
 4   TP_PRESENCA_MT   int64
 5   NU_NOTA_CN       float64
 6   NU_NOTA_CH       float64
 7   NU_NOTA_LC       float64
 8   NU_NOTA_MT       float64
 9   NU_NOTA_REDACAO  float64
 10  Q006             object
dtypes: float64(5), int64(5), object(1)
memory usage: 670.6 MB

In [ ]:
#Filtros Genericos
notas = ['NU_NOTA_MT','NU_NOTA_CH','NU_NOTA_LC','NU_NOTA_CN','NU_NOTA_REDACAO']
presenca = ['TP_PRESENCA_CN','TP_PRESENCA_CH','TP_PRESENCA_LC','TP_PRESENCA_MT']

### Analise 2017

In [ ]:
# Dicionario 1: Coluna Q006 segundo o Dicionario do Enem:
dic_006_2017 = {
    'A'	: "Nenhuma renda.",
    'B'	: "Até R$ 937,00.",
    'C'	: "R$ 0.937,01 - R$ 1.405,50.",
    'D'	: "R$ 1.405,51 - R$ 1.874,00.",
    'E'	: "R$ 1.874,01 - R$ 2.342,50.",
    'F'	: "R$ 2.342,51 - R$ 2.811,00.",
    'G'	: "R$ 2.811,01 - R$ 3.748,00.",
    'H'	: "R$ 3.748,01 - R$ 4.685,00.",
    'I'	: "R$ 4.685,01 - R$ 5.622,00.",
    'J'	: "R$ 5.622,01 - R$ 6.559,00.",
    'K'	: "R$ 6.559,01 - R$ 7.496,00.",
    'L'	: "R$ 7.496,01 - R$ 8.433,00.",
    'M'	: "R$ 8.433,01 - R$ 9.370,00.",
    'N'	: "R$ 9.370,01 - R$ 11.244,00.",
    'O'	: "R$ 11.244,01 - R$ 14.055,00.",
    'P'	: "R$ 14.055,01 - R$ 18.740,00.",
    'Q'	: "Mais de R$ 18.740,00.",
}

In [ ]:
# Dicionario 2: Contagem em Salarios Minimos (2017 = R$ 937,00)

sala_min2017 = {
    'A'	: "0.0",
    'B'	: "0.0 - 1,0",
    'C'	: "1.0 - 1,5",
    'D'	: "1.5 - 2,0",
    'E'	: "2.0 - 2,5",
    'F'	: "2.5 - 3,0",
    'G'	: "3.0 - 4,0",
    'H'	: "4.0 - 5,0",
    'I'	: "5.0 - 6,0",
    'J'	: "6.0 - 7,0",
    'K'	: "7.0 - 8,0",
    'L'	: "8.0 - 9.0",
    'M'	: "9.0 - 10.0",
    'N'	: "10.0 - 12.0",
    'O'	: "12.0 - 15.0",
    'P'	: "15.0 - 20.0",
    'Q'	: "Acima 20.0",
}

In [ ]:
#Criando os Filtros para a Divisão
filtro_ausente    = ((dp_Enem2017['TP_PRESENCA_CN'] == 0) | (dp_Enem2017['TP_PRESENCA_CH'] == 0) | (dp_Enem2017['TP_PRESENCA_LC'] == 0) | (dp_Enem2017['TP_PRESENCA_MT'] == 0))
filtro_presente   = ((dp_Enem2017['TP_PRESENCA_CN'] == 1) & (dp_Enem2017['TP_PRESENCA_CH'] == 1) & (dp_Enem2017['TP_PRESENCA_LC'] == 1) & (dp_Enem2017['TP_PRESENCA_MT'] == 1))
filtro_eliminado  = ((dp_Enem2017['TP_PRESENCA_CN'] == 2) | (dp_Enem2017['TP_PRESENCA_CH'] == 2) | (dp_Enem2017['TP_PRESENCA_LC'] == 2) | (dp_Enem2017['TP_PRESENCA_MT'] == 2))

In [ ]:
# Dividindo o Banco de Dadoo:
selecao_linhas = ['NU_INSCRICAO','Q006']
ausentes    = dp_Enem2017.loc[filtro_ausente,selecao_linhas]
ausentes['Salario Minimo'] = [sala_min2017[valor] for valor in ausentes['Q006']] # <- Para ficar mais facil de comparar colocamos tudo em função d Salario Minimos
ausentes['Resposta'] = [dic_006_2017[valor] for valor in ausentes['Q006']]            # <- Criando uma coluna nova para ajudar na identificação de alguns valores
 
eliminados  = dp_Enem2017.loc[filtro_eliminado,selecao_linhas]
eliminados['Salario Minimo'] = [sala_min2017[valor] for valor in eliminados['Q006']]
eliminados['Resposta'] = [dic_006_2017[valor] for valor in eliminados['Q006']]

selecao_linhas = selecao_linhas + notas
presentes = dp_Enem2017.loc[filtro_presente,selecao_linhas]

In [ ]:
filtro = ['NU_INSCRICAO','Salario Minimo']
ausentes.filter(filtro).groupby('Salario Minimo').count().sort_values(by=['NU_INSCRICAO'],ascending=False)

                NU_INSCRICAO
Salario Minimo
0.0 - 1,0             732312
1.0 - 1,5             636198
1.5 - 2,0             269825
2.0 - 2,5             177271
0.0                   121123
2.5 - 3,0              99072
3.0 - 4,0              95714
4.0 - 5,0              55741
5.0 - 6,0              34018
6.0 - 7,0              18611
Acima 20.0             11247
7.0 - 8,0              11118
10.0 - 12.0            10437
8.0 - 9.0               8699
12.0 - 15.0             7643
9.0 - 10.0              7440
15.0 - 20.0             6623

In [ ]:
eliminados.filter(filtro).groupby('Salario Minimo').count().sort_values(by=['NU_INSCRICAO'],ascending=False)

                NU_INSCRICAO
Salario Minimo
0.0 - 1,0                829
1.0 - 1,5                804
1.5 - 2,0                397
2.0 - 2,5                297
3.0 - 4,0                189
2.5 - 3,0                179
4.0 - 5,0                147
0.0                      141
5.0 - 6,0                 84
6.0 - 7,0                 58
8.0 - 9.0                 30
10.0 - 12.0               28
7.0 - 8,0                 27
Acima 20.0                22
12.0 - 15.0               19
15.0 - 20.0               12
9.0 - 10.0                12

In [ ]:
filtro = ['Q006'] + notas
presentes.filter(filtro).groupby('Q006').mean().sort_values(by=notas, ascending=False)

      NU_NOTA_MT  NU_NOTA_CH  NU_NOTA_LC  NU_NOTA_CN  NU_NOTA_REDACAO
Q006
Q     673.320005  619.126404  586.514593  603.295988       686.076570
P     656.587701  612.435418  581.946903  597.803304       676.583886
O     645.785339  607.093057  577.208163  592.142564       668.981038
N     633.933715  600.004011  572.235562  585.319553       660.145636
M     624.027984  594.580580  568.083708  580.331038       652.331816
L     618.719581  591.356350  565.630726  576.951192       646.614052
K     609.406717  586.033352  561.797220  571.354590       638.334398
J     598.830519  579.286585  556.886179  564.343761       627.197482
I     587.114539  570.970944  550.883978  555.886582       612.876752
H     569.585544  559.724152  542.996141  544.261455       593.310815
G     554.179863  549.773362  535.874430  533.733904       574.250244
F     542.294429  540.290492  528.606329  524.925385       558.405032
E     527.108252  530.512193  521.500538  516.074144       541.412937
D     514.484419  520.564591  513.279328  507.896061       526.029005
C     498.017863  508.466336  503.330592  497.905177       508.332785
B     477.639022  488.780787  484.206133  484.168500       478.428288
A     472.522685  483.732703  478.037989  481.334029       458.525863

In [ ]:
presentes.filter(filtro).groupby('Q006').max().sort_values(by=notas,ascending=False)

      NU_NOTA_MT  NU_NOTA_CH  NU_NOTA_LC  NU_NOTA_CN  NU_NOTA_REDACAO
Q006
O          993.9       868.3       774.3       833.3           1000.0
N          993.9       854.3       785.9       848.3           1000.0
I          993.9       847.1       761.9       850.1           1000.0
P          993.9       845.9       775.6       843.2            980.0
G          993.9       844.7       775.6       839.2           1000.0
Q          993.9       844.0       775.6       853.0           1000.0
H          993.9       837.0       781.9       847.9           1000.0
M          993.9       833.8       785.9       856.4           1000.0
K          992.8       845.6       754.2       853.0           1000.0
F          989.0       823.6       773.4       852.1           1000.0
B          988.3       845.9       724.7       844.0            980.0
L          987.0       854.3       788.8       822.5           1000.0
E          987.0       829.1       768.3       842.8           1000.0
J          983.3       868.3       744.4       868.3           1000.0
C          980.8       844.7       768.2       833.8           1000.0
D          980.2       841.7       768.5       885.6           1000.0
A          967.7       824.3       739.9       840.7            980.0

In [ ]:
selecao_linhas = ['NU_INSCRICAO','Q006'] + notas
minimos = presentes.loc[(presentes['NU_NOTA_MT'] != 0),selecao_linhas]
filtro = ['Q006','NU_NOTA_MT'] 
minimos.filter(filtro).groupby('Q006').min().sort_values(by=['NU_NOTA_MT'],ascending=False)

      NU_NOTA_MT
Q006
P          351.5
L          350.1
Q          342.3
M          335.1
N          331.8
H          331.2
K          328.5
J          322.2
O          315.8
G          315.5
A          315.4
B          311.6
D          311.6
C          311.6
I          310.9
E          310.8
F          310.4

In [ ]:
minimos = presentes.loc[(presentes['NU_NOTA_LC'] != 0),selecao_linhas]
filtro = ['Q006','NU_NOTA_LC'] 
minimos.filter(filtro).groupby('Q006').min().sort_values(by=['NU_NOTA_LC'],ascending=False)

      NU_NOTA_LC
Q006
N          304.2
Q          302.4
P          301.6
L          301.5
K          301.5
F          299.7
J          299.6
O          299.6
M          299.6
A          299.6
B          299.6
H          299.6
G          299.6
E          299.6
D          299.6
C          299.6
I          299.6

In [ ]:
minimos = presentes.loc[(presentes['NU_NOTA_CN'] != 0),selecao_linhas]
filtro = ['Q006','NU_NOTA_CN'] 
minimos.filter(filtro).groupby('Q006').min().sort_values(by=['NU_NOTA_CN'],ascending=False)

      NU_NOTA_CN
Q006
K          343.2
O          332.6
P          331.2
M          323.6
J          321.3
L          316.9
F          312.6
N          310.7
Q          309.4
G          308.2
A          302.5
E          299.8
B          299.2
C          298.3
H          298.2
I          298.2
D          298.0

In [ ]:
minimos = presentes.loc[(presentes['NU_NOTA_CH'] != 0),selecao_linhas]
filtro = ['Q006','NU_NOTA_CH'] 
minimos.filter(filtro).groupby('Q006').min().sort_values(by=['NU_NOTA_CH'],ascending=False)

      NU_NOTA_CH
Q006
P          338.4
M          335.8
L          334.9
K          334.7
Q          333.9
J          333.1
I          330.0
A          329.5
H          326.1
O          325.1
F          324.4
G          322.8
E          317.8
N          317.2
C          316.7
D          315.9
B          310.7

In [ ]:
filtro = ['Q006'] + notas

#Criando a Tabela de Soluções
df_resultado = pd.DataFrame({'Respostas' : dic_006_2017.keys(),'Salario Minimo': sala_min2017.values(),'Valores Numericos' : dic_006_2017.values()})

#Adicionando Ausentes
novo = ausentes.groupby('Q006').count().sort_values(by=['Q006'])
df_resultado['Ausentes'] = [i for i in novo.loc[:,'NU_INSCRICAO']]

#Adicionando Ausentes
novo = presentes.groupby('Q006').count().sort_values(by=['Q006'])
df_resultado['Presentes'] = [i for i in novo.loc[:,'NU_INSCRICAO']]

#Adicionando Media dos Candidatos
novo = presentes.filter(filtro).groupby('Q006').mean().sort_values(by=['Q006'])
df_resultado['Med_CN'] = [i for i in novo.loc[:,'NU_NOTA_CN']]      # Ciencias Naturais
df_resultado['Med_CH'] = [i for i in novo.loc[:,'NU_NOTA_CH']]      # Ciencias Humanas
df_resultado['Med_LC'] = [i for i in novo.loc[:,'NU_NOTA_LC']]      # Linguagens 
df_resultado['Med_MT'] = [i for i in novo.loc[:,'NU_NOTA_MT']]      # Matematica
df_resultado['Med_RD'] = [i for i in novo.loc[:,'NU_NOTA_REDACAO']] # Redação

#Adicionando as Notas Mais Altas
novo = presentes.filter(filtro).groupby('Q006').max().sort_values(by=['Q006'])
df_resultado['Max_CN'] = [i for i in novo.loc[:,'NU_NOTA_CN']]      # Ciencias Naturais
df_resultado['Max_CH'] = [i for i in novo.loc[:,'NU_NOTA_CH'] ]     # Ciencias Humanas
df_resultado['Max_LC'] = [i for i in novo.loc[:,'NU_NOTA_LC'] ]     # Linguagens
df_resultado['Max_MT'] = [i for i in novo.loc[:,'NU_NOTA_MT'] ]     # Matematica
df_resultado['Max_RD'] = [i for i in novo.loc[:,'NU_NOTA_REDACAO']] # Redação

#Adicionando as Menores Notas não nulas
minimos = presentes.loc[(presentes['NU_NOTA_CN'] != 0),selecao_linhas] # Ciencias Naturais
novo = minimos.groupby('Q006').min().sort_values(by=['Q006'])
df_resultado['Min_CN'] = [i for i in novo.loc[:, 'NU_NOTA_CN']]

minimos = presentes.loc[(presentes['NU_NOTA_CH'] != 0),selecao_linhas] # Ciencias Humanas
novo = minimos.groupby('Q006').min().sort_values(by=['Q006'])
df_resultado['Min_CH'] = [i for i in novo.loc[:, 'NU_NOTA_CH']]

minimos = presentes.loc[(presentes['NU_NOTA_LC'] != 0),selecao_linhas] # Linguagem
novo = minimos.groupby('Q006').min().sort_values(by=['Q006'])
df_resultado['Min_LC'] = [i for i in novo.loc[:,'NU_NOTA_LC']]

minimos = presentes.loc[(presentes['NU_NOTA_MT'] != 0),selecao_linhas] # Matematica
novo = minimos.groupby('Q006').min().sort_values(by=['Q006'])
df_resultado['Min_MT'] = [i for i in novo.loc[:,'NU_NOTA_MT']]

minimos = presentes.loc[(presentes['NU_NOTA_REDACAO'] != 0),selecao_linhas] # Matematica
novo = minimos.groupby('Q006').min().sort_values(by=['Q006'])
df_resultado['Min_RD'] = [i for i in novo.loc[:,'NU_NOTA_REDACAO']]

In [ ]:
df_renda_resultado2017 = df_resultado
df_renda_resultado2017.tail()

,Respostas,Salario Minimo,Valores Numericos,Ausentes,Presentes,Med_CN,Med_CH,Med_LC,Med_MT,Med_RD,Max_CN,Max_CH,Max_LC,Max_MT,Max_RD,Min_CN,Min_CH,Min_LC,Min_MT,Min_RD
12,M,9.0 - 10.0,"R$ 8.433,01 - R$ 9.370,00.",7440,36478,580.331038,594.580580,568.083708,624.027984,652.331816,856.4,833.8,785.9,993.9,1000.0,323.6,335.8,299.6,335.1,140.0
13,N,10.0 - 12.0,"R$ 9.370,01 - R$ 11.244,00.",10437,53009,585.319553,600.004011,572.235562,633.933715,660.145636,848.3,854.3,785.9,993.9,1000.0,310.7,317.2,304.2,331.8,120.0
14,O,12.0 - 15.0,"R$ 11.244,01 - R$ 14.055,00.",7643,37548,592.142564,607.093057,577.208163,645.785339,668.981038,833.3,868.3,774.3,993.9,1000.0,332.6,325.1,299.6,315.8,200.0
15,P,15.0 - 20.0,"R$ 14.055,01 - R$ 18.740,00.",6623,32294,597.803304,612.435418,581.946903,656.587701,676.583886,843.2,845.9,775.6,993.9,980.0,331.2,338.4,301.6,351.5,120.0
16,Q,Acima 20.0,"Mais de R$ 18.740,00.",11247,48557,603.295988,619.126404,586.514593,673.320005,686.076570,853.0,844.0,775.6,993.9,1000.0,309.4,333.9,302.4,342.3,160.0

### Analise 2018

In [ ]:
# Dicionario 1: Coluna Q006 segundo o Dicionario do Enem:
dic_006_2018 = {
    'A' : 'Nenhuma renda.',
    'B' : 'Até R$ 954,00.',
    'C' : 'R$ 954,01 - R$ 1.431,00.',
    'D' : 'R$ 1.431,01 - R$ 1.908,00.',
    'E' : 'R$ 1.908,01 - R$ 2.385,00.',
    'F' : 'R$ 2.385,01 - R$ 2.862,00.',
    'G' : 'R$ 2.862,01 - R$ 3.816,00.',
    'H' : 'R$ 3.816,01 - R$ 4.770,00.',
    'I' : 'R$ 4.770,01 - R$ 5.724,00.',
    'J' : 'R$ 5.724,01 - R$ 6.678,00.',
    'K' : 'R$ 6.678,01 - R$ 7.632,00.',
    'L' : 'R$ 7.632,01 - R$ 8.586,00.',
    'M' : 'R$ 8.586,01 - R$ 9.540,00.',
    'N' : 'R$ 9.540,01 - R$ 11.448,00.',
    'O' : 'R$ 11.448,01 - R$ 14.310,00.',
    'P' : 'R$ 14.310,01 - R$ 19.080,00.',
    'Q' : 'Mais de R$ 19.080,00.'
}

In [ ]:
# Dicionario 2: Contagem em Salarios Minimos (2018 = R$ 954,00)

sala_min2018 = {
    'A'	: "0.0",
    'B'	: "0.0 - 1,0",
    'C'	: "1.0 - 1,5",
    'D'	: "1.5 - 2,0",
    'E'	: "2.0 - 2,5",
    'F'	: "2.5 - 3,0",
    'G'	: "3.0 - 4,0",
    'H'	: "4.0 - 5,0",
    'I'	: "5.0 - 6,0",
    'J'	: "6.0 - 7,0",
    'K'	: "7.0 - 8,0",
    'L'	: "8.0 - 9.0",
    'M'	: "9.0 - 10.0",
    'N'	: "10.0 - 12.0",
    'O'	: "12.0 - 15.0",
    'P'	: "15.0 - 20.0",
    'Q'	: "Acima 20.0",
}

In [ ]:
#Criando os Filtros para a Divisão
filtro_ausente    = ((dp_Enem2018['TP_PRESENCA_CN'] == 0) | (dp_Enem2018['TP_PRESENCA_CH'] == 0) | (dp_Enem2018['TP_PRESENCA_LC'] == 0) | (dp_Enem2018['TP_PRESENCA_MT'] == 0))
filtro_presente   = ((dp_Enem2018['TP_PRESENCA_CN'] == 1) & (dp_Enem2018['TP_PRESENCA_CH'] == 1) & (dp_Enem2018['TP_PRESENCA_LC'] == 1) & (dp_Enem2018['TP_PRESENCA_MT'] == 1))
filtro_eliminado  = ((dp_Enem2018['TP_PRESENCA_CN'] == 2) | (dp_Enem2018['TP_PRESENCA_CH'] == 2) | (dp_Enem2018['TP_PRESENCA_LC'] == 2) | (dp_Enem2018['TP_PRESENCA_MT'] == 2))

In [ ]:
# Dividindo o Banco de Dadoo:
selecao_linhas = ['NU_INSCRICAO','Q006']
ausentes    = dp_Enem2018.loc[filtro_ausente,selecao_linhas]
ausentes['Salario Minimo'] = [sala_min2018[valor] for valor in ausentes['Q006']] # <- Para ficar mais facil de comparar colocamos tudo em função d Salario Minimos
ausentes['Resposta'] = [dic_006_2018[valor] for valor in ausentes['Q006']]            # <- Criando uma coluna nova para ajudar na identificação de alguns valores
 
eliminados  = dp_Enem2018.loc[filtro_eliminado,selecao_linhas]
eliminados['Salario Minimo'] = [sala_min2018[valor] for valor in eliminados['Q006']]
eliminados['Resposta'] = [dic_006_2018[valor] for valor in eliminados['Q006']]

selecao_linhas = selecao_linhas + notas
presentes = dp_Enem2018.loc[filtro_presente,selecao_linhas]

In [ ]:
filtro = ['NU_INSCRICAO','Salario Minimo']
ausentes.filter(filtro).groupby('Salario Minimo').count().sort_values(by=['NU_INSCRICAO'],ascending=False)

                NU_INSCRICAO
Salario Minimo
1.0 - 1,5             483919
0.0 - 1,0             428405
1.5 - 2,0             162474
2.0 - 2,5             149667
3.0 - 4,0              88421
0.0                    82411
2.5 - 3,0              60860
4.0 - 5,0              45739
5.0 - 6,0              33786
6.0 - 7,0              18392
7.0 - 8,0              11194
10.0 - 12.0            11052
Acima 20.0             10731
8.0 - 9.0               8814
12.0 - 15.0             7961
9.0 - 10.0              7701
15.0 - 20.0             7478

In [ ]:
eliminados.filter(filtro).groupby('Salario Minimo').count().sort_values(by=['NU_INSCRICAO'],ascending=False)

                NU_INSCRICAO
Salario Minimo
1.0 - 1,5                679
0.0 - 1,0                567
2.0 - 2,5                282
1.5 - 2,0                250
3.0 - 4,0                192
2.5 - 3,0                136
4.0 - 5,0                105
0.0                       93
5.0 - 6,0                 78
6.0 - 7,0                 45
10.0 - 12.0               37
7.0 - 8,0                 32
8.0 - 9.0                 21
9.0 - 10.0                20
Acima 20.0                20
12.0 - 15.0               16
15.0 - 20.0               11

In [ ]:
filtro = ['Q006'] + notas
presentes.filter(filtro).groupby('Q006').mean().sort_values(by=notas, ascending=False)

      NU_NOTA_MT  NU_NOTA_CH  NU_NOTA_LC  NU_NOTA_CN  NU_NOTA_REDACAO
Q006
Q     682.641918  652.520880  609.197792  589.134140       707.746535
P     666.203793  646.328440  603.593983  582.376342       693.280954
O     654.993351  641.914324  599.142541  576.181126       683.645032
N     644.621461  636.480788  593.738656  569.487669       669.755345
M     633.462378  631.052137  588.625473  562.671542       658.790740
L     629.345758  629.015501  586.404156  559.491167       653.555260
K     618.068826  623.237674  581.230027  552.133388       638.692892
J     609.881079  618.900596  577.442906  546.280560       628.313695
I     596.736997  611.558454  569.935772  536.346309       608.260508
H     584.221558  604.475276  563.223257  527.548240       588.617780
G     565.238517  593.745357  552.740600  513.710336       561.313046
F     557.950581  588.243683  546.825716  507.974371       546.455771
E     537.770437  577.059426  535.668310  495.804422       522.627575
D     532.409726  571.675915  529.774242  490.950852       508.108193
C     511.369849  557.345007  515.136833  477.943628       483.883303
B     493.448850  538.784227  495.583445  464.287604       453.755259
A     488.195136  534.483970  489.012898  461.383373       439.882309

In [ ]:
presentes.filter(filtro).groupby('Q006').max().sort_values(by=notas,ascending=False)

      NU_NOTA_MT  NU_NOTA_CH  NU_NOTA_LC  NU_NOTA_CN  NU_NOTA_REDACAO
Q006
K          996.1       850.4       816.9       869.6           1000.0
Q          996.1       850.4       810.2       869.6           1000.0
M          996.1       850.4       795.5       869.6           1000.0
P          996.1       850.4       794.1       855.2           1000.0
N          996.1       850.4       789.3       869.6           1000.0
I          996.1       850.4       787.4       869.6           1000.0
H          996.1       850.4       784.3       869.6           1000.0
C          996.1       850.4       781.9       869.6           1000.0
G          996.1       840.9       802.9       851.6           1000.0
E          996.1       833.9       776.3       843.0           1000.0
D          996.1       825.6       797.2       848.8           1000.0
A          996.1       808.1       807.7       798.9            980.0
O          994.4       840.9       795.0       848.1           1000.0
J          994.4       840.9       792.8       834.1           1000.0
L          994.4       819.1       791.0       835.5           1000.0
B          988.5       850.4       766.6       825.9            980.0
F          987.9       850.4       777.1       843.8           1000.0

In [ ]:
selecao_linhas = ['NU_INSCRICAO','Q006'] + notas
minimos = presentes.loc[(presentes['NU_NOTA_MT'] != 0),selecao_linhas]
filtro = ['Q006','NU_NOTA_MT'] 
minimos.filter(filtro).groupby('Q006').min().sort_values(by=['NU_NOTA_MT'],ascending=False)

      NU_NOTA_MT
Q006
P          371.3
N          370.1
I          369.4
K          369.4
M          369.4
L          369.4
A          366.3
F          365.1
Q          364.6
H          364.4
O          363.9
E          362.4
J          362.2
D          361.6
C          361.3
B          360.3
G          360.0

In [ ]:
minimos = presentes.loc[(presentes['NU_NOTA_LC'] != 0),selecao_linhas]
filtro = ['Q006','NU_NOTA_LC'] 
minimos.filter(filtro).groupby('Q006').min().sort_values(by=['NU_NOTA_LC'],ascending=False)

      NU_NOTA_LC
Q006
O          328.7
Q          325.8
N          323.3
K          323.0
M          322.9
L          320.7
J          318.8
P          318.8
A          318.8
H          318.8
G          318.8
F          318.8
E          318.8
D          318.8
I          318.8
B          315.6
C          314.1

In [ ]:
minimos = presentes.loc[(presentes['NU_NOTA_CN'] != 0),selecao_linhas]
filtro = ['Q006','NU_NOTA_CN'] 
minimos.filter(filtro).groupby('Q006').min().sort_values(by=['NU_NOTA_CN'],ascending=False)

      NU_NOTA_CN
Q006
A          362.5
J          362.5
P          362.5
O          362.5
N          362.5
M          362.5
L          362.5
K          362.5
I          362.5
B          362.5
H          362.5
G          362.5
F          362.5
E          362.5
D          362.5
C          362.5
Q          362.5

In [ ]:
minimos = presentes.loc[(presentes['NU_NOTA_CH'] != 0),selecao_linhas]
filtro = ['Q006','NU_NOTA_CH'] 
minimos.filter(filtro).groupby('Q006').min().sort_values(by=['NU_NOTA_CH'],ascending=False)

      NU_NOTA_CH
Q006
O          394.9
Q          394.5
J          394.5
P          394.5
N          394.5
M          394.5
L          394.5
K          394.5
G          349.4
I          348.3
F          339.0
D          335.3
A          321.0
B          308.9
E          308.2
H          304.2
C          302.2

In [ ]:
filtro = ['Q006'] + notas

#Criando a Tabela de Soluções
df_resultado = pd.DataFrame({'Respostas' : dic_006_2018.keys(),'Salario Minimo': sala_min2018.values(),'Valores Numericos' : dic_006_2018.values()})

#Adicionando Ausentes
novo = ausentes.groupby('Q006').count().sort_values(by=['Q006'])
df_resultado['Ausentes'] = [i for i in novo.loc[:,'NU_INSCRICAO']]

#Adicionando Ausentes
novo = presentes.groupby('Q006').count().sort_values(by=['Q006'])
df_resultado['Presentes'] = [i for i in novo.loc[:,'NU_INSCRICAO']]

#Adicionando Media dos Candidatos
novo = presentes.filter(filtro).groupby('Q006').mean().sort_values(by=['Q006'])
df_resultado['Med_CN'] = [i for i in novo.loc[:,'NU_NOTA_CN']]      # Ciencias Naturais
df_resultado['Med_CH'] = [i for i in novo.loc[:,'NU_NOTA_CH']]      # Ciencias Humanas
df_resultado['Med_LC'] = [i for i in novo.loc[:,'NU_NOTA_LC']]      # Linguagens 
df_resultado['Med_MT'] = [i for i in novo.loc[:,'NU_NOTA_MT']]      # Matematica
df_resultado['Med_RD'] = [i for i in novo.loc[:,'NU_NOTA_REDACAO']] # Redação

#Adicionando as Notas Mais Altas
novo = presentes.filter(filtro).groupby('Q006').max().sort_values(by=['Q006'])
df_resultado['Max_CN'] = [i for i in novo.loc[:,'NU_NOTA_CN']]      # Ciencias Naturais
df_resultado['Max_CH'] = [i for i in novo.loc[:,'NU_NOTA_CH'] ]     # Ciencias Humanas
df_resultado['Max_LC'] = [i for i in novo.loc[:,'NU_NOTA_LC'] ]     # Linguagens
df_resultado['Max_MT'] = [i for i in novo.loc[:,'NU_NOTA_MT'] ]     # Matematica
df_resultado['Max_RD'] = [i for i in novo.loc[:,'NU_NOTA_REDACAO']] # Redação

#Adicionando as Menores Notas não nulas
minimos = presentes.loc[(presentes['NU_NOTA_CN'] != 0),selecao_linhas] # Ciencias Naturais
novo = minimos.groupby('Q006').min().sort_values(by=['Q006'])
df_resultado['Min_CN'] = [i for i in novo.loc[:, 'NU_NOTA_CN']]

minimos = presentes.loc[(presentes['NU_NOTA_CH'] != 0),selecao_linhas] # Ciencias Humanas
novo = minimos.groupby('Q006').min().sort_values(by=['Q006'])
df_resultado['Min_CH'] = [i for i in novo.loc[:, 'NU_NOTA_CH']]

minimos = presentes.loc[(presentes['NU_NOTA_LC'] != 0),selecao_linhas] # Linguagem
novo = minimos.groupby('Q006').min().sort_values(by=['Q006'])
df_resultado['Min_LC'] = [i for i in novo.loc[:,'NU_NOTA_LC']]

minimos = presentes.loc[(presentes['NU_NOTA_MT'] != 0),selecao_linhas] # Matematica
novo = minimos.groupby('Q006').min().sort_values(by=['Q006'])
df_resultado['Min_MT'] = [i for i in novo.loc[:,'NU_NOTA_MT']]

minimos = presentes.loc[(presentes['NU_NOTA_REDACAO'] != 0),selecao_linhas] # Matematica
novo = minimos.groupby('Q006').min().sort_values(by=['Q006'])
df_resultado['Min_RD'] = [i for i in novo.loc[:,'NU_NOTA_REDACAO']]

In [ ]:
df_renda_resultado2018 = df_resultado
df_renda_resultado2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Respostas          17 non-null     object
 1   Salario Minimo     17 non-null     object
 2   Valores Numericos  17 non-null     object
 3   Ausentes           17 non-null     int64
 4   Presentes          17 non-null     int64
 5   Med_CN             17 non-null     float64
 6   Med_CH             17 non-null     float64
 7   Med_LC             17 non-null     float64
 8   Med_MT             17 non-null     float64
 9   Med_RD             17 non-null     float64
 10  Max_CN             17 non-null     float64
 11  Max_CH             17 non-null     float64
 12  Max_LC             17 non-null     float64
 13  Max_MT             17 non-null     float64
 14  Max_RD             17 non-null     float64
 15  Min_CN             17 non-null     float64
 16  Min_CH             17 non-null     float64
 17  Min_LC             17 non-null     float64
 18  Min_MT             17 non-null     float64
 19  Min_RD             17 non-null     float64
dtypes: float64(15), int64(2), object(3)
memory usage: 2.8+ KB

### Analise 2019

In [ ]:
# Dicionario 1: Coluna Q006 segundo o Dicionario do Enem:
dic_006_2019 = {
    'A'	: 'Nenhuma renda',
    'B'	: 'Até R$ 998,00',
    'C'	: 'De R$ 998,01 - R$ 1.497,00',
    'D'	: 'De R$ 1.497,01 - R$ 1.996,00',
    'E'	: 'De R$ 1.996,01 - R$ 2.495,00',
    'F'	: 'De R$ 2.495,01 - R$ 2.994,00',
    'G'	: 'De R$ 2.994,01 - R$ 3.992,00',
    'H'	: 'De R$ 3.992,01 - R$ 4.990,00',
    'I'	: 'De R$ 4.990,01 - R$ 5.988,00',
    'J'	: 'De R$ 5.988,01 - R$ 6.986,00',
    'K'	: 'De R$ 6.986,01 - R$ 7.984,00',
    'L'	: 'De R$ 7.984,01 - R$ 8.982,00',
    'M'	: 'De R$ 8.982,01 - R$ 9.980,00',
    'N'	: 'De R$ 9.980,01 - R$ 11.976,00',
    'O'	: 'De R$ 11.976,01 - R$ 14.970,00',
    'P'	: 'De R$ 14.970,01 - R$ 19.960,00',
    'Q'	: 'Mais de R$ 19.960,00'
}

In [ ]:
# Dicionario 2: Contagem em Salarios Minimos (2017 = R$ 937,00)

sala_min2019 = {
    'A'	: "0.0",
    'B'	: "0.0 - 1,0",
    'C'	: "1.0 - 1,5",
    'D'	: "1.5 - 2,0",
    'E'	: "2.0 - 2,5",
    'F'	: "2.5 - 3,0",
    'G'	: "3.0 - 4,0",
    'H'	: "4.0 - 5,0",
    'I'	: "5.0 - 6,0",
    'J'	: "6.0 - 7,0",
    'K'	: "7.0 - 8,0",
    'L'	: "8.0 - 9.0",
    'M'	: "9.0 - 10.0",
    'N'	: "10.0 - 12.0",
    'O'	: "12.0 - 15.0",
    'P'	: "15.0 - 20.0",
    'Q'	: "Acima 20.0",
}

In [ ]:
#Criando os Filtros para a Divisão
filtro_ausente    = ((dp_Enem2019['TP_PRESENCA_CN'] == 0) | (dp_Enem2019['TP_PRESENCA_CH'] == 0) | (dp_Enem2019['TP_PRESENCA_LC'] == 0) | (dp_Enem2017['TP_PRESENCA_MT'] == 0))
filtro_presente   = ((dp_Enem2019['TP_PRESENCA_CN'] == 1) & (dp_Enem2019['TP_PRESENCA_CH'] == 1) & (dp_Enem2019['TP_PRESENCA_LC'] == 1) & (dp_Enem2017['TP_PRESENCA_MT'] == 1))
filtro_eliminado  = ((dp_Enem2019['TP_PRESENCA_CN'] == 2) | (dp_Enem2019['TP_PRESENCA_CH'] == 2) | (dp_Enem2019['TP_PRESENCA_LC'] == 2) | (dp_Enem2017['TP_PRESENCA_MT'] == 2))

In [ ]:
# Dividindo o Banco de Dadoo:
selecao_linhas = ['NU_INSCRICAO','Q006']
ausentes    = dp_Enem2019.loc[filtro_ausente,selecao_linhas]
ausentes['Salario Minimo'] = [sala_min2019[valor] for valor in ausentes['Q006']] # <- Para ficar mais facil de comparar colocamos tudo em função d Salario Minimos
ausentes['Resposta'] = [dic_006_2019[valor] for valor in ausentes['Q006']]            # <- Criando uma coluna nova para ajudar na identificação de alguns valores
 
eliminados  = dp_Enem2019.loc[filtro_eliminado,selecao_linhas]
eliminados['Salario Minimo'] = [sala_min2017[valor] for valor in eliminados['Q006']]
eliminados['Resposta'] = [dic_006_2019[valor] for valor in eliminados['Q006']]

selecao_linhas = selecao_linhas + notas
presentes = dp_Enem2019.loc[filtro_presente,selecao_linhas]

In [ ]:
filtro = ['NU_INSCRICAO','Salario Minimo']
ausentes.filter(filtro).groupby('Salario Minimo').count().sort_values(by=['NU_INSCRICAO'],ascending=False)

                NU_INSCRICAO
Salario Minimo
1.0 - 1,5             672136
0.0 - 1,0             639721
1.5 - 2,0             249723
2.0 - 2,5             232634
3.0 - 4,0             138064
0.0                   119537
2.5 - 3,0             106117
4.0 - 5,0              85467
5.0 - 6,0              61325
6.0 - 7,0              34152
10.0 - 12.0            25771
Acima 20.0             24637
7.0 - 8,0              24085
12.0 - 15.0            21122
8.0 - 9.0              18693
9.0 - 10.0             18188
15.0 - 20.0            18044

In [ ]:
eliminados.filter(filtro).groupby('Salario Minimo').count().sort_values(by=['NU_INSCRICAO'],ascending=False)

                NU_INSCRICAO
Salario Minimo
1.0 - 1,5               1817
0.0 - 1,0               1573
1.5 - 2,0                732
2.0 - 2,5                672
3.0 - 4,0                438
2.5 - 3,0                334
0.0                      265
4.0 - 5,0                260
5.0 - 6,0                169
6.0 - 7,0                114
7.0 - 8,0                 84
10.0 - 12.0               72
Acima 20.0                60
8.0 - 9.0                 56
12.0 - 15.0               53
9.0 - 10.0                47
15.0 - 20.0               44

In [ ]:
filtro = ['Q006'] + notas
presentes.filter(filtro).groupby('Q006').mean().sort_values(by=notas, ascending=False)

      NU_NOTA_MT  NU_NOTA_CH  NU_NOTA_LC  NU_NOTA_CN  NU_NOTA_REDACAO
Q006
Q     680.960792  601.814352  588.604519  572.337977       748.634055
P     666.446954  596.450510  584.901310  568.318043       738.334590
O     653.858472  589.526418  580.449264  561.059391       728.982106
N     641.756992  583.018151  576.525763  554.651372       714.994143
M     630.314220  576.936535  572.527097  548.027496       705.511937
L     625.933543  574.423919  570.833637  544.752469       702.480571
K     614.796717  568.967558  567.048354  538.426566       691.465487
J     607.916934  564.922922  564.229678  534.349707       685.105917
I     594.839733  556.482333  558.692757  524.888831       666.383858
H     583.543200  550.263806  554.127465  518.040326       652.550974
G     561.755616  537.744753  545.348892  503.827733       629.269624
F     552.603692  531.287623  540.477323  497.444153       613.709045
E     529.944110  518.540047  531.019974  483.764155       591.715342
D     521.809849  512.067237  525.644056  477.878361       576.990643
C     496.838967  495.196679  512.092370  461.990785       553.226781
B     475.955876  475.545968  494.180113  445.460049       524.279390
A     468.398758  468.182869  486.149540  440.328356       502.635988

In [ ]:
presentes.filter(filtro).groupby('Q006').max().sort_values(by=notas,ascending=False)

In [ ]:
selecao_linhas = ['NU_INSCRICAO','Q006'] + notas
minimos = presentes.loc[(presentes['NU_NOTA_MT'] != 0),selecao_linhas]
filtro = ['Q006','NU_NOTA_MT'] 
minimos.filter(filtro).groupby('Q006').min().sort_values(by=['NU_NOTA_MT'],ascending=False)

In [ ]:
minimos = presentes.loc[(presentes['NU_NOTA_LC'] != 0),selecao_linhas]
filtro = ['Q006','NU_NOTA_LC'] 
minimos.filter(filtro).groupby('Q006').min().sort_values(by=['NU_NOTA_LC'],ascending=False)

In [ ]:
minimos = presentes.loc[(presentes['NU_NOTA_CN'] != 0),selecao_linhas]
filtro = ['Q006','NU_NOTA_CN'] 
minimos.filter(filtro).groupby('Q006').min().sort_values(by=['NU_NOTA_CN'],ascending=False)

In [ ]:
minimos = presentes.loc[(presentes['NU_NOTA_CH'] != 0),selecao_linhas]
filtro = ['Q006','NU_NOTA_CH'] 
minimos.filter(filtro).groupby('Q006').min().sort_values(by=['NU_NOTA_CH'],ascending=False)

In [ ]:
filtro = ['Q006'] + notas

#Criando a Tabela de Soluções
df_resultado = pd.DataFrame({'Respostas' : dic_006_2019.keys(),'Salario Minimo': sala_min2019.values(),'Valores Numericos' : dic_006_2019.values()})

#Adicionando Ausentes
novo = ausentes.groupby('Q006').count().sort_values(by=['Q006'])
df_resultado['Ausentes'] = [i for i in novo.loc[:,'NU_INSCRICAO']]

#Adicionando Ausentes
novo = presentes.groupby('Q006').count().sort_values(by=['Q006'])
df_resultado['Presentes'] = [i for i in novo.loc[:,'NU_INSCRICAO']]

#Adicionando Media dos Candidatos
novo = presentes.filter(filtro).groupby('Q006').mean().sort_values(by=['Q006'])
df_resultado['Med_CN'] = [i for i in novo.loc[:,'NU_NOTA_CN']]      # Ciencias Naturais
df_resultado['Med_CH'] = [i for i in novo.loc[:,'NU_NOTA_CH']]      # Ciencias Humanas
df_resultado['Med_LC'] = [i for i in novo.loc[:,'NU_NOTA_LC']]      # Linguagens 
df_resultado['Med_MT'] = [i for i in novo.loc[:,'NU_NOTA_MT']]      # Matematica
df_resultado['Med_RD'] = [i for i in novo.loc[:,'NU_NOTA_REDACAO']] # Redação

#Adicionando as Notas Mais Altas
novo = presentes.filter(filtro).groupby('Q006').max().sort_values(by=['Q006'])
df_resultado['Max_CN'] = [i for i in novo.loc[:,'NU_NOTA_CN']]      # Ciencias Naturais
df_resultado['Max_CH'] = [i for i in novo.loc[:,'NU_NOTA_CH'] ]     # Ciencias Humanas
df_resultado['Max_LC'] = [i for i in novo.loc[:,'NU_NOTA_LC'] ]     # Linguagens
df_resultado['Max_MT'] = [i for i in novo.loc[:,'NU_NOTA_MT'] ]     # Matematica
df_resultado['Max_RD'] = [i for i in novo.loc[:,'NU_NOTA_REDACAO']] # Redação

#Adicionando as Menores Notas não nulas
minimos = presentes.loc[(presentes['NU_NOTA_CN'] != 0),selecao_linhas] # Ciencias Naturais
novo = minimos.groupby('Q006').min().sort_values(by=['Q006'])
df_resultado['Min_CN'] = [i for i in novo.loc[:, 'NU_NOTA_CN']]

minimos = presentes.loc[(presentes['NU_NOTA_CH'] != 0),selecao_linhas] # Ciencias Humanas
novo = minimos.groupby('Q006').min().sort_values(by=['Q006'])
df_resultado['Min_CH'] = [i for i in novo.loc[:, 'NU_NOTA_CH']]

minimos = presentes.loc[(presentes['NU_NOTA_LC'] != 0),selecao_linhas] # Linguagem
novo = minimos.groupby('Q006').min().sort_values(by=['Q006'])
df_resultado['Min_LC'] = [i for i in novo.loc[:,'NU_NOTA_LC']]

minimos = presentes.loc[(presentes['NU_NOTA_MT'] != 0),selecao_linhas] # Matematica
novo = minimos.groupby('Q006').min().sort_values(by=['Q006'])
df_resultado['Min_MT'] = [i for i in novo.loc[:,'NU_NOTA_MT']]

minimos = presentes.loc[(presentes['NU_NOTA_REDACAO'] != 0),selecao_linhas] # Matematica
novo = minimos.groupby('Q006').min().sort_values(by=['Q006'])
df_resultado['Min_RD'] = [i for i in novo.loc[:,'NU_NOTA_REDACAO']]

In [ ]:
df_renda_resultado2019 = df_resultado
df_renda_resultado2019.info()

### Resultados e Graficos

##

## Pai / Mãe

### Inicializar

In [ ]:
#Selecionado as Colunas que vamos utilizar:
colunas = ['NU_INSCRICAO','Q001','Q002','TP_PRESENCA_CN','TP_PRESENCA_CH','TP_PRESENCA_LC','TP_PRESENCA_MT','NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC','NU_NOTA_MT','NU_NOTA_REDACAO',]

dp_Enem2017 = pd.read_csv("/Banco_de_Dados/MyDrive/Iniciação Cientifica/Banco_de_Dados/microdados_enem_2017/DADOS/MICRODADOS_ENEM_2017.csv",sep=";",encoding="ISO-8859-1",usecols=colunas)
dp_Enem2018 = pd.read_csv("/Banco_de_Dados/MyDrive/Iniciação Cientifica/Banco_de_Dados/microdados_enem_2018/DADOS/MICRODADOS_ENEM_2018.csv",sep=";",encoding="ISO-8859-1",usecols=colunas)
dp_Enem2019 = pd.read_csv("/Banco_de_Dados/MyDrive/Iniciação Cientifica/Banco_de_Dados/microdados_enem_2019/DADOS/MICRODADOS_ENEM_2019.csv",sep=";",encoding="ISO-8859-1",usecols=colunas)

In [ ]:
#Memoria do Banco de Dados de 2017
dp_Enem2017.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6731341 entries, 0 to 6731340
Data columns (total 12 columns):
 #   Column           Dtype
---  ------           -----
 0   NU_INSCRICAO     int64
 1   TP_PRESENCA_CN   float64
 2   TP_PRESENCA_CH   float64
 3   TP_PRESENCA_LC   float64
 4   TP_PRESENCA_MT   float64
 5   NU_NOTA_CN       float64
 6   NU_NOTA_CH       float64
 7   NU_NOTA_LC       float64
 8   NU_NOTA_MT       float64
 9   NU_NOTA_REDACAO  float64
 10  Q001             object
 11  Q002             object
dtypes: float64(9), int64(1), object(2)
memory usage: 1.2 GB

In [ ]:
#Memoria do Banco de Dados de 2018
dp_Enem2018.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5513747 entries, 0 to 5513746
Data columns (total 12 columns):
 #   Column           Dtype
---  ------           -----
 0   NU_INSCRICAO     int64
 1   TP_PRESENCA_CN   float64
 2   TP_PRESENCA_CH   float64
 3   TP_PRESENCA_LC   float64
 4   TP_PRESENCA_MT   float64
 5   NU_NOTA_CN       float64
 6   NU_NOTA_CH       float64
 7   NU_NOTA_LC       float64
 8   NU_NOTA_MT       float64
 9   NU_NOTA_REDACAO  float64
 10  Q001             object
 11  Q002             object
dtypes: float64(9), int64(1), object(2)
memory usage: 1.0 GB

In [ ]:
#Memoria do Banco de Dados de 2019
dp_Enem2019.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5095270 entries, 0 to 5095269
Data columns (total 12 columns):
 #   Column           Dtype
---  ------           -----
 0   NU_INSCRICAO     int64
 1   TP_PRESENCA_CN   int64
 2   TP_PRESENCA_CH   int64
 3   TP_PRESENCA_LC   int64
 4   TP_PRESENCA_MT   int64
 5   NU_NOTA_CN       float64
 6   NU_NOTA_CH       float64
 7   NU_NOTA_LC       float64
 8   NU_NOTA_MT       float64
 9   NU_NOTA_REDACAO  float64
 10  Q001             object
 11  Q002             object
dtypes: float64(5), int64(5), object(2)
memory usage: 952.4 MB

In [ ]:
#Filtros Genericos
notas = ['NU_NOTA_MT','NU_NOTA_CH','NU_NOTA_LC','NU_NOTA_CN','NU_NOTA_REDACAO']
presenca = ['TP_PRESENCA_CN','TP_PRESENCA_CH','TP_PRESENCA_LC','TP_PRESENCA_MT']

In [ ]:
# Dicionario 1: Coluna Q006 segundo o Dicionario do Enem:
dic_001_002 = {
    'A'	: "Nunca estudou.",
    'B'	: "Não completou a 4ª série/5º ano do Ensino Fundamental.",
    'C'	: "Completou a 4ª série/5º ano, mas não completou a 8ª série/9º ano do Ensino Fundamental.",
    'D'	: "Completou a 8ª série/9º ano do Ensino Fundamental, mas não completou o Ensino Médio.",
    'E'	: "Completou o Ensino Médio, mas não completou a Faculdade.",
    'F'	: "Completou a Faculdade, mas não completou a Pós-graduação.",
    'G'	: "Completou a Pós-graduação.",
    'H'	: "Não sei.",
}

### Analise 2017

In [ ]:
#Criando os Filtros para a Divisão
filtro_ausente    = ((dp_Enem2017['TP_PRESENCA_CN'] == 0) | (dp_Enem2017['TP_PRESENCA_CH'] == 0) | (dp_Enem2017['TP_PRESENCA_LC'] == 0) | (dp_Enem2017['TP_PRESENCA_MT'] == 0))
filtro_presente   = ((dp_Enem2017['TP_PRESENCA_CN'] == 1) & (dp_Enem2017['TP_PRESENCA_CH'] == 1) & (dp_Enem2017['TP_PRESENCA_LC'] == 1) & (dp_Enem2017['TP_PRESENCA_MT'] == 1))
filtro_eliminado  = ((dp_Enem2017['TP_PRESENCA_CN'] == 2) | (dp_Enem2017['TP_PRESENCA_CH'] == 2) | (dp_Enem2017['TP_PRESENCA_LC'] == 2) | (dp_Enem2017['TP_PRESENCA_MT'] == 2))

In [ ]:
# Dividindo o Banco de Dadoo:
selecao_linhas = ['NU_INSCRICAO','Q001','Q002']
ausentes    = dp_Enem2017.loc[filtro_ausente,selecao_linhas]

eliminados  = dp_Enem2017.loc[filtro_eliminado,selecao_linhas]

selecao_linhas = selecao_linhas + notas
presentes = dp_Enem2017.loc[filtro_presente,selecao_linhas]

#### Pai

In [ ]:
filtro = ['NU_INSCRICAO','Q001']
ausentes.filter(filtro).groupby('Q001').count().sort_values(by=['NU_INSCRICAO'],ascending=False)

In [ ]:
eliminados.filter(filtro).groupby('Q001').count().sort_values(by=['NU_INSCRICAO'],ascending=False)

In [ ]:
filtro = ['Q001'] + notas
presentes.filter(filtro).groupby('Q001').mean().sort_values(by=notas, ascending=False)

In [ ]:
presentes.filter(filtro).groupby('Q001').max().sort_values(by=notas,ascending=False)

In [ ]:
selecao_linhas = ['NU_INSCRICAO','Q001'] + notas
minimos = presentes.loc[(presentes['NU_NOTA_MT'] != 0),selecao_linhas]
filtro = ['Q001','NU_NOTA_MT'] 
minimos.filter(filtro).groupby('Q001').min().sort_values(by=['NU_NOTA_MT'],ascending=False)

In [ ]:
minimos = presentes.loc[(presentes['NU_NOTA_LC'] != 0),selecao_linhas]
filtro = ['Q001','NU_NOTA_LC'] 
minimos.filter(filtro).groupby('Q001').min().sort_values(by=['NU_NOTA_LC'],ascending=False)

In [ ]:
minimos = presentes.loc[(presentes['NU_NOTA_CN'] != 0),selecao_linhas]
filtro = ['Q001','NU_NOTA_CN'] 
minimos.filter(filtro).groupby('Q001').min().sort_values(by=['NU_NOTA_CN'],ascending=False)

In [ ]:
minimos = presentes.loc[(presentes['NU_NOTA_CH'] != 0),selecao_linhas]
filtro = ['Q001','NU_NOTA_CH'] 
minimos.filter(filtro).groupby('Q001').min().sort_values(by=['NU_NOTA_CH'],ascending=False)

In [ ]:
filtro = ['Q001'] + notas

#Criando a Tabela de Soluções
df_resultado = pd.DataFrame({'Respostas' : dic_001_002.keys(),'Escolaridade': dic_001_002.values()})

#Adicionando Ausentes
novo = ausentes.groupby('Q001').count().sort_values(by=['Q001'])
df_resultado['Ausentes'] = [i for i in novo.loc[:,'NU_INSCRICAO']]

#Adicionando Ausentes
novo = presentes.groupby('Q001').count().sort_values(by=['Q001'])
df_resultado['Presentes'] = [i for i in novo.loc[:,'NU_INSCRICAO']]

#Adicionando Media dos Candidatos
novo = presentes.filter(filtro).groupby('Q001').mean().sort_values(by=['Q001'])
df_resultado['Med_CN'] = [i for i in novo.loc[:,'NU_NOTA_CN']]      # Ciencias Naturais
df_resultado['Med_CH'] = [i for i in novo.loc[:,'NU_NOTA_CH']]      # Ciencias Humanas
df_resultado['Med_LC'] = [i for i in novo.loc[:,'NU_NOTA_LC']]      # Linguagens 
df_resultado['Med_MT'] = [i for i in novo.loc[:,'NU_NOTA_MT']]      # Matematica
df_resultado['Med_RD'] = [i for i in novo.loc[:,'NU_NOTA_REDACAO']] # Redação

#Adicionando as Notas Mais Altas
novo = presentes.filter(filtro).groupby('Q001').max().sort_values(by=['Q001'])
df_resultado['Max_CN'] = [i for i in novo.loc[:,'NU_NOTA_CN']]      # Ciencias Naturais
df_resultado['Max_CH'] = [i for i in novo.loc[:,'NU_NOTA_CH'] ]     # Ciencias Humanas
df_resultado['Max_LC'] = [i for i in novo.loc[:,'NU_NOTA_LC'] ]     # Linguagens
df_resultado['Max_MT'] = [i for i in novo.loc[:,'NU_NOTA_MT'] ]     # Matematica
df_resultado['Max_RD'] = [i for i in novo.loc[:,'NU_NOTA_REDACAO']] # Redação

#Adicionando as Menores Notas não nulas
minimos = presentes.loc[(presentes['NU_NOTA_CN'] != 0),selecao_linhas] # Ciencias Naturais
novo = minimos.groupby('Q001').min().sort_values(by=['Q001'])
df_resultado['Min_CN'] = [i for i in novo.loc[:, 'NU_NOTA_CN']]

minimos = presentes.loc[(presentes['NU_NOTA_CH'] != 0),selecao_linhas] # Ciencias Humanas
novo = minimos.groupby('Q001').min().sort_values(by=['Q001'])
df_resultado['Min_CH'] = [i for i in novo.loc[:, 'NU_NOTA_CH']]

minimos = presentes.loc[(presentes['NU_NOTA_LC'] != 0),selecao_linhas] # Linguagem
novo = minimos.groupby('Q001').min().sort_values(by=['Q001'])
df_resultado['Min_LC'] = [i for i in novo.loc[:,'NU_NOTA_LC']]

minimos = presentes.loc[(presentes['NU_NOTA_MT'] != 0),selecao_linhas] # Matematica
novo = minimos.groupby('Q001').min().sort_values(by=['Q001'])
df_resultado['Min_MT'] = [i for i in novo.loc[:,'NU_NOTA_MT']]

minimos = presentes.loc[(presentes['NU_NOTA_REDACAO'] != 0),selecao_linhas] # Matematica
novo = minimos.groupby('Q001').min().sort_values(by=['Q001'])
df_resultado['Min_RD'] = [i for i in novo.loc[:,'NU_NOTA_REDACAO']]

In [ ]:
df_escolaridade_pai_resultado2017 = df_resultado
df_escolaridade_pai_resultado2017.head()

,Respostas,Escolaridade,Ausentes,Presentes,Med_CN,Med_CH,Med_LC,Med_MT,Med_RD,Max_CN,Max_CH,Max_LC,Max_MT,Max_RD,Min_CN,Min_CH,Min_LC,Min_MT,Min_RD
0,A,Nunca estudou.,186191,235500,483.766075,486.760184,478.818669,467.530549,447.571380,805.4,824.3,719.8,966.1,980.0,299.7,325.5,299.6,312.8,40.0
1,B,Não completou a 4ª série/5º ano do Ensino Fund...,653366,949055,492.818955,500.586936,493.715374,487.199458,487.364926,829.6,825.1,753.5,979.3,1000.0,298.0,315.6,299.6,312.0,40.0
2,C,"Completou a 4ª série/5º ano, mas não completou...",358089,646907,501.161597,511.450487,504.343562,505.262816,514.427514,824.2,868.3,743.2,987.0,1000.0,298.2,323.9,299.6,312.1,40.0
3,D,Completou a 8ª série/9º ano do Ensino Fundamen...,269383,545183,506.336018,517.378749,510.123907,514.601088,529.755477,822.5,845.9,756.5,987.8,1000.0,299.2,319.5,299.6,311.6,40.0
4,E,"Completou o Ensino Médio, mas não completou a ...",462520,1139984,520.628965,533.907941,524.034565,536.116836,557.812601,868.3,868.3,779.3,993.9,1000.0,298.3,310.7,299.6,310.4,40.0

#### Mae

In [ ]:
filtro = ['NU_INSCRICAO','Q002']
ausentes.filter(filtro).groupby('Q002').count().sort_values(by=['NU_INSCRICAO'],ascending=False)

      NU_INSCRICAO
Q002
E           603785
B           537983
C           378842
D           332536
A           144684
F           124730
H           102742
G            77790

In [ ]:
eliminados.filter(filtro).groupby('Q002').count().sort_values(by=['NU_INSCRICAO'],ascending=False)

      NU_INSCRICAO
Q002
E             1052
B              560
C              470
D              430
F              312
G              201
H              137
A              113

In [ ]:
filtro = ['Q002'] + notas
presentes.filter(filtro).groupby('Q002').mean().sort_values(by=notas, ascending=False)

      NU_NOTA_MT  NU_NOTA_CH  NU_NOTA_LC  NU_NOTA_CN  NU_NOTA_REDACAO
Q002
G     591.093894  570.843987  550.214258  557.908625       621.563904
F     578.223176  562.238405  545.008978  548.649727       603.939675
E     527.230099  527.106228  518.617286  514.639784       546.654881
D     505.978208  511.301186  505.424553  500.861429       517.102461
C     498.199878  507.312052  500.755998  497.183665       502.994246
H     486.001138  493.162768  486.530788  489.216594       465.484704
B     482.164030  498.203770  491.312635  490.686916       477.512926
A     462.829182  485.786746  477.296887  483.371849       433.458939

In [ ]:
presentes.filter(filtro).groupby('Q002').max().sort_values(by=notas,ascending=False)

      NU_NOTA_MT  NU_NOTA_CH  NU_NOTA_LC  NU_NOTA_CN  NU_NOTA_REDACAO
Q002
E          993.9       868.3       788.8       885.6           1000.0
G          993.9       868.3       775.6       856.4           1000.0
F          993.9       854.3       785.9       853.0           1000.0
C          993.9       845.9       756.3       824.2            980.0
B          993.9       828.8       734.8       811.6           1000.0
D          990.2       845.6       727.5       820.1           1000.0
H          981.5       834.3       768.5       839.3            980.0
A          932.3       845.2       710.5       805.4           1000.0

In [ ]:
selecao_linhas = ['NU_INSCRICAO','Q002'] + notas
minimos = presentes.loc[(presentes['NU_NOTA_MT'] != 0),selecao_linhas]
filtro = ['Q002','NU_NOTA_MT'] 
minimos.filter(filtro).groupby('Q002').min().sort_values(by=['NU_NOTA_MT'],ascending=False)

      NU_NOTA_MT
Q002
G          315.8
F          313.8
B          313.4
A          312.8
D          311.6
H          311.6
C          310.9
E          310.4

In [ ]:
minimos = presentes.loc[(presentes['NU_NOTA_LC'] != 0),selecao_linhas]
filtro = ['Q002','NU_NOTA_LC'] 
minimos.filter(filtro).groupby('Q002').min().sort_values(by=['NU_NOTA_LC'],ascending=False)

      NU_NOTA_LC
Q002
A          299.6
B          299.6
C          299.6
D          299.6
E          299.6
F          299.6
G          299.6
H          299.6

In [ ]:
minimos = presentes.loc[(presentes['NU_NOTA_CN'] != 0),selecao_linhas]
filtro = ['Q002','NU_NOTA_CN'] 
minimos.filter(filtro).groupby('Q002').min().sort_values(by=['NU_NOTA_CN'],ascending=False)

      NU_NOTA_CN
Q002
F          305.4
A          300.8
H          300.8
G          299.9
B          299.8
D          298.2
E          298.2
C          298.0

In [ ]:
minimos = presentes.loc[(presentes['NU_NOTA_CH'] != 0),selecao_linhas]
filtro = ['Q002','NU_NOTA_CH'] 
minimos.filter(filtro).groupby('Q002').min().sort_values(by=['NU_NOTA_CH'],ascending=False)

      NU_NOTA_CH
Q002
G          322.8
D          321.6
A          320.4
F          317.2
C          316.9
H          316.7
B          315.6
E          310.7

In [ ]:
filtro = ['Q002'] + notas

#Criando a Tabela de Soluções
df_resultado = pd.DataFrame({'Respostas' : dic_001_002.keys(),'Escolaridade': dic_001_002.values()})

#Adicionando Ausentes
novo = ausentes.groupby('Q002').count().sort_values(by=['Q002'])
df_resultado['Ausentes'] = [i for i in novo.loc[:,'NU_INSCRICAO']]

#Adicionando Ausentes
novo = presentes.groupby('Q002').count().sort_values(by=['Q002'])
df_resultado['Presentes'] = [i for i in novo.loc[:,'NU_INSCRICAO']]

#Adicionando Media dos Candidatos
novo = presentes.filter(filtro).groupby('Q002').mean().sort_values(by=['Q002'])
df_resultado['Med_CN'] = [i for i in novo.loc[:,'NU_NOTA_CN']]      # Ciencias Naturais
df_resultado['Med_CH'] = [i for i in novo.loc[:,'NU_NOTA_CH']]      # Ciencias Humanas
df_resultado['Med_LC'] = [i for i in novo.loc[:,'NU_NOTA_LC']]      # Linguagens 
df_resultado['Med_MT'] = [i for i in novo.loc[:,'NU_NOTA_MT']]      # Matematica
df_resultado['Med_RD'] = [i for i in novo.loc[:,'NU_NOTA_REDACAO']] # Redação

#Adicionando as Notas Mais Altas
novo = presentes.filter(filtro).groupby('Q002').max().sort_values(by=['Q002'])
df_resultado['Max_CN'] = [i for i in novo.loc[:,'NU_NOTA_CN']]      # Ciencias Naturais
df_resultado['Max_CH'] = [i for i in novo.loc[:,'NU_NOTA_CH'] ]     # Ciencias Humanas
df_resultado['Max_LC'] = [i for i in novo.loc[:,'NU_NOTA_LC'] ]     # Linguagens
df_resultado['Max_MT'] = [i for i in novo.loc[:,'NU_NOTA_MT'] ]     # Matematica
df_resultado['Max_RD'] = [i for i in novo.loc[:,'NU_NOTA_REDACAO']] # Redação

#Adicionando as Menores Notas não nulas
minimos = presentes.loc[(presentes['NU_NOTA_CN'] != 0),selecao_linhas] # Ciencias Naturais
novo = minimos.groupby('Q002').min().sort_values(by=['Q002'])
df_resultado['Min_CN'] = [i for i in novo.loc[:, 'NU_NOTA_CN']]

minimos = presentes.loc[(presentes['NU_NOTA_CH'] != 0),selecao_linhas] # Ciencias Humanas
novo = minimos.groupby('Q002').min().sort_values(by=['Q002'])
df_resultado['Min_CH'] = [i for i in novo.loc[:, 'NU_NOTA_CH']]

minimos = presentes.loc[(presentes['NU_NOTA_LC'] != 0),selecao_linhas] # Linguagem
novo = minimos.groupby('Q002').min().sort_values(by=['Q002'])
df_resultado['Min_LC'] = [i for i in novo.loc[:,'NU_NOTA_LC']]

minimos = presentes.loc[(presentes['NU_NOTA_MT'] != 0),selecao_linhas] # Matematica
novo = minimos.groupby('Q002').min().sort_values(by=['Q002'])
df_resultado['Min_MT'] = [i for i in novo.loc[:,'NU_NOTA_MT']]

minimos = presentes.loc[(presentes['NU_NOTA_REDACAO'] != 0),selecao_linhas] # Matematica
novo = minimos.groupby('Q002').min().sort_values(by=['Q002'])
df_resultado['Min_RD'] = [i for i in novo.loc[:,'NU_NOTA_REDACAO']]

In [ ]:
df_escolaridade_mae_resultado2017 = df_resultado
df_escolaridade_mae_resultado2017.head()

,Respostas,Escolaridade,Ausentes,Presentes,Med_CN,Med_CH,Med_LC,Med_MT,Med_RD,Max_CN,Max_CH,Max_LC,Max_MT,Max_RD,Min_CN,Min_CH,Min_LC,Min_MT,Min_RD
0,A,Nunca estudou.,144684,167615,483.371849,485.786746,477.296887,462.829182,433.458939,805.4,845.2,710.5,932.3,1000.0,300.8,320.4,299.6,312.8,40.0
1,B,Não completou a 4ª série/5º ano do Ensino Fund...,537983,726066,490.686916,498.203770,491.312635,482.164030,477.512926,811.6,828.8,734.8,993.9,1000.0,299.8,315.6,299.6,313.4,40.0
2,C,"Completou a 4ª série/5º ano, mas não completou...",378842,617825,497.183665,507.312052,500.755998,498.199878,502.994246,824.2,845.9,756.3,993.9,980.0,298.0,316.9,299.6,310.9,40.0
3,D,Completou a 8ª série/9º ano do Ensino Fundamen...,332536,607488,500.861429,511.301186,505.424553,505.978208,517.102461,820.1,845.6,727.5,990.2,1000.0,298.2,321.6,299.6,311.6,40.0
4,E,"Completou o Ensino Médio, mas não completou a ...",603785,1394384,514.639784,527.106228,518.617286,527.230099,546.654881,885.6,868.3,788.8,993.9,1000.0,298.2,310.7,299.6,310.4,40.0

### Analise 2018

In [ ]:
#Criando os Filtros para a Divisão
filtro_ausente    = ((dp_Enem2018['TP_PRESENCA_CN'] == 0) | (dp_Enem2018['TP_PRESENCA_CH'] == 0) | (dp_Enem2018['TP_PRESENCA_LC'] == 0) | (dp_Enem2018['TP_PRESENCA_MT'] == 0))
filtro_presente   = ((dp_Enem2018['TP_PRESENCA_CN'] == 1) & (dp_Enem2018['TP_PRESENCA_CH'] == 1) & (dp_Enem2018['TP_PRESENCA_LC'] == 1) & (dp_Enem2018['TP_PRESENCA_MT'] == 1))
filtro_eliminado  = ((dp_Enem2018['TP_PRESENCA_CN'] == 2) | (dp_Enem2018['TP_PRESENCA_CH'] == 2) | (dp_Enem2018['TP_PRESENCA_LC'] == 2) | (dp_Enem2018['TP_PRESENCA_MT'] == 2))

In [ ]:
# Dividindo o Banco de Dadoo:
selecao_linhas = ['NU_INSCRICAO','Q001','Q002']
ausentes    = dp_Enem2018.loc[filtro_ausente,selecao_linhas]

eliminados  = dp_Enem2018.loc[filtro_eliminado,selecao_linhas]

selecao_linhas = selecao_linhas + notas
presentes = dp_Enem2018.loc[filtro_presente,selecao_linhas]

#### Pai

In [ ]:
filtro = ['NU_INSCRICAO','Q001']
ausentes.filter(filtro).groupby('Q001').count().sort_values(by=['NU_INSCRICAO'],ascending=False)

      NU_INSCRICAO
Q001
B           453189
E           341128
C           244455
D           180447
H           166979
A           124084
F            71864
G            36859

In [ ]:
eliminados.filter(filtro).groupby('Q001').count().sort_values(by=['NU_INSCRICAO'],ascending=False)

      NU_INSCRICAO
Q001
E              707
B              538
C              358
D              302
H              242
F              200
A              128
G              109

In [ ]:
filtro = ['Q001'] + notas
presentes.filter(filtro).groupby('Q001').mean().sort_values(by=notas, ascending=False)

      NU_NOTA_MT  NU_NOTA_CH  NU_NOTA_LC  NU_NOTA_CN  NU_NOTA_REDACAO
Q001
G     628.857128  626.735670  585.185091  558.180383       652.213740
F     606.911985  615.671289  574.976178  542.978477       622.431152
E     550.922641  581.230288  541.861835  503.320749       544.272256
D     530.540300  566.614118  526.583979  488.844204       511.711832
C     519.450349  560.379027  518.181527  482.076938       492.834723
H     512.678252  555.789059  513.512369  477.651276       474.284161
B     502.412921  550.925567  504.919138  472.707538       464.490076
A     483.412209  537.870893  486.735799  462.097638       427.263044

In [ ]:
presentes.filter(filtro).groupby('Q001').max().sort_values(by=notas,ascending=False)

      NU_NOTA_MT  NU_NOTA_CH  NU_NOTA_LC  NU_NOTA_CN  NU_NOTA_REDACAO
Q001
G          996.1       850.4       816.9       869.6           1000.0
F          996.1       850.4       810.2       869.6           1000.0
E          996.1       850.4       797.2       869.6           1000.0
C          996.1       821.0       807.7       827.6           1000.0
A          996.1       815.7       740.6       795.2           1000.0
B          994.4       850.4       783.6       834.1           1000.0
D          994.4       840.9       788.7       869.6           1000.0
H          992.0       840.9       770.7       846.3            980.0

In [ ]:
selecao_linhas = ['NU_INSCRICAO','Q001'] + notas
minimos = presentes.loc[(presentes['NU_NOTA_MT'] != 0),selecao_linhas]
filtro = ['Q001','NU_NOTA_MT'] 
minimos.filter(filtro).groupby('Q001').min().sort_values(by=['NU_NOTA_MT'],ascending=False)

      NU_NOTA_MT
Q001
A          362.8
H          362.1
C          361.6
G          361.6
F          361.3
E          360.5
D          360.3
B          360.0

In [ ]:
minimos = presentes.loc[(presentes['NU_NOTA_LC'] != 0),selecao_linhas]
filtro = ['Q001','NU_NOTA_LC'] 
minimos.filter(filtro).groupby('Q001').min().sort_values(by=['NU_NOTA_LC'],ascending=False)

      NU_NOTA_LC
Q001
G          321.4
A          318.8
B          318.8
C          318.8
D          318.8
F          318.8
H          315.6
E          314.1

In [ ]:
minimos = presentes.loc[(presentes['NU_NOTA_CN'] != 0),selecao_linhas]
filtro = ['Q001','NU_NOTA_CN'] 
minimos.filter(filtro).groupby('Q001').min().sort_values(by=['NU_NOTA_CN'],ascending=False)

      NU_NOTA_CN
Q001
A          362.5
B          362.5
C          362.5
D          362.5
E          362.5
F          362.5
G          362.5
H          362.5

In [ ]:
minimos = presentes.loc[(presentes['NU_NOTA_CH'] != 0),selecao_linhas]
filtro = ['Q001','NU_NOTA_CH'] 
minimos.filter(filtro).groupby('Q001').min().sort_values(by=['NU_NOTA_CH'],ascending=False)

      NU_NOTA_CH
Q001
G          394.5
C          328.1
E          318.7
D          316.1
A          312.2
F          308.2
H          304.2
B          302.2

In [ ]:
filtro = ['Q001'] + notas

#Criando a Tabela de Soluções
df_resultado = pd.DataFrame({'Respostas' : dic_001_002.keys(),'Escolaridade': dic_001_002.values()})

#Adicionando Ausentes
novo = ausentes.groupby('Q001').count().sort_values(by=['Q001'])
df_resultado['Ausentes'] = [i for i in novo.loc[:,'NU_INSCRICAO']]

#Adicionando Ausentes
novo = presentes.groupby('Q001').count().sort_values(by=['Q001'])
df_resultado['Presentes'] = [i for i in novo.loc[:,'NU_INSCRICAO']]

#Adicionando Media dos Candidatos
novo = presentes.filter(filtro).groupby('Q001').mean().sort_values(by=['Q001'])
df_resultado['Med_CN'] = [i for i in novo.loc[:,'NU_NOTA_CN']]      # Ciencias Naturais
df_resultado['Med_CH'] = [i for i in novo.loc[:,'NU_NOTA_CH']]      # Ciencias Humanas
df_resultado['Med_LC'] = [i for i in novo.loc[:,'NU_NOTA_LC']]      # Linguagens 
df_resultado['Med_MT'] = [i for i in novo.loc[:,'NU_NOTA_MT']]      # Matematica
df_resultado['Med_RD'] = [i for i in novo.loc[:,'NU_NOTA_REDACAO']] # Redação

#Adicionando as Notas Mais Altas
novo = presentes.filter(filtro).groupby('Q001').max().sort_values(by=['Q001'])
df_resultado['Max_CN'] = [i for i in novo.loc[:,'NU_NOTA_CN']]      # Ciencias Naturais
df_resultado['Max_CH'] = [i for i in novo.loc[:,'NU_NOTA_CH'] ]     # Ciencias Humanas
df_resultado['Max_LC'] = [i for i in novo.loc[:,'NU_NOTA_LC'] ]     # Linguagens
df_resultado['Max_MT'] = [i for i in novo.loc[:,'NU_NOTA_MT'] ]     # Matematica
df_resultado['Max_RD'] = [i for i in novo.loc[:,'NU_NOTA_REDACAO']] # Redação

#Adicionando as Menores Notas não nulas
minimos = presentes.loc[(presentes['NU_NOTA_CN'] != 0),selecao_linhas] # Ciencias Naturais
novo = minimos.groupby('Q001').min().sort_values(by=['Q001'])
df_resultado['Min_CN'] = [i for i in novo.loc[:, 'NU_NOTA_CN']]

minimos = presentes.loc[(presentes['NU_NOTA_CH'] != 0),selecao_linhas] # Ciencias Humanas
novo = minimos.groupby('Q001').min().sort_values(by=['Q001'])
df_resultado['Min_CH'] = [i for i in novo.loc[:, 'NU_NOTA_CH']]

minimos = presentes.loc[(presentes['NU_NOTA_LC'] != 0),selecao_linhas] # Linguagem
novo = minimos.groupby('Q001').min().sort_values(by=['Q001'])
df_resultado['Min_LC'] = [i for i in novo.loc[:,'NU_NOTA_LC']]

minimos = presentes.loc[(presentes['NU_NOTA_MT'] != 0),selecao_linhas] # Matematica
novo = minimos.groupby('Q001').min().sort_values(by=['Q001'])
df_resultado['Min_MT'] = [i for i in novo.loc[:,'NU_NOTA_MT']]

minimos = presentes.loc[(presentes['NU_NOTA_REDACAO'] != 0),selecao_linhas] # Matematica
novo = minimos.groupby('Q001').min().sort_values(by=['Q001'])
df_resultado['Min_RD'] = [i for i in novo.loc[:,'NU_NOTA_REDACAO']]

In [ ]:
df_escolaridade_pai_resultado2018 = df_resultado
df_escolaridade_pai_resultado2018.head()

,Respostas,Escolaridade,Ausentes,Presentes,Med_CN,Med_CH,Med_LC,Med_MT,Med_RD,Max_CN,Max_CH,Max_LC,Max_MT,Max_RD,Min_CN,Min_CH,Min_LC,Min_MT,Min_RD
0,A,Nunca estudou.,124084,200902,462.097638,537.870893,486.735799,483.412209,427.263044,795.2,815.7,740.6,996.1,1000.0,362.5,312.2,318.8,362.8,40.0
1,B,Não completou a 4ª série/5º ano do Ensino Fund...,453189,813670,472.707538,550.925567,504.919138,502.412921,464.490076,834.1,850.4,783.6,994.4,1000.0,362.5,302.2,318.8,360.0,40.0
2,C,"Completou a 4ª série/5º ano, mas não completou...",244455,549969,482.076938,560.379027,518.181527,519.450349,492.834723,827.6,821.0,807.7,996.1,1000.0,362.5,328.1,318.8,361.6,40.0
3,D,Completou a 8ª série/9º ano do Ensino Fundamen...,180447,460454,488.844204,566.614118,526.583979,530.540300,511.711832,869.6,840.9,788.7,994.4,1000.0,362.5,316.1,318.8,360.3,40.0
4,E,"Completou o Ensino Médio, mas não completou a ...",341128,1043472,503.320749,581.230288,541.861835,550.922641,544.272256,869.6,850.4,797.2,996.1,1000.0,362.5,318.7,314.1,360.5,40.0

#### Mae

In [ ]:
filtro = ['NU_INSCRICAO','Q002']
ausentes.filter(filtro).groupby('Q002').count().sort_values(by=['NU_INSCRICAO'],ascending=False)

      NU_INSCRICAO
Q002
E           446376
B           363723
C           257236
D           225510
F           103542
A            91682
G            68209
H            62727

In [ ]:
eliminados.filter(filtro).groupby('Q002').count().sort_values(by=['NU_INSCRICAO'],ascending=False)

      NU_INSCRICAO
Q002
E              871
B              415
C              345
D              332
F              264
G              196
A               81
H               80

In [ ]:
filtro = ['Q002'] + notas
presentes.filter(filtro).groupby('Q002').mean().sort_values(by=notas, ascending=False)

      NU_NOTA_MT  NU_NOTA_CH  NU_NOTA_LC  NU_NOTA_CN  NU_NOTA_REDACAO
Q002
G     604.646114  612.297470  571.467967  541.079090       622.780760
F     591.438424  605.127633  564.964231  531.633765       601.241249
E     541.991564  574.784408  535.454577  496.836195       530.016015
D     521.292757  560.990480  520.401149  482.719194       495.963850
C     512.046346  556.734953  513.021459  477.791394       479.675260
H     504.112213  544.661063  500.130303  471.388594       447.204163
B     497.003174  549.200648  501.276719  470.328674       454.591612
A     478.218055  537.737142  483.567114  461.105105       414.232410

In [ ]:
presentes.filter(filtro).groupby('Q002').max().sort_values(by=notas,ascending=False)

      NU_NOTA_MT  NU_NOTA_CH  NU_NOTA_LC  NU_NOTA_CN  NU_NOTA_REDACAO
Q002
G          996.1       850.4       816.9       869.6           1000.0
F          996.1       850.4       810.2       869.6           1000.0
E          996.1       850.4       802.9       869.6           1000.0
B          996.1       850.4       782.0       810.6            980.0
D          994.4       810.6       777.0       851.6           1000.0
C          994.4       801.3       807.7       825.4           1000.0
H          993.0       822.9       773.8       846.3            980.0
A          982.5       797.4       757.3       765.3            980.0

In [ ]:
selecao_linhas = ['NU_INSCRICAO','Q002'] + notas
minimos = presentes.loc[(presentes['NU_NOTA_MT'] != 0),selecao_linhas]
filtro = ['Q002','NU_NOTA_MT'] 
minimos.filter(filtro).groupby('Q002').min().sort_values(by=['NU_NOTA_MT'],ascending=False)

      NU_NOTA_MT
Q002
G          364.6
H          363.6
A          363.3
B          362.8
D          361.2
C          360.5
E          360.3
F          360.0

In [ ]:
minimos = presentes.loc[(presentes['NU_NOTA_LC'] != 0),selecao_linhas]
filtro = ['Q002','NU_NOTA_LC'] 
minimos.filter(filtro).groupby('Q002').min().sort_values(by=['NU_NOTA_LC'],ascending=False)

      NU_NOTA_LC
Q002
A          318.8
B          318.8
D          318.8
F          318.8
G          318.8
H          318.8
C          315.6
E          314.1

In [ ]:
minimos = presentes.loc[(presentes['NU_NOTA_CN'] != 0),selecao_linhas]
filtro = ['Q002','NU_NOTA_CN'] 
minimos.filter(filtro).groupby('Q002').min().sort_values(by=['NU_NOTA_CN'],ascending=False)

      NU_NOTA_CN
Q002
A          362.5
B          362.5
C          362.5
D          362.5
E          362.5
F          362.5
G          362.5
H          362.5

In [ ]:
minimos = presentes.loc[(presentes['NU_NOTA_CH'] != 0),selecao_linhas]
filtro = ['Q002','NU_NOTA_CH'] 
minimos.filter(filtro).groupby('Q002').min().sort_values(by=['NU_NOTA_CH'],ascending=False)

      NU_NOTA_CH
Q002
A          333.7
F          320.4
D          316.1
E          312.2
B          308.9
C          308.2
H          304.2
G          302.2

In [ ]:
filtro = ['Q002'] + notas

#Criando a Tabela de Soluções
df_resultado = pd.DataFrame({'Respostas' : dic_001_002.keys(),'Escolaridade': dic_001_002.values()})

#Adicionando Ausentes
novo = ausentes.groupby('Q002').count().sort_values(by=['Q002'])
df_resultado['Ausentes'] = [i for i in novo.loc[:,'NU_INSCRICAO']]

#Adicionando Ausentes
novo = presentes.groupby('Q002').count().sort_values(by=['Q002'])
df_resultado['Presentes'] = [i for i in novo.loc[:,'NU_INSCRICAO']]

#Adicionando Media dos Candidatos
novo = presentes.filter(filtro).groupby('Q002').mean().sort_values(by=['Q002'])
df_resultado['Med_CN'] = [i for i in novo.loc[:,'NU_NOTA_CN']]      # Ciencias Naturais
df_resultado['Med_CH'] = [i for i in novo.loc[:,'NU_NOTA_CH']]      # Ciencias Humanas
df_resultado['Med_LC'] = [i for i in novo.loc[:,'NU_NOTA_LC']]      # Linguagens 
df_resultado['Med_MT'] = [i for i in novo.loc[:,'NU_NOTA_MT']]      # Matematica
df_resultado['Med_RD'] = [i for i in novo.loc[:,'NU_NOTA_REDACAO']] # Redação

#Adicionando as Notas Mais Altas
novo = presentes.filter(filtro).groupby('Q002').max().sort_values(by=['Q002'])
df_resultado['Max_CN'] = [i for i in novo.loc[:,'NU_NOTA_CN']]      # Ciencias Naturais
df_resultado['Max_CH'] = [i for i in novo.loc[:,'NU_NOTA_CH'] ]     # Ciencias Humanas
df_resultado['Max_LC'] = [i for i in novo.loc[:,'NU_NOTA_LC'] ]     # Linguagens
df_resultado['Max_MT'] = [i for i in novo.loc[:,'NU_NOTA_MT'] ]     # Matematica
df_resultado['Max_RD'] = [i for i in novo.loc[:,'NU_NOTA_REDACAO']] # Redação

#Adicionando as Menores Notas não nulas
minimos = presentes.loc[(presentes['NU_NOTA_CN'] != 0),selecao_linhas] # Ciencias Naturais
novo = minimos.groupby('Q002').min().sort_values(by=['Q002'])
df_resultado['Min_CN'] = [i for i in novo.loc[:, 'NU_NOTA_CN']]

minimos = presentes.loc[(presentes['NU_NOTA_CH'] != 0),selecao_linhas] # Ciencias Humanas
novo = minimos.groupby('Q002').min().sort_values(by=['Q002'])
df_resultado['Min_CH'] = [i for i in novo.loc[:, 'NU_NOTA_CH']]

minimos = presentes.loc[(presentes['NU_NOTA_LC'] != 0),selecao_linhas] # Linguagem
novo = minimos.groupby('Q002').min().sort_values(by=['Q002'])
df_resultado['Min_LC'] = [i for i in novo.loc[:,'NU_NOTA_LC']]

minimos = presentes.loc[(presentes['NU_NOTA_MT'] != 0),selecao_linhas] # Matematica
novo = minimos.groupby('Q002').min().sort_values(by=['Q002'])
df_resultado['Min_MT'] = [i for i in novo.loc[:,'NU_NOTA_MT']]

minimos = presentes.loc[(presentes['NU_NOTA_REDACAO'] != 0),selecao_linhas] # Matematica
novo = minimos.groupby('Q002').min().sort_values(by=['Q002'])
df_resultado['Min_RD'] = [i for i in novo.loc[:,'NU_NOTA_REDACAO']]

In [ ]:
df_escolaridade_mae_resultado2018 = df_resultado
df_escolaridade_mae_resultado2018.head()

,Respostas,Escolaridade,Ausentes,Presentes,Med_CN,Med_CH,Med_LC,Med_MT,Med_RD,Max_CN,Max_CH,Max_LC,Max_MT,Max_RD,Min_CN,Min_CH,Min_LC,Min_MT,Min_RD
0,A,Nunca estudou.,91682,136414,461.105105,537.737142,483.567114,478.218055,414.232410,765.3,797.4,757.3,982.5,980.0,362.5,333.7,318.8,363.3,40.0
1,B,Não completou a 4ª série/5º ano do Ensino Fund...,363723,606702,470.328674,549.200648,501.276719,497.003174,454.591612,810.6,850.4,782.0,996.1,980.0,362.5,308.9,318.8,362.8,40.0
2,C,"Completou a 4ª série/5º ano, mas não completou...",257236,515982,477.791394,556.734953,513.021459,512.046346,479.675260,825.4,801.3,807.7,994.4,1000.0,362.5,308.2,315.6,360.5,40.0
3,D,Completou a 8ª série/9º ano do Ensino Fundamen...,225510,509545,482.719194,560.990480,520.401149,521.292757,495.963850,851.6,810.6,777.0,994.4,1000.0,362.5,316.1,318.8,361.2,40.0
4,E,"Completou o Ensino Médio, mas não completou a ...",446376,1275076,496.836195,574.784408,535.454577,541.991564,530.016015,869.6,850.4,802.9,996.1,1000.0,362.5,312.2,314.1,360.3,40.0

### Analise 2019

In [ ]:
#Criando os Filtros para a Divisão
filtro_ausente    = ((dp_Enem2019['TP_PRESENCA_CN'] == 0) | (dp_Enem2019['TP_PRESENCA_CH'] == 0) | (dp_Enem2019['TP_PRESENCA_LC'] == 0) | (dp_Enem2018['TP_PRESENCA_MT'] == 0))
filtro_presente   = ((dp_Enem2019['TP_PRESENCA_CN'] == 1) & (dp_Enem2019['TP_PRESENCA_CH'] == 1) & (dp_Enem2019['TP_PRESENCA_LC'] == 1) & (dp_Enem2018['TP_PRESENCA_MT'] == 1))
filtro_eliminado  = ((dp_Enem2019['TP_PRESENCA_CN'] == 2) | (dp_Enem2019['TP_PRESENCA_CH'] == 2) | (dp_Enem2019['TP_PRESENCA_LC'] == 2) | (dp_Enem2018['TP_PRESENCA_MT'] == 2))

In [ ]:
# Dividindo o Banco de Dadoo:
selecao_linhas = ['NU_INSCRICAO','Q001','Q002']
ausentes    = dp_Enem2019.loc[filtro_ausente,selecao_linhas]

eliminados  = dp_Enem2019.loc[filtro_eliminado,selecao_linhas]

selecao_linhas = selecao_linhas + notas
presentes = dp_Enem2019.loc[filtro_presente,selecao_linhas]

#### Pai

In [ ]:
filtro = ['NU_INSCRICAO','Q001']
ausentes.filter(filtro).groupby('Q001').count().sort_values(by=['NU_INSCRICAO'],ascending=False)

In [ ]:
eliminados.filter(filtro).groupby('Q001').count().sort_values(by=['NU_INSCRICAO'],ascending=False)

In [ ]:
filtro = ['Q001'] + notas
presentes.filter(filtro).groupby('Q001').mean().sort_values(by=notas, ascending=False)

In [ ]:
presentes.filter(filtro).groupby('Q001').max().sort_values(by=notas,ascending=False)

In [ ]:
selecao_linhas = ['NU_INSCRICAO','Q001'] + notas
minimos = presentes.loc[(presentes['NU_NOTA_MT'] != 0),selecao_linhas]
filtro = ['Q001','NU_NOTA_MT'] 
minimos.filter(filtro).groupby('Q001').min().sort_values(by=['NU_NOTA_MT'],ascending=False)

In [ ]:
minimos = presentes.loc[(presentes['NU_NOTA_LC'] != 0),selecao_linhas]
filtro = ['Q001','NU_NOTA_LC'] 
minimos.filter(filtro).groupby('Q001').min().sort_values(by=['NU_NOTA_LC'],ascending=False)

In [ ]:
minimos = presentes.loc[(presentes['NU_NOTA_CN'] != 0),selecao_linhas]
filtro = ['Q001','NU_NOTA_CN'] 
minimos.filter(filtro).groupby('Q001').min().sort_values(by=['NU_NOTA_CN'],ascending=False)

In [ ]:
minimos = presentes.loc[(presentes['NU_NOTA_CH'] != 0),selecao_linhas]
filtro = ['Q001','NU_NOTA_CH'] 
minimos.filter(filtro).groupby('Q001').min().sort_values(by=['NU_NOTA_CH'],ascending=False)

In [ ]:
filtro = ['Q001'] + notas

#Criando a Tabela de Soluções
df_resultado = pd.DataFrame({'Respostas' : dic_001_002.keys(),'Escolaridade': dic_001_002.values()})

#Adicionando Ausentes
novo = ausentes.groupby('Q001').count().sort_values(by=['Q001'])
df_resultado['Ausentes'] = [i for i in novo.loc[:,'NU_INSCRICAO']]

#Adicionando Ausentes
novo = presentes.groupby('Q001').count().sort_values(by=['Q001'])
df_resultado['Presentes'] = [i for i in novo.loc[:,'NU_INSCRICAO']]

#Adicionando Media dos Candidatos
novo = presentes.filter(filtro).groupby('Q001').mean().sort_values(by=['Q001'])
df_resultado['Med_CN'] = [i for i in novo.loc[:,'NU_NOTA_CN']]      # Ciencias Naturais
df_resultado['Med_CH'] = [i for i in novo.loc[:,'NU_NOTA_CH']]      # Ciencias Humanas
df_resultado['Med_LC'] = [i for i in novo.loc[:,'NU_NOTA_LC']]      # Linguagens 
df_resultado['Med_MT'] = [i for i in novo.loc[:,'NU_NOTA_MT']]      # Matematica
df_resultado['Med_RD'] = [i for i in novo.loc[:,'NU_NOTA_REDACAO']] # Redação

#Adicionando as Notas Mais Altas
novo = presentes.filter(filtro).groupby('Q001').max().sort_values(by=['Q001'])
df_resultado['Max_CN'] = [i for i in novo.loc[:,'NU_NOTA_CN']]      # Ciencias Naturais
df_resultado['Max_CH'] = [i for i in novo.loc[:,'NU_NOTA_CH'] ]     # Ciencias Humanas
df_resultado['Max_LC'] = [i for i in novo.loc[:,'NU_NOTA_LC'] ]     # Linguagens
df_resultado['Max_MT'] = [i for i in novo.loc[:,'NU_NOTA_MT'] ]     # Matematica
df_resultado['Max_RD'] = [i for i in novo.loc[:,'NU_NOTA_REDACAO']] # Redação

#Adicionando as Menores Notas não nulas
minimos = presentes.loc[(presentes['NU_NOTA_CN'] != 0),selecao_linhas] # Ciencias Naturais
novo = minimos.groupby('Q001').min().sort_values(by=['Q001'])
df_resultado['Min_CN'] = [i for i in novo.loc[:, 'NU_NOTA_CN']]

minimos = presentes.loc[(presentes['NU_NOTA_CH'] != 0),selecao_linhas] # Ciencias Humanas
novo = minimos.groupby('Q001').min().sort_values(by=['Q001'])
df_resultado['Min_CH'] = [i for i in novo.loc[:, 'NU_NOTA_CH']]

minimos = presentes.loc[(presentes['NU_NOTA_LC'] != 0),selecao_linhas] # Linguagem
novo = minimos.groupby('Q001').min().sort_values(by=['Q001'])
df_resultado['Min_LC'] = [i for i in novo.loc[:,'NU_NOTA_LC']]

minimos = presentes.loc[(presentes['NU_NOTA_MT'] != 0),selecao_linhas] # Matematica
novo = minimos.groupby('Q001').min().sort_values(by=['Q001'])
df_resultado['Min_MT'] = [i for i in novo.loc[:,'NU_NOTA_MT']]

minimos = presentes.loc[(presentes['NU_NOTA_REDACAO'] != 0),selecao_linhas] # Matematica
novo = minimos.groupby('Q001').min().sort_values(by=['Q001'])
df_resultado['Min_RD'] = [i for i in novo.loc[:,'NU_NOTA_REDACAO']]

In [ ]:
df_escolaridade_pai_resultado2019 = df_resultado
df_escolaridade_pai_resultado2019.head()

#### Mae

In [ ]:
filtro = ['NU_INSCRICAO','Q002']
ausentes.filter(filtro).groupby('Q002').count().sort_values(by=['NU_INSCRICAO'],ascending=False)

In [ ]:
eliminados.filter(filtro).groupby('Q002').count().sort_values(by=['NU_INSCRICAO'],ascending=False)

In [ ]:
filtro = ['Q002'] + notas
presentes.filter(filtro).groupby('Q002').mean().sort_values(by=notas, ascending=False)

In [ ]:
presentes.filter(filtro).groupby('Q002').max().sort_values(by=notas,ascending=False)

In [ ]:
selecao_linhas = ['NU_INSCRICAO','Q002'] + notas
minimos = presentes.loc[(presentes['NU_NOTA_MT'] != 0),selecao_linhas]
filtro = ['Q002','NU_NOTA_MT'] 
minimos.filter(filtro).groupby('Q002').min().sort_values(by=['NU_NOTA_MT'],ascending=False)

In [ ]:
minimos = presentes.loc[(presentes['NU_NOTA_LC'] != 0),selecao_linhas]
filtro = ['Q002','NU_NOTA_LC'] 
minimos.filter(filtro).groupby('Q002').min().sort_values(by=['NU_NOTA_LC'],ascending=False)

In [ ]:
minimos = presentes.loc[(presentes['NU_NOTA_CN'] != 0),selecao_linhas]
filtro = ['Q002','NU_NOTA_CN'] 
minimos.filter(filtro).groupby('Q002').min().sort_values(by=['NU_NOTA_CN'],ascending=False)

In [ ]:
minimos = presentes.loc[(presentes['NU_NOTA_CH'] != 0),selecao_linhas]
filtro = ['Q002','NU_NOTA_CH'] 
minimos.filter(filtro).groupby('Q002').min().sort_values(by=['NU_NOTA_CH'],ascending=False)

In [ ]:
filtro = ['Q002'] + notas

#Criando a Tabela de Soluções
df_resultado = pd.DataFrame({'Respostas' : dic_001_002.keys(),'Escolaridade': dic_001_002.values()})

#Adicionando Ausentes
novo = ausentes.groupby('Q002').count().sort_values(by=['Q002'])
df_resultado['Ausentes'] = [i for i in novo.loc[:,'NU_INSCRICAO']]

#Adicionando Ausentes
novo = presentes.groupby('Q002').count().sort_values(by=['Q002'])
df_resultado['Presentes'] = [i for i in novo.loc[:,'NU_INSCRICAO']]

#Adicionando Media dos Candidatos
novo = presentes.filter(filtro).groupby('Q002').mean().sort_values(by=['Q002'])
df_resultado['Med_CN'] = [i for i in novo.loc[:,'NU_NOTA_CN']]      # Ciencias Naturais
df_resultado['Med_CH'] = [i for i in novo.loc[:,'NU_NOTA_CH']]      # Ciencias Humanas
df_resultado['Med_LC'] = [i for i in novo.loc[:,'NU_NOTA_LC']]      # Linguagens 
df_resultado['Med_MT'] = [i for i in novo.loc[:,'NU_NOTA_MT']]      # Matematica
df_resultado['Med_RD'] = [i for i in novo.loc[:,'NU_NOTA_REDACAO']] # Redação

#Adicionando as Notas Mais Altas
novo = presentes.filter(filtro).groupby('Q002').max().sort_values(by=['Q002'])
df_resultado['Max_CN'] = [i for i in novo.loc[:,'NU_NOTA_CN']]      # Ciencias Naturais
df_resultado['Max_CH'] = [i for i in novo.loc[:,'NU_NOTA_CH'] ]     # Ciencias Humanas
df_resultado['Max_LC'] = [i for i in novo.loc[:,'NU_NOTA_LC'] ]     # Linguagens
df_resultado['Max_MT'] = [i for i in novo.loc[:,'NU_NOTA_MT'] ]     # Matematica
df_resultado['Max_RD'] = [i for i in novo.loc[:,'NU_NOTA_REDACAO']] # Redação

#Adicionando as Menores Notas não nulas
minimos = presentes.loc[(presentes['NU_NOTA_CN'] != 0),selecao_linhas] # Ciencias Naturais
novo = minimos.groupby('Q002').min().sort_values(by=['Q002'])
df_resultado['Min_CN'] = [i for i in novo.loc[:, 'NU_NOTA_CN']]

minimos = presentes.loc[(presentes['NU_NOTA_CH'] != 0),selecao_linhas] # Ciencias Humanas
novo = minimos.groupby('Q002').min().sort_values(by=['Q002'])
df_resultado['Min_CH'] = [i for i in novo.loc[:, 'NU_NOTA_CH']]

minimos = presentes.loc[(presentes['NU_NOTA_LC'] != 0),selecao_linhas] # Linguagem
novo = minimos.groupby('Q002').min().sort_values(by=['Q002'])
df_resultado['Min_LC'] = [i for i in novo.loc[:,'NU_NOTA_LC']]

minimos = presentes.loc[(presentes['NU_NOTA_MT'] != 0),selecao_linhas] # Matematica
novo = minimos.groupby('Q002').min().sort_values(by=['Q002'])
df_resultado['Min_MT'] = [i for i in novo.loc[:,'NU_NOTA_MT']]

minimos = presentes.loc[(presentes['NU_NOTA_REDACAO'] != 0),selecao_linhas] # Matematica
novo = minimos.groupby('Q002').min().sort_values(by=['Q002'])
df_resultado['Min_RD'] = [i for i in novo.loc[:,'NU_NOTA_REDACAO']]

In [ ]:
df_escolaridade_mae_resultado2019 = df_resultado
df_escolaridade_mae_resultado2019.head()

## Região do Brasil

### Inicializar

In [ ]:
#Selecionado as Colunas que vamos utilizar:
colunas = ['NU_INSCRICAO','SG_UF_PROVA','TP_PRESENCA_CN','TP_PRESENCA_CH','TP_PRESENCA_LC','TP_PRESENCA_MT','NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC','NU_NOTA_MT','NU_NOTA_REDACAO',]

dp_Enem2017 = pd.read_csv("/Banco_de_Dados/MyDrive/Iniciação Cientifica/Banco_de_Dados/microdados_enem_2017/DADOS/MICRODADOS_ENEM_2017.csv",sep=";",encoding="ISO-8859-1",usecols=colunas)
dp_Enem2018 = pd.read_csv("/Banco_de_Dados/MyDrive/Iniciação Cientifica/Banco_de_Dados/microdados_enem_2018/DADOS/MICRODADOS_ENEM_2018.csv",sep=";",encoding="ISO-8859-1",usecols=colunas)
dp_Enem2019 = pd.read_csv("/Banco_de_Dados/MyDrive/Iniciação Cientifica/Banco_de_Dados/microdados_enem_2019/DADOS/MICRODADOS_ENEM_2019.csv",sep=";",encoding="ISO-8859-1",usecols=colunas)

In [ ]:
#Memoria do Banco de Dados de 2017
dp_Enem2017.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6731341 entries, 0 to 6731340
Data columns (total 11 columns):
 #   Column           Dtype
---  ------           -----
 0   NU_INSCRICAO     int64
 1   SG_UF_PROVA      object
 2   TP_PRESENCA_CN   float64
 3   TP_PRESENCA_CH   float64
 4   TP_PRESENCA_LC   float64
 5   TP_PRESENCA_MT   float64
 6   NU_NOTA_CN       float64
 7   NU_NOTA_CH       float64
 8   NU_NOTA_LC       float64
 9   NU_NOTA_MT       float64
 10  NU_NOTA_REDACAO  float64
dtypes: float64(9), int64(1), object(1)
memory usage: 892.3 MB

In [ ]:
#Memoria do Banco de Dados de 2018
dp_Enem2018.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5513747 entries, 0 to 5513746
Data columns (total 11 columns):
 #   Column           Dtype
---  ------           -----
 0   NU_INSCRICAO     int64
 1   SG_UF_PROVA      object
 2   TP_PRESENCA_CN   float64
 3   TP_PRESENCA_CH   float64
 4   TP_PRESENCA_LC   float64
 5   TP_PRESENCA_MT   float64
 6   NU_NOTA_CN       float64
 7   NU_NOTA_CH       float64
 8   NU_NOTA_LC       float64
 9   NU_NOTA_MT       float64
 10  NU_NOTA_REDACAO  float64
dtypes: float64(9), int64(1), object(1)
memory usage: 730.9 MB

In [ ]:
#Memoria do Banco de Dados de 2019
dp_Enem2019.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5095270 entries, 0 to 5095269
Data columns (total 11 columns):
 #   Column           Dtype
---  ------           -----
 0   NU_INSCRICAO     int64
 1   SG_UF_PROVA      object
 2   TP_PRESENCA_CN   int64
 3   TP_PRESENCA_CH   int64
 4   TP_PRESENCA_LC   int64
 5   TP_PRESENCA_MT   int64
 6   NU_NOTA_CN       float64
 7   NU_NOTA_CH       float64
 8   NU_NOTA_LC       float64
 9   NU_NOTA_MT       float64
 10  NU_NOTA_REDACAO  float64
dtypes: float64(5), int64(5), object(1)
memory usage: 675.4 MB

In [ ]:
#Filtros Genericos
notas = ['NU_NOTA_MT','NU_NOTA_CH','NU_NOTA_LC','NU_NOTA_CN','NU_NOTA_REDACAO']
presenca = ['TP_PRESENCA_CN','TP_PRESENCA_CH','TP_PRESENCA_LC','TP_PRESENCA_MT']

In [ ]:
# Dicionario 1: Coluna Q006 segundo o Dicionario do Enem:
dic_regiao = {
 'AC' : 'Norte',
 'AL' : 'Nordete',
 'AP' : 'Norte',
 'AM' : 'Norte',
 'BA' : 'Nordeste',
 'CE' : 'Nordeste',
 'DF' : 'Centro Oeste',
 'ES' : 'Suldeste',
 'GO' : 'Centro Oeste',
 'MA' : 'Nordeste',
 'MT' : 'Centro Oeste',
 'MS' : 'Centro Oeste',
 'MG' : 'Suldeste',
 'PA' : 'Norte',
 'PB' : 'Nordeste',
 'PR' : 'Sul',
 'PE' : 'Nordeste',
 'PI' : 'Nordeste',
 'RJ' : 'Suldeste',
 'RN' : 'Nordeste',
 'RS' : 'Sul',
 'RO' : 'Norte',
 'RR' : 'Norte',
 'SC' : 'Sul',
 'SP' : 'Suldeste',
 'SE' : 'Nordeste',
 'TO' : 'Norte',
}

### Analise 2017

In [ ]:
#Criando os Filtros para a Divisão
filtro_ausente    = ((dp_Enem2017['TP_PRESENCA_CN'] == 0) | (dp_Enem2017['TP_PRESENCA_CH'] == 0) | (dp_Enem2017['TP_PRESENCA_LC'] == 0) | (dp_Enem2017['TP_PRESENCA_MT'] == 0))
filtro_presente   = ((dp_Enem2017['TP_PRESENCA_CN'] == 1) & (dp_Enem2017['TP_PRESENCA_CH'] == 1) & (dp_Enem2017['TP_PRESENCA_LC'] == 1) & (dp_Enem2017['TP_PRESENCA_MT'] == 1))
filtro_eliminado  = ((dp_Enem2017['TP_PRESENCA_CN'] == 2) | (dp_Enem2017['TP_PRESENCA_CH'] == 2) | (dp_Enem2017['TP_PRESENCA_LC'] == 2) | (dp_Enem2017['TP_PRESENCA_MT'] == 2))

In [ ]:
# Dividindo o Banco de Dadoo:
selecao_linhas = ['NU_INSCRICAO','SG_UF_PROVA']
ausentes    = dp_Enem2017.loc[filtro_ausente,selecao_linhas]
ausentes['Regiao'] = [dic_regiao[valor] for valor in ausentes['SG_UF_PROVA']] # <- Criando uma coluna nova para ajudar na identificação de alguns valores

eliminados  = dp_Enem2017.loc[filtro_eliminado,selecao_linhas]
eliminados['Regiao'] = [dic_regiao[valor] for valor in eliminados['SG_UF_PROVA']] # <- Criando uma coluna nova para ajudar na identificação de alguns valores

selecao_linhas = selecao_linhas + notas
presentes = dp_Enem2017.loc[filtro_presente,selecao_linhas]
presentes['Regiao'] = [dic_regiao[valor] for valor in presentes['SG_UF_PROVA']] # <- Criando uma coluna nova para ajudar na identificação de alguns valores

#### Estados

In [ ]:
filtro = ['NU_INSCRICAO','SG_UF_PROVA']
ausentes.filter(filtro).groupby('SG_UF_PROVA').count().sort_values(by=['NU_INSCRICAO'],ascending=False)

             NU_INSCRICAO
SG_UF_PROVA
SP                 406735
MG                 246165
BA                 178442
RJ                 149580
PE                 121086
PA                 116375
CE                 113628
RS                  98970
PR                  98018
MA                  91955
GO                  76575
AM                  75057
PB                  55290
MT                  50754
RN                  49733
ES                  46236
PI                  42665
SC                  41970
DF                  41694
MS                  37824
AL                  37237
RO                  29194
SE                  28398
TO                  22235
AP                  19388
AC                  19384
RR                   8504

In [ ]:
eliminados.filter(filtro).groupby('SG_UF_PROVA').count().sort_values(by=['NU_INSCRICAO'],ascending=False)

             NU_INSCRICAO
SG_UF_PROVA
SP                    541
MG                    517
MA                    171
PR                    166
CE                    161
BA                    157
GO                    156
PE                    156
RJ                    147
PA                    138
DF                    131
RS                    104
PB                    103
SC                     96
RN                     76
ES                     61
PI                     56
MT                     55
AM                     46
MS                     45
AL                     43
RO                     40
TO                     34
SE                     27
AC                     24
AP                     17
RR                      7

In [ ]:
filtro = ['SG_UF_PROVA'] + notas
presentes.filter(filtro).groupby('SG_UF_PROVA').mean().sort_values(by=notas, ascending=False)

             NU_NOTA_MT  NU_NOTA_CH  NU_NOTA_LC  NU_NOTA_CN  NU_NOTA_REDACAO
SG_UF_PROVA
SC           545.717414  541.038221  527.857911  529.123165       544.142761
MG           541.085814  536.980081  523.321509  524.633505       552.132337
SP           540.125410  538.376860  530.476881  522.046208       540.823111
RJ           539.559432  538.479096  528.129350  521.171173       555.723626
RS           536.274719  535.239251  527.704309  520.676646       544.430230
PR           535.707180  537.724943  525.511437  524.361709       532.885343
ES           534.016941  532.595573  517.940829  521.511762       541.149579
DF           527.787310  535.398211  526.908002  523.316839       549.344113
GO           519.274385  521.406168  511.996431  514.400355       538.790483
CE           513.521052  511.743195  502.471510  502.036449       527.440818
MS           513.441944  516.377153  509.456811  511.237597       516.241598
RN           510.154073  512.616954  504.986579  506.815824       520.430880
PE           509.373228  508.624548  503.586920  500.660272       515.502062
PB           505.721239  508.964456  500.827826  501.167736       521.881539
MT           502.744616  509.642776  498.922483  504.535484       498.207103
SE           501.669313  508.642624  498.321564  502.118581       531.892658
BA           497.471641  509.947031  500.068207  501.655571       522.831169
PI           496.317905  500.025716  490.374083  495.710592       513.217734
RO           494.177493  503.803512  495.170424  498.125683       490.655673
TO           492.942697  499.100095  490.841820  494.779750       502.556494
AL           492.486259  497.510789  491.744300  492.294729       511.925518
RR           492.370139  504.595741  495.320722  500.748173       485.159697
PA           486.243385  503.068009  491.436987  495.879749       511.060789
AM           483.732172  494.081915  491.257246  490.437382       487.116414
MA           483.547774  493.101085  486.588313  489.835877       490.847645
AC           479.853281  490.431982  487.574651  487.472168       487.603178
AP           479.155670  497.916785  489.481418  487.877420       497.798188

In [ ]:
presentes.filter(filtro).groupby('SG_UF_PROVA').max().sort_values(by=notas,ascending=False)

             NU_NOTA_MT  NU_NOTA_CH  NU_NOTA_LC  NU_NOTA_CN  NU_NOTA_REDACAO
SG_UF_PROVA
MG                993.9       854.3       775.6       854.1           1000.0
AL                993.9       845.9       719.8       818.5           1000.0
SP                993.9       845.6       785.9       885.6           1000.0
BA                993.9       845.2       779.3       848.3           1000.0
PB                993.9       844.0       752.0       839.2            980.0
GO                993.9       837.0       774.3       849.0           1000.0
PE                993.9       837.0       769.4       813.6           1000.0
RJ                993.9       834.3       785.9       847.9           1000.0
CE                990.2       848.0       740.5       826.0           1000.0
SE                990.2       810.1       735.1       826.7           1000.0
PI                989.0       836.6       737.1       839.2           1000.0
DF                988.3       845.6       775.6       840.7            980.0
SC                987.0       844.7       719.6       833.8            980.0
RN                987.0       832.5       741.4       828.7            980.0
PR                985.6       868.3       767.1       853.0           1000.0
RS                985.2       844.7       754.9       816.2           1000.0
ES                982.1       840.8       744.1       829.5           1000.0
MT                979.6       812.2       743.2       789.0           1000.0
MA                975.8       817.0       744.8       816.1            980.0
AM                975.3       802.1       713.1       786.8            980.0
PA                968.4       802.0       727.5       828.0           1000.0
MS                945.6       796.7       725.5       856.4            980.0
AC                932.6       837.0       717.5       742.9           1000.0
TO                931.2       781.4       788.8       766.3            980.0
AP                924.3       769.2       729.1       751.9            980.0
RR                901.4       777.7       695.3       768.7            980.0
RO                901.2       804.9       700.5       768.0            980.0

In [ ]:
selecao_linhas = ['NU_INSCRICAO','SG_UF_PROVA'] + notas
minimos = presentes.loc[(presentes['NU_NOTA_MT'] != 0),selecao_linhas]
filtro = ['SG_UF_PROVA','NU_NOTA_MT'] 
minimos.filter(filtro).groupby('SG_UF_PROVA').min().sort_values(by=['NU_NOTA_MT'],ascending=False)

             NU_NOTA_MT
SG_UF_PROVA
AP                350.1
RO                334.6
SC                328.5
SE                328.0
PI                326.9
MT                326.3
AL                323.0
DF                322.3
RR                320.5
MS                320.4
PR                319.4
RS                319.4
AM                318.3
ES                318.2
PB                317.7
RN                317.7
TO                316.8
GO                315.7
RJ                315.5
BA                313.4
CE                312.1
AC                311.6
PE                311.6
PA                311.6
MG                310.9
MA                310.8
SP                310.4

In [ ]:
minimos = presentes.loc[(presentes['NU_NOTA_LC'] != 0),selecao_linhas]
filtro = ['SG_UF_PROVA','NU_NOTA_LC'] 
minimos.filter(filtro).groupby('SG_UF_PROVA').min().sort_values(by=['NU_NOTA_LC'],ascending=False)

             NU_NOTA_LC
SG_UF_PROVA
RR                300.4
TO                299.8
SC                299.8
PB                299.6
SP                299.6
SE                299.6
RS                299.6
RO                299.6
RN                299.6
RJ                299.6
PR                299.6
PI                299.6
PE                299.6
AC                299.6
AL                299.6
MT                299.6
MS                299.6
MG                299.6
MA                299.6
GO                299.6
ES                299.6
DF                299.6
CE                299.6
BA                299.6
AP                299.6
AM                299.6
PA                299.6

In [ ]:
minimos = presentes.loc[(presentes['NU_NOTA_CN'] != 0),selecao_linhas]
filtro = ['SG_UF_PROVA','NU_NOTA_CN'] 
minimos.filter(filtro).groupby('SG_UF_PROVA').min().sort_values(by=['NU_NOTA_CN'],ascending=False)

             NU_NOTA_CN
SG_UF_PROVA
AP                320.6
AL                310.4
TO                309.9
ES                307.3
AM                305.7
RO                305.1
RS                304.9
SC                304.9
DF                303.7
SE                303.6
MS                303.5
PB                302.7
RN                302.6
BA                301.1
MG                301.0
PR                300.8
RJ                300.8
GO                300.6
CE                300.4
PE                300.0
RR                299.9
SP                299.8
AC                299.7
PA                299.2
MA                298.3
PI                298.2
MT                298.0

In [ ]:
minimos = presentes.loc[(presentes['NU_NOTA_CH'] != 0),selecao_linhas]
filtro = ['SG_UF_PROVA','NU_NOTA_CH'] 
minimos.filter(filtro).groupby('SG_UF_PROVA').min().sort_values(by=['NU_NOTA_CH'],ascending=False)

             NU_NOTA_CH
SG_UF_PROVA
TO                334.7
SE                334.7
AP                334.7
DF                334.7
RR                334.7
AL                333.4
MS                330.0
PB                329.9
RJ                329.5
SC                329.5
RS                326.8
PE                326.3
RO                326.1
MA                325.5
RN                323.9
MT                322.8
PA                322.0
PI                321.4
BA                320.8
CE                319.5
MG                319.4
PR                317.8
ES                316.9
GO                316.7
AC                315.9
AM                315.6
SP                310.7

In [ ]:
filtro = ['SG_UF_PROVA'] + notas

#Criando a Tabela de Soluções
df_resultado = pd.DataFrame({'Estados' : dic_regiao.keys(),'Regiao': dic_regiao.values()})

#Adicionando Ausentes
novo = ausentes.groupby('SG_UF_PROVA').count().sort_values(by=['SG_UF_PROVA'])
df_resultado['Ausentes'] = [i for i in novo.loc[:,'NU_INSCRICAO']]

#Adicionando Ausentes
novo = presentes.groupby('SG_UF_PROVA').count().sort_values(by=['SG_UF_PROVA'])
df_resultado['Presentes'] = [i for i in novo.loc[:,'NU_INSCRICAO']]

#Adicionando Media dos Candidatos
novo = presentes.filter(filtro).groupby('SG_UF_PROVA').mean().sort_values(by=['SG_UF_PROVA'])
df_resultado['Med_CN'] = [i for i in novo.loc[:,'NU_NOTA_CN']]      # Ciencias Naturais
df_resultado['Med_CH'] = [i for i in novo.loc[:,'NU_NOTA_CH']]      # Ciencias Humanas
df_resultado['Med_LC'] = [i for i in novo.loc[:,'NU_NOTA_LC']]      # Linguagens 
df_resultado['Med_MT'] = [i for i in novo.loc[:,'NU_NOTA_MT']]      # Matematica
df_resultado['Med_RD'] = [i for i in novo.loc[:,'NU_NOTA_REDACAO']] # Redação

#Adicionando as Notas Mais Altas
novo = presentes.filter(filtro).groupby('SG_UF_PROVA').max().sort_values(by=['SG_UF_PROVA'])
df_resultado['Max_CN'] = [i for i in novo.loc[:,'NU_NOTA_CN']]      # Ciencias Naturais
df_resultado['Max_CH'] = [i for i in novo.loc[:,'NU_NOTA_CH'] ]     # Ciencias Humanas
df_resultado['Max_LC'] = [i for i in novo.loc[:,'NU_NOTA_LC'] ]     # Linguagens
df_resultado['Max_MT'] = [i for i in novo.loc[:,'NU_NOTA_MT'] ]     # Matematica
df_resultado['Max_RD'] = [i for i in novo.loc[:,'NU_NOTA_REDACAO']] # Redação

#Adicionando as Menores Notas não nulas
minimos = presentes.loc[(presentes['NU_NOTA_CN'] != 0),selecao_linhas] # Ciencias Naturais
novo = minimos.groupby('SG_UF_PROVA').min().sort_values(by=['SG_UF_PROVA'])
df_resultado['Min_CN'] = [i for i in novo.loc[:, 'NU_NOTA_CN']]

minimos = presentes.loc[(presentes['NU_NOTA_CH'] != 0),selecao_linhas] # Ciencias Humanas
novo = minimos.groupby('SG_UF_PROVA').min().sort_values(by=['SG_UF_PROVA'])
df_resultado['Min_CH'] = [i for i in novo.loc[:, 'NU_NOTA_CH']]

minimos = presentes.loc[(presentes['NU_NOTA_LC'] != 0),selecao_linhas] # Linguagem
novo = minimos.groupby('SG_UF_PROVA').min().sort_values(by=['SG_UF_PROVA'])
df_resultado['Min_LC'] = [i for i in novo.loc[:,'NU_NOTA_LC']]

minimos = presentes.loc[(presentes['NU_NOTA_MT'] != 0),selecao_linhas] # Matematica
novo = minimos.groupby('SG_UF_PROVA').min().sort_values(by=['SG_UF_PROVA'])
df_resultado['Min_MT'] = [i for i in novo.loc[:,'NU_NOTA_MT']]

minimos = presentes.loc[(presentes['NU_NOTA_REDACAO'] != 0),selecao_linhas] # Matematica
novo = minimos.groupby('SG_UF_PROVA').min().sort_values(by=['SG_UF_PROVA'])
df_resultado['Min_RD'] = [i for i in novo.loc[:,'NU_NOTA_REDACAO']]

In [ ]:
df_estados_resultado2017 = df_resultado
df_estados_resultado2017.head()

,Estados,Regiao,Ausentes,Presentes,Med_CN,Med_CH,Med_LC,Med_MT,Med_RD,Max_CN,Max_CH,Max_LC,Max_MT,Max_RD,Min_CN,Min_CH,Min_LC,Min_MT,Min_RD
0,AC,Norte,19384,34988,487.472168,490.431982,487.574651,479.853281,487.603178,742.9,837.0,717.5,932.6,1000.0,299.7,315.9,299.6,311.6,40.0
1,AL,Nordete,37237,81469,492.294729,497.510789,491.744300,492.486259,511.925518,818.5,845.9,719.8,993.9,1000.0,310.4,333.4,299.6,323.0,40.0
2,AP,Norte,75057,90006,490.437382,494.081915,491.257246,483.732172,487.116414,786.8,802.1,713.1,975.3,980.0,305.7,315.6,299.6,318.3,40.0
3,AM,Norte,19388,32010,487.877420,497.916785,489.481418,479.155670,497.798188,751.9,769.2,729.1,924.3,980.0,320.6,334.7,299.6,350.1,80.0
4,BA,Nordeste,178442,311744,501.655571,509.947031,500.068207,497.471641,522.831169,848.3,845.2,779.3,993.9,1000.0,301.1,320.8,299.6,313.4,40.0

#### Regiao

In [ ]:
filtro = ['NU_INSCRICAO','Regiao']
ausentes.filter(filtro).groupby('Regiao').count().sort_values(by=['NU_INSCRICAO'],ascending=False)

              NU_INSCRICAO
Regiao
Suldeste            848716
Nordeste            681197
Norte               290137
Sul                 238958
Centro Oeste        206847
Nordete              37237

In [ ]:
eliminados.filter(filtro).groupby('Regiao').count().sort_values(by=['NU_INSCRICAO'],ascending=False)

              NU_INSCRICAO
Regiao
Suldeste              1266
Nordeste               907
Centro Oeste           387
Sul                    366
Norte                  306
Nordete                 43

In [ ]:
filtro = ['Regiao'] + notas
presentes.filter(filtro).groupby('Regiao').mean().sort_values(by=notas, ascending=False)

              NU_NOTA_MT  NU_NOTA_CH  NU_NOTA_LC  NU_NOTA_CN  NU_NOTA_REDACAO
Regiao
Suldeste      539.961298  537.643909  527.174786  522.634633       546.973810
Sul           537.777899  537.302202  526.850588  523.707393       539.734629
Centro Oeste  516.876720  521.425887  512.334839  513.917558       529.219064
Nordeste      502.365072  507.045971  498.919974  499.864105       517.413472
Nordete       492.486259  497.510789  491.744300  492.294729       511.925518
Norte         486.449056  500.006823  491.426798  494.054437       500.866579

In [ ]:
presentes.filter(filtro).groupby('Regiao').max().sort_values(by=notas,ascending=False)

              NU_NOTA_MT  NU_NOTA_CH  NU_NOTA_LC  NU_NOTA_CN  NU_NOTA_REDACAO
Regiao
Suldeste           993.9       854.3       785.9       885.6           1000.0
Nordeste           993.9       848.0       779.3       848.3           1000.0
Nordete            993.9       845.9       719.8       818.5           1000.0
Centro Oeste       993.9       845.6       775.6       856.4           1000.0
Sul                987.0       868.3       767.1       853.0           1000.0
Norte              975.3       837.0       788.8       828.0           1000.0

In [ ]:
selecao_linhas = ['NU_INSCRICAO','Regiao'] + notas
minimos = presentes.loc[(presentes['NU_NOTA_MT'] != 0),selecao_linhas]
filtro = ['Regiao','NU_NOTA_MT'] 
minimos.filter(filtro).groupby('Regiao').min().sort_values(by=['Regiao'],ascending=False)

              NU_NOTA_MT
Regiao
Suldeste           310.4
Sul                319.4
Norte              311.6
Nordete            323.0
Nordeste           310.8
Centro Oeste       315.7

In [ ]:
minimos = presentes.loc[(presentes['NU_NOTA_LC'] != 0),selecao_linhas]
filtro = ['Regiao','NU_NOTA_LC'] 
minimos.filter(filtro).groupby('Regiao').min().sort_values(by=['NU_NOTA_LC'],ascending=False)

              NU_NOTA_LC
Regiao
Centro Oeste       299.6
Nordeste           299.6
Nordete            299.6
Norte              299.6
Sul                299.6
Suldeste           299.6

In [ ]:
minimos = presentes.loc[(presentes['NU_NOTA_CN'] != 0),selecao_linhas]
filtro = ['Regiao','NU_NOTA_CN'] 
minimos.filter(filtro).groupby('Regiao').min().sort_values(by=['NU_NOTA_CN'],ascending=False)

              NU_NOTA_CN
Regiao
Nordete            310.4
Sul                300.8
Suldeste           299.8
Norte              299.2
Nordeste           298.2
Centro Oeste       298.0

In [ ]:
minimos = presentes.loc[(presentes['NU_NOTA_CH'] != 0),selecao_linhas]
filtro = ['Regiao','NU_NOTA_CH'] 
minimos.filter(filtro).groupby('Regiao').min().sort_values(by=['NU_NOTA_CH'],ascending=False)

              NU_NOTA_CH
Regiao
Nordete            333.4
Nordeste           319.5
Sul                317.8
Centro Oeste       316.7
Norte              315.6
Suldeste           310.7

In [ ]:
filtro = ['Regiao'] + notas

#Criando a Tabela de Soluções
df_resultado = pd.DataFrame({'Regiao': ['Suldeste','Sul','Norte','Nordete','Nordeste','Centro Oeste']})

#Adicionando Ausentes
novo = ausentes.groupby('Regiao').count().sort_values(by=['Regiao'])
df_resultado['Ausentes'] = [i for i in novo.loc[:,'NU_INSCRICAO']]

#Adicionando Ausentes
novo = presentes.groupby('Regiao').count().sort_values(by=['Regiao'])
df_resultado['Presentes'] = [i for i in novo.loc[:,'NU_INSCRICAO']]

#Adicionando Media dos Candidatos
novo = presentes.filter(filtro).groupby('Regiao').mean().sort_values(by=['Regiao'])
df_resultado['Med_CN'] = [i for i in novo.loc[:,'NU_NOTA_CN']]      # Ciencias Naturais
df_resultado['Med_CH'] = [i for i in novo.loc[:,'NU_NOTA_CH']]      # Ciencias Humanas
df_resultado['Med_LC'] = [i for i in novo.loc[:,'NU_NOTA_LC']]      # Linguagens 
df_resultado['Med_MT'] = [i for i in novo.loc[:,'NU_NOTA_MT']]      # Matematica
df_resultado['Med_RD'] = [i for i in novo.loc[:,'NU_NOTA_REDACAO']] # Redação

#Adicionando as Notas Mais Altas
novo = presentes.filter(filtro).groupby('Regiao').max().sort_values(by=['Regiao'])
df_resultado['Max_CN'] = [i for i in novo.loc[:,'NU_NOTA_CN']]      # Ciencias Naturais
df_resultado['Max_CH'] = [i for i in novo.loc[:,'NU_NOTA_CH'] ]     # Ciencias Humanas
df_resultado['Max_LC'] = [i for i in novo.loc[:,'NU_NOTA_LC'] ]     # Linguagens
df_resultado['Max_MT'] = [i for i in novo.loc[:,'NU_NOTA_MT'] ]     # Matematica
df_resultado['Max_RD'] = [i for i in novo.loc[:,'NU_NOTA_REDACAO']] # Redação

#Adicionando as Menores Notas não nulas
minimos = presentes.loc[(presentes['NU_NOTA_CN'] != 0),selecao_linhas] # Ciencias Naturais
novo = minimos.groupby('Regiao').min().sort_values(by=['Regiao'])
df_resultado['Min_CN'] = [i for i in novo.loc[:, 'NU_NOTA_CN']]

minimos = presentes.loc[(presentes['NU_NOTA_CH'] != 0),selecao_linhas] # Ciencias Humanas
novo = minimos.groupby('Regiao').min().sort_values(by=['Regiao'])
df_resultado['Min_CH'] = [i for i in novo.loc[:, 'NU_NOTA_CH']]

minimos = presentes.loc[(presentes['NU_NOTA_LC'] != 0),selecao_linhas] # Linguagem
novo = minimos.groupby('Regiao').min().sort_values(by=['Regiao'])
df_resultado['Min_LC'] = [i for i in novo.loc[:,'NU_NOTA_LC']]

minimos = presentes.loc[(presentes['NU_NOTA_MT'] != 0),selecao_linhas] # Matematica
novo = minimos.groupby('Regiao').min().sort_values(by=['Regiao'])
df_resultado['Min_MT'] = [i for i in novo.loc[:,'NU_NOTA_MT']]

minimos = presentes.loc[(presentes['NU_NOTA_REDACAO'] != 0),selecao_linhas] # Matematica
novo = minimos.groupby('Regiao').min().sort_values(by=['Regiao'])
df_resultado['Min_RD'] = [i for i in novo.loc[:,'NU_NOTA_REDACAO']]

In [ ]:
df_regiao_resultado2017 = df_resultado
df_regiao_resultado2017.head()

,Regiao,Ausentes,Presentes,Med_CN,Med_CH,Med_LC,Med_MT,Med_RD,Max_CN,Max_CH,Max_LC,Max_MT,Max_RD,Min_CN,Min_CH,Min_LC,Min_MT,Min_RD
0,Suldeste,206847,356060,513.917558,521.425887,512.334839,516.876720,529.219064,856.4,845.6,775.6,993.9,1000.0,298.0,316.7,299.6,315.7,40.0
1,Sul,681197,1422656,499.864105,507.045971,498.919974,502.365072,517.413472,848.3,848.0,779.3,993.9,1000.0,298.2,319.5,299.6,310.8,40.0
2,Norte,37237,81469,492.294729,497.510789,491.744300,492.486259,511.925518,818.5,845.9,719.8,993.9,1000.0,310.4,333.4,299.6,323.0,40.0
3,Nordete,290137,503197,494.054437,500.006823,491.426798,486.449056,500.866579,828.0,837.0,788.8,975.3,1000.0,299.2,315.6,299.6,311.6,40.0
4,Nordeste,238958,471867,523.707393,537.302202,526.850588,537.777899,539.734629,853.0,868.3,767.1,987.0,1000.0,300.8,317.8,299.6,319.4,40.0

### Analise 2018

In [ ]:
#Criando os Filtros para a Divisão
filtro_ausente    = ((dp_Enem2017['TP_PRESENCA_CN'] == 0) | (dp_Enem2018['TP_PRESENCA_CH'] == 0) | (dp_Enem2018['TP_PRESENCA_LC'] == 0) | (dp_Enem2018['TP_PRESENCA_MT'] == 0))
filtro_presente   = ((dp_Enem2017['TP_PRESENCA_CN'] == 1) & (dp_Enem2018['TP_PRESENCA_CH'] == 1) & (dp_Enem2018['TP_PRESENCA_LC'] == 1) & (dp_Enem2018['TP_PRESENCA_MT'] == 1))
filtro_eliminado  = ((dp_Enem2017['TP_PRESENCA_CN'] == 2) | (dp_Enem2018['TP_PRESENCA_CH'] == 2) | (dp_Enem2018['TP_PRESENCA_LC'] == 2) | (dp_Enem2018['TP_PRESENCA_MT'] == 2))

In [ ]:
# Dividindo o Banco de Dadoo:
selecao_linhas = ['NU_INSCRICAO','SG_UF_PROVA']
ausentes    = dp_Enem2018.loc[filtro_ausente,selecao_linhas]
ausentes['Regiao'] = [dic_regiao[valor] for valor in ausentes['SG_UF_PROVA']] # <- Criando uma coluna nova para ajudar na identificação de alguns valores

eliminados  = dp_Enem2018.loc[filtro_eliminado,selecao_linhas]
eliminados['Regiao'] = [dic_regiao[valor] for valor in eliminados['SG_UF_PROVA']] # <- Criando uma coluna nova para ajudar na identificação de alguns valores

selecao_linhas = selecao_linhas + notas
presentes = dp_Enem2018.loc[filtro_presente,selecao_linhas]
presentes['Regiao'] = [dic_regiao[valor] for valor in presentes['SG_UF_PROVA']] # <- Criando uma coluna nova para ajudar na identificação de alguns valores

#### Estados

In [ ]:
filtro = ['NU_INSCRICAO','SG_UF_PROVA']
ausentes.filter(filtro).groupby('SG_UF_PROVA').count().sort_values(by=['NU_INSCRICAO'],ascending=False)

             NU_INSCRICAO
SG_UF_PROVA
SP                 491685
MG                 289601
RJ                 198621
BA                 197773
CE                 164472
PE                 156456
PA                 137190
RS                 127451
PR                 123800
MA                 104950
GO                  97816
PB                  72451
AM                  70401
SC                  63985
RN                  60602
ES                  56200
DF                  54554
PI                  54306
MT                  52741
AL                  42451
MS                  38870
SE                  36823
RO                  32306
TO                  28402
AP                  21391
AC                  19524
RR                   7683

In [ ]:
eliminados.filter(filtro).groupby('SG_UF_PROVA').count().sort_values(by=['NU_INSCRICAO'],ascending=False)

             NU_INSCRICAO
SG_UF_PROVA
SP                    682
MG                    405
PR                    219
RJ                    217
CE                    195
BA                    161
PE                    160
RS                    149
PA                    132
GO                    123
MA                    121
SC                    119
RN                     91
PB                     89
MS                     80
ES                     67
AM                     63
MT                     58
PI                     53
SE                     50
DF                     46
AL                     43
TO                     38
RO                     31
AC                     29
AP                     27
RR                      7

In [ ]:
filtro = ['SG_UF_PROVA'] + notas
presentes.filter(filtro).groupby('SG_UF_PROVA').mean().sort_values(by=notas, ascending=False)

             NU_NOTA_MT  NU_NOTA_CH  NU_NOTA_LC  NU_NOTA_CN  NU_NOTA_REDACAO
SG_UF_PROVA
SP           559.462429  589.541277  549.792569  511.122688       537.492030
MG           555.910905  584.274252  540.211838  508.379756       546.120257
SC           553.530634  589.844644  544.239790  508.634577       530.332518
RJ           552.052503  587.324511  545.403108  504.897625       546.232049
ES           550.023201  580.973584  534.337437  502.335399       529.416471
PR           548.199862  586.405155  541.778509  506.852139       516.980241
DF           545.477774  582.893779  544.836772  506.102763       533.435923
RS           544.451722  586.433615  543.427381  500.538734       527.887942
GO           532.428896  567.065660  526.630072  494.649275       520.152053
RN           532.156642  565.293209  522.952815  487.593146       513.449957
CE           529.041750  559.229485  517.964041  483.008558       508.872360
PE           528.556641  559.954826  518.117478  484.268232       500.906903
MS           526.212545  567.644507  525.251269  493.863637       499.722952
PB           524.335904  559.879836  515.506872  482.928570       507.967142
SE           519.695531  558.812129  514.902067  485.207436       521.617589
MT           518.317991  558.471266  515.874269  484.082477       479.862815
AL           517.020164  550.959059  508.349178  477.536287       497.278959
BA           515.963126  558.950849  515.066609  481.768842       505.527092
RR           514.198370  554.415938  515.173468  484.068908       471.863344
PI           512.580499  547.780654  505.889904  476.292351       494.499024
RO           508.668919  551.099173  509.224968  476.056687       466.635596
TO           507.916061  543.187131  503.114694  476.480446       482.672417
PA           506.835953  551.727990  506.020635  475.574273       493.952530
AM           503.351387  544.581325  505.264182  470.978203       464.841218
MA           500.958547  543.745676  501.594912  470.714378       473.807606
AP           499.806427  546.990071  504.069652  469.125176       471.418015
AC           498.583073  543.259595  505.196940  467.832328       469.972329

In [ ]:
presentes.filter(filtro).groupby('SG_UF_PROVA').max().sort_values(by=notas,ascending=False)

             NU_NOTA_MT  NU_NOTA_CH  NU_NOTA_LC  NU_NOTA_CN  NU_NOTA_REDACAO
SG_UF_PROVA
PE                996.1       850.4       816.9       828.8            980.0
SP                996.1       850.4       797.9       869.6           1000.0
MG                996.1       850.4       791.2       869.6           1000.0
DF                996.1       850.4       781.9       869.6           1000.0
GO                996.1       850.4       777.0       869.6            980.0
RJ                996.1       840.9       789.5       849.8           1000.0
SC                996.1       828.8       757.0       843.0            980.0
CE                996.1       822.9       786.4       846.3           1000.0
PI                994.4       850.4       771.0       869.6           1000.0
ES                992.0       812.2       803.8       848.1           1000.0
BA                990.4       825.6       793.1       851.6            980.0
PR                987.8       825.6       779.8       830.7            980.0
MT                986.4       780.6       759.9       815.7           1000.0
RS                985.9       825.6       789.3       840.9           1000.0
SE                985.6       850.4       797.2       869.6           1000.0
PA                983.1       815.0       765.2       825.4           1000.0
PB                982.8       840.9       782.0       869.6           1000.0
MA                982.8       804.5       759.9       831.0           1000.0
RN                982.5       828.8       794.1       855.2           1000.0
MS                977.9       792.8       742.6       800.3            980.0
AM                965.8       791.2       775.9       803.5            980.0
AL                962.0       796.8       763.8       799.9            980.0
RR                918.8       781.6       747.5       788.6            980.0
AP                914.1       782.8       736.7       737.4            980.0
TO                911.1       803.0       754.5       786.3            980.0
RO                891.5       822.9       746.4       778.5            980.0
AC                862.7       773.8       717.9       748.6            980.0

In [ ]:
selecao_linhas = ['NU_INSCRICAO','SG_UF_PROVA'] + notas
minimos = presentes.loc[(presentes['NU_NOTA_MT'] != 0),selecao_linhas]
filtro = ['SG_UF_PROVA','NU_NOTA_MT'] 
minimos.filter(filtro).groupby('SG_UF_PROVA').min().sort_values(by=['NU_NOTA_MT'],ascending=False)

             NU_NOTA_MT
SG_UF_PROVA
MS                369.5
AP                369.4
DF                369.4
RR                369.4
AC                369.0
SC                367.9
SE                367.7
ES                367.2
RS                367.1
MT                367.0
MG                365.5
PB                365.1
PA                364.6
MA                364.5
PI                363.4
PR                363.4
RJ                363.4
RO                363.3
RN                362.8
PE                362.5
GO                362.4
TO                362.3
SP                362.1
AM                361.3
AL                361.2
CE                360.3
BA                360.0

In [ ]:
minimos = presentes.loc[(presentes['NU_NOTA_LC'] != 0),selecao_linhas]
filtro = ['SG_UF_PROVA','NU_NOTA_LC'] 
minimos.filter(filtro).groupby('SG_UF_PROVA').min().sort_values(by=['NU_NOTA_LC'],ascending=False)

             NU_NOTA_LC
SG_UF_PROVA
RO                319.9
AC                318.8
AL                318.8
SE                318.8
SC                318.8
RS                318.8
RR                318.8
RN                318.8
RJ                318.8
PR                318.8
PI                318.8
PE                318.8
PB                318.8
PA                318.8
MT                318.8
MS                318.8
MG                318.8
MA                318.8
GO                318.8
ES                318.8
DF                318.8
CE                318.8
BA                318.8
AP                318.8
AM                318.8
TO                315.6
SP                314.1

In [ ]:
minimos = presentes.loc[(presentes['NU_NOTA_CN'] != 0),selecao_linhas]
filtro = ['SG_UF_PROVA','NU_NOTA_CN'] 
minimos.filter(filtro).groupby('SG_UF_PROVA').min().sort_values(by=['NU_NOTA_CN'],ascending=False)

             NU_NOTA_CN
SG_UF_PROVA
RR                364.0
AC                363.1
MS                362.7
SC                362.6
PB                362.5
SP                362.5
SE                362.5
RS                362.5
RO                362.5
RN                362.5
RJ                362.5
PR                362.5
PI                362.5
PE                362.5
PA                362.5
AL                362.5
MT                362.5
MG                362.5
MA                362.5
GO                362.5
ES                362.5
DF                362.5
CE                362.5
BA                362.5
AP                362.5
AM                362.5
TO                362.5

In [ ]:
minimos = presentes.loc[(presentes['NU_NOTA_CH'] != 0),selecao_linhas]
filtro = ['SG_UF_PROVA','NU_NOTA_CH'] 
minimos.filter(filtro).groupby('SG_UF_PROVA').min().sort_values(by=['NU_NOTA_CH'],ascending=False)

             NU_NOTA_CH
SG_UF_PROVA
AC                395.0
SC                394.5
RR                394.5
RO                394.5
SE                394.5
RJ                394.5
PR                394.5
PI                394.5
PE                394.5
AL                394.5
MT                394.5
MS                394.5
MA                394.5
GO                394.5
ES                394.5
DF                394.5
CE                394.5
BA                394.5
AP                394.5
AM                394.5
RS                394.5
PB                388.5
MG                388.4
PA                387.6
RN                343.7
SP                308.2
TO                302.2

In [ ]:
filtro = ['SG_UF_PROVA'] + notas

#Criando a Tabela de Soluções
df_resultado = pd.DataFrame({'Estados' : dic_regiao.keys(),'Regiao': dic_regiao.values()})

#Adicionando Ausentes
novo = ausentes.groupby('SG_UF_PROVA').count().sort_values(by=['SG_UF_PROVA'])
df_resultado['Ausentes'] = [i for i in novo.loc[:,'NU_INSCRICAO']]

#Adicionando Ausentes
novo = presentes.groupby('SG_UF_PROVA').count().sort_values(by=['SG_UF_PROVA'])
df_resultado['Presentes'] = [i for i in novo.loc[:,'NU_INSCRICAO']]

#Adicionando Media dos Candidatos
novo = presentes.filter(filtro).groupby('SG_UF_PROVA').mean().sort_values(by=['SG_UF_PROVA'])
df_resultado['Med_CN'] = [i for i in novo.loc[:,'NU_NOTA_CN']]      # Ciencias Naturais
df_resultado['Med_CH'] = [i for i in novo.loc[:,'NU_NOTA_CH']]      # Ciencias Humanas
df_resultado['Med_LC'] = [i for i in novo.loc[:,'NU_NOTA_LC']]      # Linguagens 
df_resultado['Med_MT'] = [i for i in novo.loc[:,'NU_NOTA_MT']]      # Matematica
df_resultado['Med_RD'] = [i for i in novo.loc[:,'NU_NOTA_REDACAO']] # Redação

#Adicionando as Notas Mais Altas
novo = presentes.filter(filtro).groupby('SG_UF_PROVA').max().sort_values(by=['SG_UF_PROVA'])
df_resultado['Max_CN'] = [i for i in novo.loc[:,'NU_NOTA_CN']]      # Ciencias Naturais
df_resultado['Max_CH'] = [i for i in novo.loc[:,'NU_NOTA_CH'] ]     # Ciencias Humanas
df_resultado['Max_LC'] = [i for i in novo.loc[:,'NU_NOTA_LC'] ]     # Linguagens
df_resultado['Max_MT'] = [i for i in novo.loc[:,'NU_NOTA_MT'] ]     # Matematica
df_resultado['Max_RD'] = [i for i in novo.loc[:,'NU_NOTA_REDACAO']] # Redação

#Adicionando as Menores Notas não nulas
minimos = presentes.loc[(presentes['NU_NOTA_CN'] != 0),selecao_linhas] # Ciencias Naturais
novo = minimos.groupby('SG_UF_PROVA').min().sort_values(by=['SG_UF_PROVA'])
df_resultado['Min_CN'] = [i for i in novo.loc[:, 'NU_NOTA_CN']]

minimos = presentes.loc[(presentes['NU_NOTA_CH'] != 0),selecao_linhas] # Ciencias Humanas
novo = minimos.groupby('SG_UF_PROVA').min().sort_values(by=['SG_UF_PROVA'])
df_resultado['Min_CH'] = [i for i in novo.loc[:, 'NU_NOTA_CH']]

minimos = presentes.loc[(presentes['NU_NOTA_LC'] != 0),selecao_linhas] # Linguagem
novo = minimos.groupby('SG_UF_PROVA').min().sort_values(by=['SG_UF_PROVA'])
df_resultado['Min_LC'] = [i for i in novo.loc[:,'NU_NOTA_LC']]

minimos = presentes.loc[(presentes['NU_NOTA_MT'] != 0),selecao_linhas] # Matematica
novo = minimos.groupby('SG_UF_PROVA').min().sort_values(by=['SG_UF_PROVA'])
df_resultado['Min_MT'] = [i for i in novo.loc[:,'NU_NOTA_MT']]

minimos = presentes.loc[(presentes['NU_NOTA_REDACAO'] != 0),selecao_linhas] # Matematica
novo = minimos.groupby('SG_UF_PROVA').min().sort_values(by=['SG_UF_PROVA'])
df_resultado['Min_RD'] = [i for i in novo.loc[:,'NU_NOTA_REDACAO']]

In [ ]:
df_estados_resultado2018 = df_resultado
df_estados_resultado2018.head()

,Estados,Regiao,Ausentes,Presentes,Med_CN,Med_CH,Med_LC,Med_MT,Med_RD,Max_CN,Max_CH,Max_LC,Max_MT,Max_RD,Min_CN,Min_CH,Min_LC,Min_MT,Min_RD
0,AC,Norte,19524,18792,467.832328,543.259595,505.196940,498.583073,469.972329,748.6,773.8,717.9,862.7,980.0,363.1,395.0,318.8,369.0,60.0
1,AL,Nordete,42451,45512,477.536287,550.959059,508.349178,517.020164,497.278959,799.9,796.8,763.8,962.0,980.0,362.5,394.5,318.8,361.2,60.0
2,AP,Norte,70401,53375,470.978203,544.581325,505.264182,503.351387,464.841218,803.5,791.2,775.9,965.8,980.0,362.5,394.5,318.8,361.3,40.0
3,AM,Norte,21391,19217,469.125176,546.990071,504.069652,499.806427,471.418015,737.4,782.8,736.7,914.1,980.0,362.5,394.5,318.8,369.4,80.0
4,BA,Nordeste,197773,200648,481.768842,558.950849,515.066609,515.963126,505.527092,851.6,825.6,793.1,990.4,980.0,362.5,394.5,318.8,360.0,40.0

#### Regiao

In [ ]:
filtro = ['NU_INSCRICAO','Regiao']
ausentes.filter(filtro).groupby('Regiao').count().sort_values(by=['NU_INSCRICAO'],ascending=False)

              NU_INSCRICAO
Regiao
Suldeste           1036107
Nordeste            847833
Norte               316897
Sul                 315236
Centro Oeste        243981
Nordete              42451

In [ ]:
eliminados.filter(filtro).groupby('Regiao').count().sort_values(by=['NU_INSCRICAO'],ascending=False)

              NU_INSCRICAO
Regiao
Suldeste              1371
Nordeste               920
Sul                    487
Norte                  327
Centro Oeste           307
Nordete                 43

In [ ]:
filtro = ['Regiao'] + notas
presentes.filter(filtro).groupby('Regiao').mean().sort_values(by=notas, ascending=False)

              NU_NOTA_MT  NU_NOTA_CH  NU_NOTA_LC  NU_NOTA_CN  NU_NOTA_REDACAO
Regiao
Suldeste      556.464200  587.057650  545.214898  508.627164       541.264453
Sul           547.831742  587.142590  542.955105  504.712796       524.145238
Centro Oeste  531.732810  569.136712  528.531294  495.103834       512.173870
Nordeste      520.518854  556.940586  514.336318  481.297714       502.020360
Nordete       517.020164  550.959059  508.349178  477.536287       497.278959
Norte         505.671590  548.858189  505.968515  474.155282       481.598472

In [ ]:
presentes.filter(filtro).groupby('Regiao').max().sort_values(by=notas,ascending=False)

              NU_NOTA_MT  NU_NOTA_CH  NU_NOTA_LC  NU_NOTA_CN  NU_NOTA_REDACAO
Regiao
Nordeste           996.1       850.4       816.9       869.6           1000.0
Suldeste           996.1       850.4       803.8       869.6           1000.0
Centro Oeste       996.1       850.4       781.9       869.6           1000.0
Sul                996.1       828.8       789.3       843.0           1000.0
Norte              983.1       822.9       775.9       825.4           1000.0
Nordete            962.0       796.8       763.8       799.9            980.0

In [ ]:
selecao_linhas = ['NU_INSCRICAO','Regiao'] + notas
minimos = presentes.loc[(presentes['NU_NOTA_MT'] != 0),selecao_linhas]
filtro = ['Regiao','NU_NOTA_MT'] 
minimos.filter(filtro).groupby('Regiao').min().sort_values(by=['Regiao'],ascending=False)

              NU_NOTA_MT
Regiao
Suldeste           362.1
Sul                363.4
Norte              361.3
Nordete            361.2
Nordeste           360.0
Centro Oeste       362.4

In [ ]:
minimos = presentes.loc[(presentes['NU_NOTA_LC'] != 0),selecao_linhas]
filtro = ['Regiao','NU_NOTA_LC'] 
minimos.filter(filtro).groupby('Regiao').min().sort_values(by=['NU_NOTA_LC'],ascending=False)

              NU_NOTA_LC
Regiao
Centro Oeste       318.8
Nordeste           318.8
Nordete            318.8
Sul                318.8
Norte              315.6
Suldeste           314.1

In [ ]:
minimos = presentes.loc[(presentes['NU_NOTA_CN'] != 0),selecao_linhas]
filtro = ['Regiao','NU_NOTA_CN'] 
minimos.filter(filtro).groupby('Regiao').min().sort_values(by=['NU_NOTA_CN'],ascending=False)

              NU_NOTA_CN
Regiao
Centro Oeste       362.5
Nordeste           362.5
Nordete            362.5
Norte              362.5
Sul                362.5
Suldeste           362.5

In [ ]:
minimos = presentes.loc[(presentes['NU_NOTA_CH'] != 0),selecao_linhas]
filtro = ['Regiao','NU_NOTA_CH'] 
minimos.filter(filtro).groupby('Regiao').min().sort_values(by=['NU_NOTA_CH'],ascending=False)

              NU_NOTA_CH
Regiao
Centro Oeste       394.5
Nordete            394.5
Sul                394.5
Nordeste           343.7
Suldeste           308.2
Norte              302.2

In [ ]:
filtro = ['Regiao'] + notas

#Criando a Tabela de Soluções
df_resultado = pd.DataFrame({'Regiao': ['Suldeste','Sul','Norte','Nordete','Nordeste','Centro Oeste']})

#Adicionando Ausentes
novo = ausentes.groupby('Regiao').count().sort_values(by=['Regiao'])
df_resultado['Ausentes'] = [i for i in novo.loc[:,'NU_INSCRICAO']]

#Adicionando Ausentes
novo = presentes.groupby('Regiao').count().sort_values(by=['Regiao'])
df_resultado['Presentes'] = [i for i in novo.loc[:,'NU_INSCRICAO']]

#Adicionando Media dos Candidatos
novo = presentes.filter(filtro).groupby('Regiao').mean().sort_values(by=['Regiao'])
df_resultado['Med_CN'] = [i for i in novo.loc[:,'NU_NOTA_CN']]      # Ciencias Naturais
df_resultado['Med_CH'] = [i for i in novo.loc[:,'NU_NOTA_CH']]      # Ciencias Humanas
df_resultado['Med_LC'] = [i for i in novo.loc[:,'NU_NOTA_LC']]      # Linguagens 
df_resultado['Med_MT'] = [i for i in novo.loc[:,'NU_NOTA_MT']]      # Matematica
df_resultado['Med_RD'] = [i for i in novo.loc[:,'NU_NOTA_REDACAO']] # Redação

#Adicionando as Notas Mais Altas
novo = presentes.filter(filtro).groupby('Regiao').max().sort_values(by=['Regiao'])
df_resultado['Max_CN'] = [i for i in novo.loc[:,'NU_NOTA_CN']]      # Ciencias Naturais
df_resultado['Max_CH'] = [i for i in novo.loc[:,'NU_NOTA_CH'] ]     # Ciencias Humanas
df_resultado['Max_LC'] = [i for i in novo.loc[:,'NU_NOTA_LC'] ]     # Linguagens
df_resultado['Max_MT'] = [i for i in novo.loc[:,'NU_NOTA_MT'] ]     # Matematica
df_resultado['Max_RD'] = [i for i in novo.loc[:,'NU_NOTA_REDACAO']] # Redação

#Adicionando as Menores Notas não nulas
minimos = presentes.loc[(presentes['NU_NOTA_CN'] != 0),selecao_linhas] # Ciencias Naturais
novo = minimos.groupby('Regiao').min().sort_values(by=['Regiao'])
df_resultado['Min_CN'] = [i for i in novo.loc[:, 'NU_NOTA_CN']]

minimos = presentes.loc[(presentes['NU_NOTA_CH'] != 0),selecao_linhas] # Ciencias Humanas
novo = minimos.groupby('Regiao').min().sort_values(by=['Regiao'])
df_resultado['Min_CH'] = [i for i in novo.loc[:, 'NU_NOTA_CH']]

minimos = presentes.loc[(presentes['NU_NOTA_LC'] != 0),selecao_linhas] # Linguagem
novo = minimos.groupby('Regiao').min().sort_values(by=['Regiao'])
df_resultado['Min_LC'] = [i for i in novo.loc[:,'NU_NOTA_LC']]

minimos = presentes.loc[(presentes['NU_NOTA_MT'] != 0),selecao_linhas] # Matematica
novo = minimos.groupby('Regiao').min().sort_values(by=['Regiao'])
df_resultado['Min_MT'] = [i for i in novo.loc[:,'NU_NOTA_MT']]

minimos = presentes.loc[(presentes['NU_NOTA_REDACAO'] != 0),selecao_linhas] # Matematica
novo = minimos.groupby('Regiao').min().sort_values(by=['Regiao'])
df_resultado['Min_RD'] = [i for i in novo.loc[:,'NU_NOTA_REDACAO']]

In [ ]:
df_regiao_resultado2018 = df_resultado
df_regiao_resultado2018.head()

,Regiao,Ausentes,Presentes,Med_CN,Med_CH,Med_LC,Med_MT,Med_RD,Max_CN,Max_CH,Max_LC,Max_MT,Max_RD,Min_CN,Min_CH,Min_LC,Min_MT,Min_RD
0,Suldeste,243981,221982,495.103834,569.136712,528.531294,531.732810,512.173870,869.6,850.4,781.9,996.1,1000.0,362.5,394.5,318.8,362.4,40.0
1,Sul,847833,874874,481.297714,556.940586,514.336318,520.518854,502.020360,869.6,850.4,816.9,996.1,1000.0,362.5,343.7,318.8,360.0,40.0
2,Norte,42451,45512,477.536287,550.959059,508.349178,517.020164,497.278959,799.9,796.8,763.8,962.0,980.0,362.5,394.5,318.8,361.2,60.0
3,Nordete,316897,297897,474.155282,548.858189,505.968515,505.671590,481.598472,825.4,822.9,775.9,983.1,1000.0,362.5,302.2,315.6,361.3,40.0
4,Nordeste,315236,290613,504.712796,587.142590,542.955105,547.831742,524.145238,843.0,828.8,789.3,996.1,1000.0,362.5,394.5,318.8,363.4,40.0

### Analise 2019

In [ ]:
#Criando os Filtros para a Divisão
filtro_ausente    = ((dp_Enem2019['TP_PRESENCA_CN'] == 0) | (dp_Enem2019['TP_PRESENCA_CH'] == 0) | (dp_Enem2019['TP_PRESENCA_LC'] == 0) | (dp_Enem2017['TP_PRESENCA_MT'] == 0))
filtro_presente   = ((dp_Enem2019['TP_PRESENCA_CN'] == 1) & (dp_Enem2019['TP_PRESENCA_CH'] == 1) & (dp_Enem2019['TP_PRESENCA_LC'] == 1) & (dp_Enem2017['TP_PRESENCA_MT'] == 1))
filtro_eliminado  = ((dp_Enem2019['TP_PRESENCA_CN'] == 2) | (dp_Enem2019['TP_PRESENCA_CH'] == 2) | (dp_Enem2019['TP_PRESENCA_LC'] == 2) | (dp_Enem2017['TP_PRESENCA_MT'] == 2))

In [ ]:
# Dividindo o Banco de Dadoo:
selecao_linhas = ['NU_INSCRICAO','SG_UF_PROVA']
ausentes    = dp_Enem2019.loc[filtro_ausente,selecao_linhas]
ausentes['Regiao'] = [dic_regiao[valor] for valor in ausentes['SG_UF_PROVA']] # <- Criando uma coluna nova para ajudar na identificação de alguns valores

eliminados  = dp_Enem2019.loc[filtro_eliminado,selecao_linhas]
eliminados['Regiao'] = [dic_regiao[valor] for valor in eliminados['SG_UF_PROVA']] # <- Criando uma coluna nova para ajudar na identificação de alguns valores

selecao_linhas = selecao_linhas + notas
presentes = dp_Enem2019.loc[filtro_presente,selecao_linhas]
presentes['Regiao'] = [dic_regiao[valor] for valor in presentes['SG_UF_PROVA']] # <- Criando uma coluna nova para ajudar na identificação de alguns valores

#### Estados

In [ ]:
filtro = ['NU_INSCRICAO','SG_UF_PROVA']
ausentes.filter(filtro).groupby('SG_UF_PROVA').count().sort_values(by=['NU_INSCRICAO'],ascending=False)

             NU_INSCRICAO
SG_UF_PROVA
SP                 410106
MG                 259470
BA                 190923
RJ                 165380
CE                 138973
PA                 135342
PE                 129603
RS                 109858
PR                 107596
MA                 101940
GO                  84273
AM                  65583
PB                  64444
PI                  56007
SC                  55490
RN                  54008
ES                  50333
DF                  48561
MT                  46492
AL                  42288
MS                  36565
SE                  35711
RO                  29816
TO                  22958
AP                  21517
AC                  19416
RR                   6763

In [ ]:
eliminados.filter(filtro).groupby('SG_UF_PROVA').count().sort_values(by=['NU_INSCRICAO'],ascending=False)

             NU_INSCRICAO
SG_UF_PROVA
SP                   1150
MG                    757
BA                    453
RJ                    424
PE                    366
PR                    366
PA                    307
CE                    307
RS                    292
GO                    275
MA                    247
RN                    202
SC                    189
PB                    173
MT                    147
PI                    146
ES                    146
DF                    138
MS                    115
SE                    107
AM                    106
AL                     85
TO                     76
RO                     70
AP                     67
AC                     51
RR                     28

In [ ]:
filtro = ['SG_UF_PROVA'] + notas
presentes.filter(filtro).groupby('SG_UF_PROVA').mean().sort_values(by=notas, ascending=False)

             NU_NOTA_MT  NU_NOTA_CH  NU_NOTA_LC  NU_NOTA_CN  NU_NOTA_REDACAO
SG_UF_PROVA
SP           551.689227  531.216488  542.314686  497.252384       596.978756
SC           548.109095  528.737585  536.407360  492.725218       591.774796
MG           547.134124  524.130862  533.427988  492.666265       606.831366
ES           542.571144  521.191487  529.591137  489.287733       598.194958
PR           541.671434  527.312078  535.643724  492.678261       577.003011
RS           539.846718  526.901133  536.385550  486.579878       589.442770
RJ           539.602720  526.288550  537.924479  492.036196       607.764076
DF           536.102933  526.714304  537.699357  492.488278       596.057637
GO           523.202019  508.667372  522.290421  478.213423       585.732670
RN           518.577414  505.471486  518.891676  475.770840       587.702164
CE           517.427599  499.398752  513.106585  468.087058       573.412455
PE           517.219432  500.600845  515.627898  470.293020       570.677812
MS           514.053923  503.711936  518.508529  474.631288       560.521471
PB           510.144027  498.488500  511.743957  468.146047       582.251551
SE           507.109868  497.544262  510.979433  468.360226       594.527414
MT           504.986548  497.522259  510.430408  466.892312       548.986149
BA           500.590777  495.643719  510.671050  464.695409       565.078276
AL           500.512804  488.327478  504.591581  458.978808       565.177684
RR           499.419162  499.857924  511.614521  467.692044       533.661061
PI           499.003194  486.394665  501.384586  459.284693       571.189668
TO           495.216642  484.222896  502.687822  458.758791       558.601314
RO           494.830958  490.213788  505.981180  459.414184       536.178370
PA           485.281140  488.075622  500.018387  457.397953       563.597752
MA           483.425164  479.323559  496.304078  450.856562       541.194182
AC           481.744667  483.573572  501.885638  450.770480       542.172714
AM           481.262594  484.237831  501.758318  451.078816       519.366409
AP           473.044533  484.643224  497.429948  449.878734       539.392129

In [ ]:
presentes.filter(filtro).groupby('SG_UF_PROVA').max().sort_values(by=notas,ascending=False)

             NU_NOTA_MT  NU_NOTA_CH  NU_NOTA_LC  NU_NOTA_CN  NU_NOTA_REDACAO
SG_UF_PROVA
MG                985.5       822.7       770.5       842.8           1000.0
PB                985.5       809.4       753.1       838.6           1000.0
CE                985.5       808.5       767.7       841.8           1000.0
DF                985.5       802.1       749.6       801.5           1000.0
PI                985.5       789.9       801.7       843.2           1000.0
RJ                985.0       835.1       787.3       831.6           1000.0
RS                985.0       835.1       785.1       793.1           1000.0
SP                985.0       822.7       772.3       860.9           1000.0
PE                985.0       820.4       801.7       836.6           1000.0
GO                985.0       809.4       742.7       841.8           1000.0
ES                985.0       793.4       749.6       831.1            980.0
RN                985.0       793.2       731.1       847.8           1000.0
SE                985.0       777.4       801.7       802.9            980.0
TO                985.0       768.4       732.4       771.0            980.0
SC                984.2       799.4       748.0       827.9            980.0
PR                976.5       798.3       770.5       808.7            980.0
AL                974.9       772.6       758.9       790.6           1000.0
BA                974.3       808.3       801.7       840.5           1000.0
AM                973.4       759.4       732.4       769.3            980.0
MA                966.3       782.3       725.5       786.0            980.0
MT                966.0       784.7       724.3       769.1            980.0
MS                964.2       768.2       738.6       787.1           1000.0
PA                954.6       784.1       738.9       797.3           1000.0
AC                924.4       739.6       718.6       763.3            980.0
RR                911.9       743.3       694.5       791.6            980.0
AP                906.0       759.5       686.7       716.1            980.0
RO                906.0       759.3       687.1       766.9            980.0

In [ ]:
selecao_linhas = ['NU_INSCRICAO','SG_UF_PROVA'] + notas
minimos = presentes.loc[(presentes['NU_NOTA_MT'] != 0),selecao_linhas]
filtro = ['SG_UF_PROVA','NU_NOTA_MT'] 
minimos.filter(filtro).groupby('SG_UF_PROVA').min().sort_values(by=['NU_NOTA_MT'],ascending=False)

             NU_NOTA_MT
SG_UF_PROVA
AC                359.0
PB                359.0
SP                359.0
SE                359.0
SC                359.0
RS                359.0
RR                359.0
RO                359.0
RN                359.0
RJ                359.0
PR                359.0
PI                359.0
PE                359.0
PA                359.0
AL                359.0
MT                359.0
MS                359.0
MG                359.0
MA                359.0
GO                359.0
ES                359.0
DF                359.0
CE                359.0
BA                359.0
AP                359.0
AM                359.0
TO                359.0

In [ ]:
minimos = presentes.loc[(presentes['NU_NOTA_LC'] != 0),selecao_linhas]
filtro = ['SG_UF_PROVA','NU_NOTA_LC'] 
minimos.filter(filtro).groupby('SG_UF_PROVA').min().sort_values(by=['NU_NOTA_LC'],ascending=False)

             NU_NOTA_LC
SG_UF_PROVA
RR                324.9
TO                323.4
MS                323.2
AL                323.2
PB                323.2
ES                323.1
SE                322.9
RN                322.8
RS                322.7
RO                322.5
SC                322.2
MG                322.2
PE                322.1
PR                322.0
SP                322.0
RJ                322.0
AC                322.0
PI                322.0
MT                322.0
MA                322.0
GO                322.0
DF                322.0
CE                322.0
BA                322.0
AP                322.0
AM                322.0
PA                322.0

In [ ]:
minimos = presentes.loc[(presentes['NU_NOTA_CN'] != 0),selecao_linhas]
filtro = ['SG_UF_PROVA','NU_NOTA_CN'] 
minimos.filter(filtro).groupby('SG_UF_PROVA').min().sort_values(by=['NU_NOTA_CN'],ascending=False)

             NU_NOTA_CN
SG_UF_PROVA
TO                329.2
RR                329.1
AC                328.0
AP                327.9
BA                327.9
SP                327.9
SE                327.9
SC                327.9
RS                327.9
AM                327.9
RO                327.9
RN                327.9
RJ                327.9
PR                327.9
PI                327.9
PE                327.9
PB                327.9
AL                327.9
MT                327.9
MS                327.9
MG                327.9
MA                327.9
GO                327.9
ES                327.9
DF                327.9
CE                327.9
PA                327.9

In [ ]:
minimos = presentes.loc[(presentes['NU_NOTA_CH'] != 0),selecao_linhas]
filtro = ['SG_UF_PROVA','NU_NOTA_CH'] 
minimos.filter(filtro).groupby('SG_UF_PROVA').min().sort_values(by=['NU_NOTA_CH'],ascending=False)

             NU_NOTA_CH
SG_UF_PROVA
MS                316.4
AC                315.9
PB                315.9
SP                315.9
SE                315.9
SC                315.9
RS                315.9
RR                315.9
RO                315.9
RN                315.9
RJ                315.9
PR                315.9
PI                315.9
PE                315.9
PA                315.9
AL                315.9
MT                315.9
MG                315.9
MA                315.9
GO                315.9
ES                315.9
DF                315.9
CE                315.9
BA                315.9
AP                315.9
AM                315.9
TO                315.9

In [ ]:
filtro = ['SG_UF_PROVA'] + notas

#Criando a Tabela de Soluções
df_resultado = pd.DataFrame({'Estados' : dic_regiao.keys(),'Regiao': dic_regiao.values()})

#Adicionando Ausentes
novo = ausentes.groupby('SG_UF_PROVA').count().sort_values(by=['SG_UF_PROVA'])
df_resultado['Ausentes'] = [i for i in novo.loc[:,'NU_INSCRICAO']]

#Adicionando Ausentes
novo = presentes.groupby('SG_UF_PROVA').count().sort_values(by=['SG_UF_PROVA'])
df_resultado['Presentes'] = [i for i in novo.loc[:,'NU_INSCRICAO']]

#Adicionando Media dos Candidatos
novo = presentes.filter(filtro).groupby('SG_UF_PROVA').mean().sort_values(by=['SG_UF_PROVA'])
df_resultado['Med_CN'] = [i for i in novo.loc[:,'NU_NOTA_CN']]      # Ciencias Naturais
df_resultado['Med_CH'] = [i for i in novo.loc[:,'NU_NOTA_CH']]      # Ciencias Humanas
df_resultado['Med_LC'] = [i for i in novo.loc[:,'NU_NOTA_LC']]      # Linguagens 
df_resultado['Med_MT'] = [i for i in novo.loc[:,'NU_NOTA_MT']]      # Matematica
df_resultado['Med_RD'] = [i for i in novo.loc[:,'NU_NOTA_REDACAO']] # Redação

#Adicionando as Notas Mais Altas
novo = presentes.filter(filtro).groupby('SG_UF_PROVA').max().sort_values(by=['SG_UF_PROVA'])
df_resultado['Max_CN'] = [i for i in novo.loc[:,'NU_NOTA_CN']]      # Ciencias Naturais
df_resultado['Max_CH'] = [i for i in novo.loc[:,'NU_NOTA_CH'] ]     # Ciencias Humanas
df_resultado['Max_LC'] = [i for i in novo.loc[:,'NU_NOTA_LC'] ]     # Linguagens
df_resultado['Max_MT'] = [i for i in novo.loc[:,'NU_NOTA_MT'] ]     # Matematica
df_resultado['Max_RD'] = [i for i in novo.loc[:,'NU_NOTA_REDACAO']] # Redação

#Adicionando as Menores Notas não nulas
minimos = presentes.loc[(presentes['NU_NOTA_CN'] != 0),selecao_linhas] # Ciencias Naturais
novo = minimos.groupby('SG_UF_PROVA').min().sort_values(by=['SG_UF_PROVA'])
df_resultado['Min_CN'] = [i for i in novo.loc[:, 'NU_NOTA_CN']]

minimos = presentes.loc[(presentes['NU_NOTA_CH'] != 0),selecao_linhas] # Ciencias Humanas
novo = minimos.groupby('SG_UF_PROVA').min().sort_values(by=['SG_UF_PROVA'])
df_resultado['Min_CH'] = [i for i in novo.loc[:, 'NU_NOTA_CH']]

minimos = presentes.loc[(presentes['NU_NOTA_LC'] != 0),selecao_linhas] # Linguagem
novo = minimos.groupby('SG_UF_PROVA').min().sort_values(by=['SG_UF_PROVA'])
df_resultado['Min_LC'] = [i for i in novo.loc[:,'NU_NOTA_LC']]

minimos = presentes.loc[(presentes['NU_NOTA_MT'] != 0),selecao_linhas] # Matematica
novo = minimos.groupby('SG_UF_PROVA').min().sort_values(by=['SG_UF_PROVA'])
df_resultado['Min_MT'] = [i for i in novo.loc[:,'NU_NOTA_MT']]

minimos = presentes.loc[(presentes['NU_NOTA_REDACAO'] != 0),selecao_linhas] # Matematica
novo = minimos.groupby('SG_UF_PROVA').min().sort_values(by=['SG_UF_PROVA'])
df_resultado['Min_RD'] = [i for i in novo.loc[:,'NU_NOTA_REDACAO']]

In [ ]:
df_estados_resultado2019 = df_resultado
df_estados_resultado2019.head()

,Estados,Regiao,Ausentes,Presentes,Med_CN,Med_CH,Med_LC,Med_MT,Med_RD,Max_CN,Max_CH,Max_LC,Max_MT,Max_RD,Min_CN,Min_CH,Min_LC,Min_MT,Min_RD
0,AC,Norte,19416,19211,450.770480,483.573572,501.885638,481.744667,542.172714,763.3,739.6,718.6,924.4,980.0,328.0,315.9,322.0,359.0,40.0
1,AL,Nordete,42288,47500,458.978808,488.327478,504.591581,500.512804,565.177684,790.6,772.6,758.9,974.9,1000.0,327.9,315.9,323.2,359.0,60.0
2,AP,Norte,65583,52526,451.078816,484.237831,501.758318,481.262594,519.366409,769.3,759.4,732.4,973.4,980.0,327.9,315.9,322.0,359.0,40.0
3,AM,Norte,21517,21090,449.878734,484.643224,497.429948,473.044533,539.392129,716.1,759.5,686.7,906.0,980.0,327.9,315.9,322.0,359.0,60.0
4,BA,Nordeste,190923,204341,464.695409,495.643719,510.671050,500.590777,565.078276,840.5,808.3,801.7,974.3,1000.0,327.9,315.9,322.0,359.0,60.0

#### Regiao

In [ ]:
filtro = ['NU_INSCRICAO','Regiao']
ausentes.filter(filtro).groupby('Regiao').count().sort_values(by=['NU_INSCRICAO'],ascending=False)

              NU_INSCRICAO
Regiao
Suldeste            885289
Nordeste            771609
Norte               301395
Sul                 272944
Centro Oeste        215891
Nordete              42288

In [ ]:
eliminados.filter(filtro).groupby('Regiao').count().sort_values(by=['NU_INSCRICAO'],ascending=False)

              NU_INSCRICAO
Regiao
Suldeste              2477
Nordeste              2001
Sul                    847
Norte                  705
Centro Oeste           675
Nordete                 85

In [ ]:
filtro = ['Regiao'] + notas
presentes.filter(filtro).groupby('Regiao').mean().sort_values(by=notas, ascending=False)

              NU_NOTA_MT  NU_NOTA_CH  NU_NOTA_LC  NU_NOTA_CN  NU_NOTA_REDACAO
Regiao
Suldeste      547.463485  527.546927  538.047783  494.403388       602.108763
Sul           542.258926  527.439368  536.102494  490.211867       585.101900
Centro Oeste  521.008348  509.733405  522.805477  478.611136       576.648325
Nordeste      506.496734  495.367982  510.052896  465.313907       569.518407
Nordete       500.512804  488.327478  504.591581  458.978808       565.177684
Norte         485.472886  487.006192  501.299510  455.824819       548.909438

In [ ]:
presentes.filter(filtro).groupby('Regiao').max().sort_values(by=notas,ascending=False)

              NU_NOTA_MT  NU_NOTA_CH  NU_NOTA_LC  NU_NOTA_CN  NU_NOTA_REDACAO
Regiao
Suldeste           985.5       835.1       787.3       860.9           1000.0
Nordeste           985.5       820.4       801.7       847.8           1000.0
Centro Oeste       985.5       809.4       749.6       841.8           1000.0
Sul                985.0       835.1       785.1       827.9           1000.0
Norte              985.0       784.1       738.9       797.3           1000.0
Nordete            974.9       772.6       758.9       790.6           1000.0

In [ ]:
selecao_linhas = ['NU_INSCRICAO','Regiao'] + notas
minimos = presentes.loc[(presentes['NU_NOTA_MT'] != 0),selecao_linhas]
filtro = ['Regiao','NU_NOTA_MT'] 
minimos.filter(filtro).groupby('Regiao').min().sort_values(by=['Regiao'],ascending=False)

              NU_NOTA_MT
Regiao
Suldeste           359.0
Sul                359.0
Norte              359.0
Nordete            359.0
Nordeste           359.0
Centro Oeste       359.0

In [ ]:
minimos = presentes.loc[(presentes['NU_NOTA_LC'] != 0),selecao_linhas]
filtro = ['Regiao','NU_NOTA_LC'] 
minimos.filter(filtro).groupby('Regiao').min().sort_values(by=['NU_NOTA_LC'],ascending=False)

              NU_NOTA_LC
Regiao
Nordete            323.2
Centro Oeste       322.0
Nordeste           322.0
Norte              322.0
Sul                322.0
Suldeste           322.0

In [ ]:
minimos = presentes.loc[(presentes['NU_NOTA_CN'] != 0),selecao_linhas]
filtro = ['Regiao','NU_NOTA_CN'] 
minimos.filter(filtro).groupby('Regiao').min().sort_values(by=['NU_NOTA_CN'],ascending=False)

              NU_NOTA_CN
Regiao
Centro Oeste       327.9
Nordeste           327.9
Nordete            327.9
Norte              327.9
Sul                327.9
Suldeste           327.9

In [ ]:
minimos = presentes.loc[(presentes['NU_NOTA_CH'] != 0),selecao_linhas]
filtro = ['Regiao','NU_NOTA_CH'] 
minimos.filter(filtro).groupby('Regiao').min().sort_values(by=['NU_NOTA_CH'],ascending=False)

              NU_NOTA_CH
Regiao
Centro Oeste       315.9
Nordeste           315.9
Nordete            315.9
Norte              315.9
Sul                315.9
Suldeste           315.9

In [ ]:
filtro = ['Regiao'] + notas

#Criando a Tabela de Soluções
df_resultado = pd.DataFrame({'Regiao': ['Suldeste','Sul','Norte','Nordete','Nordeste','Centro Oeste']})

#Adicionando Ausentes
novo = ausentes.groupby('Regiao').count().sort_values(by=['Regiao'])
df_resultado['Ausentes'] = [i for i in novo.loc[:,'NU_INSCRICAO']]

#Adicionando Ausentes
novo = presentes.groupby('Regiao').count().sort_values(by=['Regiao'])
df_resultado['Presentes'] = [i for i in novo.loc[:,'NU_INSCRICAO']]

#Adicionando Media dos Candidatos
novo = presentes.filter(filtro).groupby('Regiao').mean().sort_values(by=['Regiao'])
df_resultado['Med_CN'] = [i for i in novo.loc[:,'NU_NOTA_CN']]      # Ciencias Naturais
df_resultado['Med_CH'] = [i for i in novo.loc[:,'NU_NOTA_CH']]      # Ciencias Humanas
df_resultado['Med_LC'] = [i for i in novo.loc[:,'NU_NOTA_LC']]      # Linguagens 
df_resultado['Med_MT'] = [i for i in novo.loc[:,'NU_NOTA_MT']]      # Matematica
df_resultado['Med_RD'] = [i for i in novo.loc[:,'NU_NOTA_REDACAO']] # Redação

#Adicionando as Notas Mais Altas
novo = presentes.filter(filtro).groupby('Regiao').max().sort_values(by=['Regiao'])
df_resultado['Max_CN'] = [i for i in novo.loc[:,'NU_NOTA_CN']]      # Ciencias Naturais
df_resultado['Max_CH'] = [i for i in novo.loc[:,'NU_NOTA_CH'] ]     # Ciencias Humanas
df_resultado['Max_LC'] = [i for i in novo.loc[:,'NU_NOTA_LC'] ]     # Linguagens
df_resultado['Max_MT'] = [i for i in novo.loc[:,'NU_NOTA_MT'] ]     # Matematica
df_resultado['Max_RD'] = [i for i in novo.loc[:,'NU_NOTA_REDACAO']] # Redação

#Adicionando as Menores Notas não nulas
minimos = presentes.loc[(presentes['NU_NOTA_CN'] != 0),selecao_linhas] # Ciencias Naturais
novo = minimos.groupby('Regiao').min().sort_values(by=['Regiao'])
df_resultado['Min_CN'] = [i for i in novo.loc[:, 'NU_NOTA_CN']]

minimos = presentes.loc[(presentes['NU_NOTA_CH'] != 0),selecao_linhas] # Ciencias Humanas
novo = minimos.groupby('Regiao').min().sort_values(by=['Regiao'])
df_resultado['Min_CH'] = [i for i in novo.loc[:, 'NU_NOTA_CH']]

minimos = presentes.loc[(presentes['NU_NOTA_LC'] != 0),selecao_linhas] # Linguagem
novo = minimos.groupby('Regiao').min().sort_values(by=['Regiao'])
df_resultado['Min_LC'] = [i for i in novo.loc[:,'NU_NOTA_LC']]

minimos = presentes.loc[(presentes['NU_NOTA_MT'] != 0),selecao_linhas] # Matematica
novo = minimos.groupby('Regiao').min().sort_values(by=['Regiao'])
df_resultado['Min_MT'] = [i for i in novo.loc[:,'NU_NOTA_MT']]

minimos = presentes.loc[(presentes['NU_NOTA_REDACAO'] != 0),selecao_linhas] # Matematica
novo = minimos.groupby('Regiao').min().sort_values(by=['Regiao'])
df_resultado['Min_RD'] = [i for i in novo.loc[:,'NU_NOTA_REDACAO']]

In [ ]:
df_regiao_resultado2019 = df_resultado
df_regiao_resultado2019.head()

,Regiao,Ausentes,Presentes,Med_CN,Med_CH,Med_LC,Med_MT,Med_RD,Max_CN,Max_CH,Max_LC,Max_MT,Max_RD,Min_CN,Min_CH,Min_LC,Min_MT,Min_RD
0,Suldeste,215891,208266,478.611136,509.733405,522.805477,521.008348,576.648325,841.8,809.4,749.6,985.5,1000.0,327.9,315.9,322.0,359.0,40.0
1,Sul,771609,878772,465.313907,495.367982,510.052896,506.496734,569.518407,847.8,820.4,801.7,985.5,1000.0,327.9,315.9,322.0,359.0,40.0
2,Norte,42288,47500,458.978808,488.327478,504.591581,500.512804,565.177684,790.6,772.6,758.9,974.9,1000.0,327.9,315.9,323.2,359.0,60.0
3,Nordete,301395,295224,455.824819,487.006192,501.299510,485.472886,548.909438,797.3,784.1,738.9,985.0,1000.0,327.9,315.9,322.0,359.0,40.0
4,Nordeste,272944,267273,490.211867,527.439368,536.102494,542.258926,585.101900,827.9,835.1,785.1,985.0,1000.0,327.9,315.9,322.0,359.0,40.0